---
title: "French Programme"
description: ""
keywords: []
url:
  legacy: "/saturdayschool/french-programme/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4"><%= current_page.data.title %></h1>

      <h2>Objectives</h2>
      <ol>
        <li>Provide comprehensive and total language support for students in French.</li>
        <li>Focus solely on further enhancing the language levels of a student so that any child who joins any of our programmes will have more confidence and better skills in the application and usage of French by the end of the programme.</li>
      </ol>

      <h2>Curriculum</h2>
      <p>The curriculum includes any or all of the following; speaking and communication, questions and answers, vocabulary building, reading, writing, grammar, comprehension, individual writing tasks, making and giving presentations, public speaking, etc. depending on the level of the class.</p>

      <h2>Eligibility</h2>
      <p>Any child who already has a fair ability in French and is between the ages of 5~12 with at least one French speaking parent or member of the family.</p>

      <h2>Some Important French Programme Details</h2>
      <ul>
        <li>There are 30 class days in a one year programme (Sep. to Jun.); each class day is of three hours duration, starting at 9.00 a.m. and ending at 12.00 p.m.</li>
        <li>Depending on the total number of students joining the programme we usually divide the students into two (or more) classes taking into account their level and ability in the language as well as their ages in this case. Please note that in this case there would be students of varied levels in one class. However our teachers do their best to make smaller groups of similar levels in each class and put in place appropriate teaching methods to see that all children in the class benefit equally from learning. In the case of a class having a very large number of students, we might at the school’s discretion, consider having an assistant teacher also in the class to assist the main class teacher in teaching.</li>
        <li>A minimum of five students is required to run any class level. We try our best to keep student and teacher ratios at conducive levels.</li>
        <li>Homework is usually given to the students at every class, parents are informed about this and are expected to help and support their child in completing this at home (if the child has any difficulties doing it).</li>
        <li>Twice a year a Term Report is prepared for every child assessing their strengths, growth, levels and performance during that period.</li>
        <li>Children who continue the programme over the next year are assessed at the end of the year, as to their suitability in moving up to the next level or staying in the same level for another year, depending on their progress.</li>
      </ul>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
      <h3>Application Forms</h3>

      <p class="lead font-weight-bold">French School</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Application for trial day', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %> (French school)</li>
      </ul>

      <h3 class="mt-3">Go back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Back to main Saturday School page', local_path('saturdayschool') %></li>
      </ul>
    </div>
  </div>
</div>
