---
title: "入学手続き"
icon: "icons/admissions.png"
description: ""
keywords: []
url:
  legacy: "/saturdayschool-jpn/admission-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">サタデースクール・<%= current_page.data.title %></h1>

      <h2>イングリッシュスクール / ムーブ・トウ・ラーン</h2>

      <p class="lead font-weight-bold">2019年9月開始</p>

      <p>ご入会希望のお子様に、7月にインタビューを実施しますので、お申込みは、できるだけ3月20日から6月30日までにお願いします。</p>
      <p>インタビューの日程：インタビューの日を上記の中からお選びいただき、合わせてお時間も選んでいただけるよう、eメールでご連絡いたします。</p>

      <p class="lead font-weight-bold">お申込み手順</p>

      <p>インタビューを受けていただき、お子様の英語レベルにより、最適なクラスを決定いたします。土曜スクールは、年齢ではなく、能力によりクラスが分かれます。</p>
      <p>インタビューは、お子様お1人につき、約20分です。ご両親には、インタビューのいずれかの日にご登録をお願いします。</p>

      <p class="lead font-weight-bold">開始日は調整可能</p>

      <p>他の時期のお申込みの場合、お受入れの保証はできかねますが、できるだけお受入れできるよう努力いたします。お子様には、まずトライアルレッスンに参加していただきます。</p>

      <p class="lead font-weight-bold">お受入れの通知とお支払い計画</p>

      <p>土曜スクールプログラムにお子様のご入会が決定しましたら、ご請求書を発送いたします。</p>

      <h2>ドイツ語・フランス語スクール</h2>

      <p class="lead font-weight-bold">2019年9月開始</p>

      <p>申込み用紙に必要事項をご記入の上、提出してください（ドイツ語 、フランス語）。2019年9月に始まるスケジュールを設定し、クラスの子供たちを決定しますので、お申込みの提出は、できるだけ3月20日から6月30日までにお願いします。</p>

      <p class="lead font-weight-bold">開始日は調整可能</p>

      <p>他の時期のお申込みの場合、お受入れの保証はできかねますが、できるだけお受入れできるよう努力いたします。お子様には、まずトライアルレッスンに参加していただきます。</p>

      <p class="lead font-weight-bold">お受入れの通知とお支払い計画</p>

      <p>土曜スクールプログラムにお子様のご入会が決定しましたら、ご請求書を発送いたします。</p>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>オンラインフォームとダウンロード</h3>

      <p class="lead font-weight-bold">ダウンロード – イングリッシュ・スクール</p>
      <ul class="list-unstyled">
        <li><%= link_to '申し込みフォーム', 'https://goo.gl/forms/E9urYgfw9v10JUAG2' %></li>
        <li><%= link_to 'イングリッシュ・サタデースクールインフォメーションドキュメント - PDF', '/media/saturday/English-Saturday-School-Information-1.pdf' %>
      </ul>

      <p class="lead font-weight-bold">Move to Learn</p>
      <ul class="list-unstyled">
        <li><%= link_to '申し込みフォーム', 'https://goo.gl/forms/t3MrHoCBzAXOL0l32' %></li>
      </ul>

      <p class="lead font-weight-bold">ダウンロード - フランス/ドイツ・スクール</p>
      <ul class="list-unstyled">
        <li><%= link_to 'トライアルディの申込み（ドイツ語・スクール）', 'https://goo.gl/forms/V8UJIRu060Wo7w142' %> (German school)</li>
        <li><%= link_to 'トライアルディの申込み（フランス語・スクール）', 'https://goo.gl/forms/chpgDalZTos0aGX93' %> (French school)</li>
        <li><%= link_to 'ドイツ語・サタデースクールインフォメーションドキュメント - PDF', '/media/saturday/German-Saturday-School-Information-1.pdf' %>
        <li><%= link_to 'フランス語・サタデースクールインフォメーションドキュメント - PDF', '/media/saturday/French-Saturday-School-Information-1.pdf' %>
      </ul>
    </div>
  </div>
</div>
