---
title: "Admission Process"
icon: "icons/admissions.png"
description: ""
keywords: []
url:
  legacy: "/saturdayschool/admission/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">Saturday School - <%= current_page.data.title %></h1>

      <h2>English School / Move to Learn</h2>

      <p class="lead font-weight-bold">September 2019 Start</p>

      <p>Please submit the appropriate application form for the program you choose for your child. The best time for submission of applications is from <strong>March 20th until June 30th</strong>, because we will be conducting interviews for prospective students in July.</p>
      <p>Dates for the interview: We will contact you and give you a choice of the dates mentioned above along with a choice of time for your interview as available.</p>

      <p class="lead font-weight-bold">Application Procedure</p>

      <p>We will conduct an interview to determine each student's English proficiency and assess the most suitable class for your child. The Saturday School classes are divided by a child's ability and not by age.</p>
      <p>The interview will take around 20 minutes per student. Parents are asked to register for one of the interview dates.</p>

      <p class="lead font-weight-bold">Flexible Start Date</p>

      <p>You can also apply at any other time during the year and we will try our best to accommodate your child, however we cannot  guarantee your child a place as the availability of space in the class will also be taken into consideration. Your child would also need to attend a Trial Lesson first.</p>

      <p class="lead font-weight-bold">Notice of acceptance and payment plan</p>

      <p>As soon as we confirm your child's place in the Saturday School program, an invoice will be made and forwarded to you for payment. Once an invoice is issued no changes to the starting date will be accepted or made.</p>

      <h2>German & French School</h2>

      <p class="lead font-weight-bold">September 2019 Start</p>

      <p>Please submit the appropriate application form for the program you choose for your child. The best time for submission of applications is from <strong>March 20th until June 30th</strong> because we will be setting up the schedule and also confirming children for classes starting in September 2019. Your child would also need to attend a Trial Lesson first in September for assessment before final confirmation.</p>

      <p class="lead font-weight-bold">Flexible Start Date</p>

      <p>You can also apply at any other time during the year and we will try our best to accommodate your child, however we cannot  guarantee your child a place as the availability of space in the class will also be taken into consideration. Your child would also need to attend a Trial Lesson first.</p>

      <p class="lead font-weight-bold">Notice of acceptance and payment plan</p>

      <p>As soon as we confirm your child's place in the Saturday School program, an invoice will be made and forwarded to you for payment. Once an invoice is issued no changes to the starting date will be accepted or made.</p>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>Forms & Downloads</h3>

      <p class="lead font-weight-bold">English School</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application', 'https://goo.gl/forms/E9urYgfw9v10JUAG2' %></li>
        <li><%= link_to 'English Saturday School Information PDF', '/media/saturday/English-Saturday-School-Information-1.pdf' %>
      </ul>

      <p class="lead font-weight-bold">Move to Learn</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application', 'https://goo.gl/forms/t3MrHoCBzAXOL0l32' %></li>
      </ul>

      <p class="lead font-weight-bold">German/French School</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Application for trial day', 'https://goo.gl/forms/V8UJIRu060Wo7w142' %> (German school)</li>
        <li><%= link_to 'Application for trial day', 'https://goo.gl/forms/chpgDalZTos0aGX93' %> (French school)</li>
        <li><%= link_to 'German Saturday School Information PDF', '/media/saturday/German-Saturday-School-Information-1.pdf' %>
        <li><%= link_to 'French Saturday School Information PDF', '/media/saturday/French-Saturday-School-Information-1.pdf' %>
      </ul>

      <h3 class="mt-3">Go back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Back to main Saturday School page', local_path('saturdayschool') %></li>
      </ul>
    </div>
  </div>
</div>
