---
title: "サタデースクール：DSK"
description: ""
keywords: []
url:
  legacy: "/saturdayschool-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/7_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">サタデースクール</h1>

      <p>DSK Internationalのサタデースクールは、英語、ドイツ語、フランス語を話す5歳から12歳の子供たちに土曜日の午前中開放されています。</p>
      <p><%= link_to '英語', local_path('saturdayschool/english-program'), class: 'font-weight-bold' %>、<%= link_to 'ドイツ語', local_path('saturdayschool/german-program'), class: 'font-weight-bold' %>、<%= link_to 'フランス語', local_path('saturdayschool/french-program'), class: 'font-weight-bold' %>による3つの通常プログラムと、学習と運動に基づいた<%= link_to 'Move to Learnプログラム', local_path('saturdayschool/move-to-learn'), class: 'font-weight-bold' %>があります。2018−2019年のプログラムは2018年9月に始まります。お申し込みは2月から6月に主に受け付けておりますが、他の月でもお申し込み頂けます。</p>
      <p>英語、ドイツ語、フランス語の3つのプログラムに関する独自の教育学習プログラムを同じ校舎内で提供します。各プログラムの教師はネイティブまたはほぼネイティブで、経験と資格を有する専門の言語教師です。</p>
      <p>英語、ドイツ語、フランス語のプログラムは、お子様の総合的な言語能力の向上を望まれる親御様のご要望に応えられるように編成されています。このプログラムは、選択された言語スキルの習得や向上を助け、バイリンガル/トリリンガルのお子様のニーズに合うように構成されています。</p>
      <p>年度は30週間（30レッスン）2学期（各学期15レッスン）から成り立っています。レッスンは生徒の学年や能力に沿って組まれたカリキュラムに基づいています。</p>
      <p>これらの教育プログラムに加え、サタデースクールではお子様だけでなく親御様にも国際的なコミュニティの一員として参加していただく機会を提供したいと考えています。</p>
      <p>各プログラムの詳細は、以下のリンクをクリックして下さい。</p>

      <div class="row mb-5">
        <div class="col-md-4"><%= link_to '英語', local_path('saturdayschool/english-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
        <div class="col-md-4"><%= link_to 'ドイツ語', local_path('saturdayschool/german-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
        <div class="col-md-4"><%= link_to 'フランス語', local_path('saturdayschool/french-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
      </div>

      <h2>ムーブ・トウ・ラーン© （オーストラリア本拠地のプログラム）</h2>

      <p>本プログラムは、言語ベースのプログラムではなく、学びベースの運動と活動のプログラムです。</p>
      <p>この新しいプログラムの主要目的は、子供たち一人ひとりを、以下について向上させることです。</p>

      <ul>
        <li>自信</li>
        <li>集中力</li>
        <li>適切な行動</li>
        <li>物事に挑戦する精神力（やりたくないことや興味がないことであっても）</li>
        <li>脳と体の協調とコミュニケーション  </li>
      </ul>

      <p>これらはすべて、すべての子供たちの将来の成長、学び、教育において、大変重要な基準の一環となります。</p>

      <p class="lead font-weight-bold">本プログラムの特長</p>

      <ul>
        <li>主に英語で実施されますが、日本語も使用されます。</li>
        <li>土曜スクールコーディネーターであるCecil Burton氏によって作成された独自のカリキュラムがあり、楽しい運動、活動、音楽、歌、ゲーム、遊び、美術、創作などがたくさん詰まっています。</li>
        <li>5歳から12歳のお子様は誰でも参加することができ、1つのクラスにのみ参加できます。</li>
        <li>特別な支援が必要なお子様は特に歓迎です。（条件があります）</li>
        <li>英語が全くできないお子様も、本プログラムに参加できます。</li>
      </ul>

      <p>お申込みは、現在受付中ですが、プログラムは最少6名以上の人数で実施されることをご了承ください。詳細は、以下をクリックしてください。 </p>

      <div class="row mb-5">
        <div class="col-md-4"><%= link_to 'Move to Learn', local_path('saturdayschool/move-to-learn'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
      </div>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'people/CB-Photo.jpg', alt: "Cecil Burton", class: 'img-fluid d-block w-80' %>
      <h3 class="mt-3">Cecil Burton</h3>
      <ul class="list-unstyled">
        <li>サタデースクール<br>コーディネーター</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-4">入学方法
      </h2>

      <p class="lead font-weight-bold">イングリッシュスクール / ムーブ・トウ・ラーン</p>

      <p>ステップ1 –スクールにご連絡いただき、ご質問についてお問い合わせください。</p>
      <p>ステップ2 - <%= link_to '申込み用紙', 'https://docs.google.com/forms/d/e/1FAIpQLScUw8IAmcfToZcrf8FgHNKFIgvrC3GOL4vNgReF1if-gaO7uQ/viewform?usp=sf_link' %>を提出してください。ご入会希望のお子様へのインタビューを7月に実施しますので、お申込みの提出は、できるだけ3月20日から6月30日までにお願いします。他の時期のお申込みの場合、お受入れの保証はできかねますが、できるだけお受入れできるよう努力いたします。お子様には、まずトライアルレッスンに参加していただきます。</p>
      <p>ステップ3 – インタビューを受けていただき、お子様の英語レベルにより、最適なクラスを決定いたします。土曜スクールは、年齢ではなく、能力によってクラスが分かれます。</p>
      <p>ステップ4 – お子様の入会を決定し、お支払いのご確認をお願いします。その後、土曜スクールの受講を開始していただきます。</p>

      <p class="lead font-weight-bold">ドイツ語 / フランス語スクール</p>

      <p>ステップ1 - スクールにご連絡いただき、ご質問についてお問い合わせください。</p>
      <p>ステップ2  -申込み用紙を提出してください（<%= link_to 'ドイツ語 ', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLSfSho6bGdhDBqHgKOgUURb9LgdE8ufe2UX3fIC58sTCuwBOPA/viewform' %>、<%= link_to 'フランス語', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %>）。2019年9月に始まるスケジュールを設定し、クラスの子供たちを決定しますので、お申込みの提出は、できるだけ3月20日から6月30日までにお願いします。他の時期のお申込みの場合、お受入れの保証はできかねますが、できるだけお受入れできるよう努力いたします。お子様には、まずトライアルレッスンに参加していただきます。</p>
      <p>ステップ3 –お申込みの皆様に、コーディネーターから、トライアルレッスンの日程についてeメールでご連絡いたします。</p>
      <p>ステップ4 – お子様にトライアルレッスンにご参加いただきます。コーディネーターと教師は、クラス終了後、ご両親とお会いし、お子様のクラスでの様子についてお話します。</p>
      <p>ステップ5 – ご両親に、お子様をお受入れ可能であるかどうかをその日にお知らせします。お受入れ可能な場合、ご入会を決定し、お支払いを確認いただき、土曜スクールの受講を開始していただきます。</p>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>申請書</h3>

      <p class="lead font-weight-bold">イングリッシュ・スクール</p>
      <ul class="list-unstyled">
        <li><%= link_to '申し込みフォーム', 'https://docs.google.com/forms/d/e/1FAIpQLScUw8IAmcfToZcrf8FgHNKFIgvrC3GOL4vNgReF1if-gaO7uQ/viewform?usp=sf_link' %></li>
      </ul>

      <p class="lead font-weight-bold">フランス/ドイツ・スクール</p>
      <ul class="list-unstyled">
        <li><%= link_to 'トライアルディの申込み', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLSfSho6bGdhDBqHgKOgUURb9LgdE8ufe2UX3fIC58sTCuwBOPA/viewform' %> （フランス語・スクール）</li>
        <li><%= link_to 'トライアルディの申込み', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %> （ドイツ語・スクール）</li>
      </ul>

      <p class="lead font-weight-bold">Move to Learn</p>
      <ul class="list-unstyled">
        <li><%= link_to '申し込みフォーム', 'https://goo.gl/forms/t3MrHoCBzAXOL0l32' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0 mb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/schedule'), class: 'stretched-link' do %>
          <%= image_tag 'icons/eligibility.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">カレンダーとスケジュール</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/admission'), class: 'stretched-link' do %>
          <%= image_tag 'icons/admissions.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">入学手続き</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/fees'), class: 'stretched-link' do %>
          <%= image_tag 'icons/fee.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">諸費用</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3>入学に関する連絡先</h3>

      <p>私達は可能な限りお手伝いしたいと考えています。入学オフィスは月曜日から木曜日午前8時－午後4時まで対応いたします。</p>
      <ul class="list-unstyled">
        <li>Cecil Burton、サタデースクールコーディネーター</li>
        <li>お電話： <a href="tel:09028597075">090-2859-7075</a></li>
        <li>メール： <%= mail_to 'saturday.coordinator@dskobe.org' %></li>
      </ul>

      <ul class="list-unstyled">
        <li>まさだ　やすよ、事務局長</li>
        <li>お電話： <a href="tel:0788579777">078-857-9777</a></li>
        <li>ファクス： <a href="fax:0788579775">078-857-9775</a></li>
        <li>メール： <%= mail_to data.config.mailto %></li>
      </ul>
  </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>入学のご質問がありますか？ご連絡下さい</p>
    <p><%= mail_to data.config.mailto + '?Subject=Enquiry about Saturday School', 'お問い合わせ »', class: 'btn btn-lg btn-info', role: 'button' %></p>
  </div>
</div>
