---
title: "Saturday School"
description: ""
keywords: []
url:
  legacy: "/saturdayschool/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/7_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1 class="mb-4">Saturday School</h1>

      <p>Saturday school at DSK International is a Saturday morning school open to children with English, German or French speaking backgrounds from the ages of 5 years to 12 years.</p>
      <p>There are three regular programmes: <%= link_to 'English', local_path('saturdayschool/english-program'), class: 'font-weight-bold' %>, <%= link_to 'German', local_path('saturdayschool/german-program'), class: 'font-weight-bold' %> and <%= link_to 'French', local_path('saturdayschool/french-program'), class: 'font-weight-bold' %> (Language Based Programs) and one learning and movement based programme: <%= link_to 'Move to Learn', local_path('saturdayschool/move-to-learn'), class: 'font-weight-bold' %>. The 2018 – 2019 year programs start in September 2018. Applications are mainly open from February to June but are also accepted during other months of the year.</p>
      <p>We offer unique and educational learning programs not only in English, but in three languages: English, German and French all under one roof. Our teachers in each program are native or basically native, experienced, qualified and or professional language teachers.</p>
      <p>Our English, German and French programs are designed to primarily meet the demand from parents who desire a comprehensive language based growth program for their children. The program is structured to the specific needs of bilingual/trilingual children so as to help the children enhance or master their skills in the chosen language.</p>
      <p>The school year consists of 30 weeks (30 class days) divided into 2 terms of 15 class days each. Lessons are based on a school proven curriculum designed according to the students’ year level and competency.</p>
      <p>We hope to provide an opportunity not only to the children but also to the parents to become a part of the foreign community with their child joining our Saturday School.</p>
      <p>Please click below for more information about each language based programme:</p>

      <div class="row mb-5">
        <div class="col-md-4"><%= link_to 'English Programme', local_path('saturdayschool/english-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
        <div class="col-md-4"><%= link_to 'German Programme', local_path('saturdayschool/german-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
        <div class="col-md-4"><%= link_to 'French Programme', local_path('saturdayschool/french-program'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
      </div>

      <h2>Move to Learn© (Australian based program)</h2>

      <p>Please note this program is not a language based program but a learning based movement and activity program.</p>
      <p>The primary objective of this new program is to help raise every child’s level of:</p>

      <ul>
        <li>Self-confidence</li>
        <li>Concentration</li>
        <li>Appropriate behaviour</li>
        <li>Spirit of challenging themselves to do things (even those they don’t like or are not interested in)</li>
        <li>Coordination and communication between the brain and body  </li>
      </ul>

      <p>These are all part of essential criteria for any child’s future growth, learning and education.</p>

      <p class="lead font-weight-bold">The uniqueness of this program:</p>

      <ul>
        <li>It will be conducted primarily in English but Japanese will also be used.</li>
        <li>It will have an original curriculum created by our Saturday school coordinator Mr. Cecil Burton that includes fun filled movements, activities, music, songs, games, play, arts and crafts, etc.</li>
        <li>Any child who is between the ages of 5 ~12 can join, there will be one class only.</li>
        <li class="font-weight-bold">Special needs children are especially welcome (conditions would apply).</li>
        <li>Children without any English ability will also be accepted into this program.</li>
      </ul>

      <p>Please note applications are being accepted now and the programme will only be run with a minimum of 6 students. For further details please click below: </p>

      <div class="row mb-5">
        <div class="col-md-4"><%= link_to 'Move to Learn', local_path('saturdayschool/move-to-learn'), class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
      </div>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'people/CB-Photo.jpg', alt: "Cecil Burton", class: 'img-fluid d-block w-80' %>
      <h3 class="mt-3">Cecil Burton</h3>
      <ul class="list-unstyled">
        <li>Saturday School Coordinator</li>
      </ul>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-8">
      <h2 class="mb-4">How to Enrol</h2>

      <p class="lead font-weight-bold">English School / Move to Learn</p>

      <p>Step 1 - Enquire with the school and ask any questions you may have.</p>
      <p>Step 2 - Submit your <%= link_to 'application form', 'https://docs.google.com/forms/d/e/1FAIpQLScUw8IAmcfToZcrf8FgHNKFIgvrC3GOL4vNgReF1if-gaO7uQ/viewform?usp=sf_link' %>. The best time for submission is from <strong>March 20th until June 30th</strong> because we will be conducting interviews for prospective students in July. You can also apply at any other time during the year and we will try our best to accommodate your child but cannot guarantee your child a place. Your child would also need to attend a Trial Lesson first.</p>
      <p>Step 3 - Attend an interview to determine the student’s English proficiency and assess the most suitable class for your child. The Saturday School classes are divided by ability, not by age.</p>
      <p>Step 4 - Accept your place, be sure to make payment to ensure your child's place and then start Saturday School.</p>

      <p class="lead font-weight-bold">German / French school</p>

      <p>Step 1 - Enquire with the school and ask any questions you have.</p>
      <p>Step 2  -Submit your application form (<%= link_to 'German', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLSfSho6bGdhDBqHgKOgUURb9LgdE8ufe2UX3fIC58sTCuwBOPA/viewform' %> ,<%= link_to 'French', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %>). The best time for submission is from <strong>March 20th until June 30th</strong> because we will be setting up the schedule and also confirming children for classes starting in September 2019. You can also apply at any other time during the year and we will try our best to accommodate your child but cannot guarantee your child a place. Your child would also need to attend a Trial Lesson first.</p>
      <p>Step 3 - The coordinator will contact you via email to set up a Trial Lesson date.</p>
      <p>Step 4 - The student attends the trial lesson. The coordinator and teacher will meet with parents after class to discuss the student’s performance during the class.</p>
      <p>Step 5 - Parents will be informed on the day if the student has been accepted. If so, accept your place, be sure to make your payment and then start Saturday School.</p>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>Application Forms</h3>

      <p class="lead font-weight-bold">English School</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application Form', 'https://docs.google.com/forms/d/e/1FAIpQLScUw8IAmcfToZcrf8FgHNKFIgvrC3GOL4vNgReF1if-gaO7uQ/viewform?usp=sf_link' %></li>
      </ul>

      <p class="lead font-weight-bold">German/French School</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Application for trial day', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLSfSho6bGdhDBqHgKOgUURb9LgdE8ufe2UX3fIC58sTCuwBOPA/viewform' %> (German school)</li>
        <li><%= link_to 'Application for trial day', 'https://docs.google.com/a/dskobe.org/forms/d/e/1FAIpQLScQeOsHPE5w2d-eeZ1t9XJxMQZjrJTDq6fk7IP63XqIkx8SUQ/viewform' %> (Feench school)</li>
      </ul>

      <p class="lead font-weight-bold">Move to Learn</p>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application Form', 'https://goo.gl/forms/t3MrHoCBzAXOL0l32' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0 mb-0">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/schedule'), class: 'stretched-link' do %>
          <%= image_tag 'icons/eligibility.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Calendar and Schedule</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/admission'), class: 'stretched-link' do %>
          <%= image_tag 'icons/admissions.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Admission Process</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('saturdayschool/fees'), class: 'stretched-link' do %>
          <%= image_tag 'icons/fee.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Fees</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h3>Contact Details for Enrollment</h3>

      <p>We want to assist you in any way we can. Our Enrolments Office is open Monday-Friday 8.00am–4.00pm.</p>
      <ul class="list-unstyled">
        <li>Cecil Burton, <i>Saturday School Coordinator</i></li>
        <li>Telephone: <a href="tel:09028597075">090-2859-7075</a></li>
        <li>Email: <%= mail_to 'saturday.coordinator@dskobe.org' %></li>
      </ul>

      <ul class="list-unstyled">
        <li>Yasuyo Masada, <i>Head of Enrolments / Office Manager</i></li>
        <li>Telephone: <a href="tel:0788579777">078-857-9777</a></li>
        <li>Fax: <a href="fax:0788579775">078-857-9775</a></li>
        <li>Email: <%= mail_to data.config.mailto %></li>
      </ul>
  </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>Still have questions about Saturday School? Please get in touch</p>
    <p><%= mail_to data.config.mailto + 'saturday.coordinator@dskobe.org?Subject=Enquiry about Saturday School', 'Get in touch »', class: 'btn btn-lg btn-info', role: 'button' %></p>
  </div>
</div>
