<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('about') %>" id="about-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.about-us') %></a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <%= link_to "Willkommensgruß des Schulleiters", 'about/pricipals-welcome', class: 'dropdown-item' %>
    <%= link_to 'Unser Angebot', 'about/what-we-offer', class: 'dropdown-item' %>
    <%= link_to 'Sprachen an der DSKI', 'about/languages-at-dski', class: 'dropdown-item' %>
    <%= link_to 'Mitarbeiter', 'about/staff', class: 'dropdown-item' %>
    <%= link_to 'Schulgebühren', 'about/school-fees', class: 'dropdown-item' %>
    <%= link_to 'Schulkalender', 'about/school-calendar', class: 'dropdown-item' %>
    <%= link_to 'Vorstand', 'about/board', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item font-weight-bolder">
  <%= link_to 'Aufnahme', local_path('admissions'), class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('programmes') %>" id="programmes-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.programmes') %></a>
  <div class="dropdown-menu" aria-labelledby="programmes-dropdown">
    <%= link_to 'Spielgruppe', 'programmes/playgroup', class: 'dropdown-item' %>
    <%= link_to 'Vorschule', 'programmes/early-years', class: 'dropdown-item' %>
    <%= link_to 'Grundschule', 'programmes/pyp', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item font-weight-bolder">
  <%= link_to 'Sommer Schule', local_path('summerschool'), class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('community') %>" id="community-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.community') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="community-dropdown">
    <%= link_to 'Ehemalige Schüler', local_path('community/alumni'), class: 'dropdown-item' %>
  </div>
</li>
