---
title: "DSKI School Calendar"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

<h1><%= current_page.data.title %></h1>

<ul class="mt-5">
  <li><%= link_to 'Please click here to download the 2019/2020 calendar.', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %></li>
  <li><%= link_to 'Please click here to download the 2020/2021 calendar.', '/media/calendars/DSKI-2020-21-School-Calendar.pdf' %></li>
</ul>

<div class="row">
  <div class="col-xl-6">
    <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 School Calendar', class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-xl-6 mt-4">
    <%= image_tag '/media/calendars/DSKI-2020-21-School-Calendar.png', alt: '2020/2021 School Calendar', class: 'img-fluid d-block w-100' %>
  </div>
</div>
