---
title: "Admissions"
icon: "icons/admissions.png"
description: ""
keywords: []
url:
  legacy: "/admissions/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p>DSK International has two branches: the German Branch and the International Branch.</p>
      <p>For learners in the International Branch the language of instruction is English, children also have the opportunity to learn Japanese and German. For learners in the German Branch, math and language classes are conducted in German, and all other classes are conducted in English except for the Japanese lessons.</p>
      <p>German and International Branch students enjoy inquiry-based learning together as a whole class to encourage community building.</p>
      <p>If you are unsure about languages at DSKI, please see our <%= link_to 'languages page', local_path('about/languages-at-dski') %> for more detailed information.</p>

      <%= partial "admissions/enroll", :locals => {} %>
      <%= partial "admissions/contact", :locals => {} %>
      <%= partial "admissions/process", :locals => {} %>
      <%= partial "admissions/placement", :locals => {} %>
      <%= partial "admissions/fees", :locals => {} %>
      <%= partial "admissions/schedule", :locals => {} %>
      <%= partial "admissions/downloads", :locals => {} %>
    </div>
  </div>
</div>

<%= partial "includes/get_in_touch", :locals => {
  :text => 'Still have questions about enrolment? Please get in touch.'
} %>
