---
title: "Vorschule Programm"
description: ""
keywords: []
url:
  legacy: "/programmes-overview-de/early-years-2-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/9_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p>Der Kindergarten an der DSKI besteht aus zwei Gruppen: Pre-Kindergarten (Krabbelgruppe, Kinder von 2-3 Jahren) und Kindergarten (Kinder von 3-5 Jahren). Die Ausstattung des Kindergartens ist den Bedürfnissen der kleinen Kinder angepasst und bietet ihnen eine reizvolle, leicht zugängliche Lernumgebung um zu wachsen.</p>
      <p>Der Pre-Kindergarten folgt dem vom IB Programme inspirierten Grundgedanken des entdeckenden Lernens und behandelt dabei drei Lerneinheiten. Diese Lerneinheiten helfen den Kindern ihr Vokabular aufzubauen, ihre motorischen und geistigen Fähigkeiten zu entwickeln und bereiten sie auf den Eintritt in das IB Kindergarten Programm vor.</p>
      <p>Über 2 Jahre verteilt erforschen die Kinder des Kindergartens 8 PYP Lerneinheiten, welche eine Grundlage für die fächerübergreifenden Themengebiete des PYP bieten. Die Kindern lernen sowohl im Klassenzimmer als auch außerhalb der Schule bei einer Vielzahl von aufregenden Ausflügen. Zudem gibt es einen abwechslungsreichen Stundenplan mit wöchentlichem Unterricht in Kunst, Sport, Deutsch als Fremdsprache, Musik und vielem mehr!</p>
      <p>Die Lehrer unterstützen die Schüler dabei, lebenslange Lerner zu werden und bieten eine sichere und unterstützende Lernumgebung in der Fragen jederzeit willkommen sind und das Spielen im Vordergrund steht.</p>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5">Haben Sie gewusst, dass…</h2>
      <p>Freies Spielen die Entwicklung in diesen Bereichen unterstützt?</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class=" offset-md-1 col-md-2">
      <%= image_tag 'icons/yellow/growth1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Sprach- und Argumentationsfähigkeit</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/problemsolving1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Motorische Fähigkeiten und Kreativität</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/cognitivedevelopment1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Geistige Entwicklung</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/creativity1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Selbstständiges Denken und Problemlösen</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/reasoning1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Emotionale Entwicklung</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= image_tag 'icons/schoolbag_2.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3 class="text-primary font-weight-bold">Vorschule</h3>
        <hr>
        <ul class="list-unstyled">
          <li class="lead">2 – 5 Jahre</li>
          <li class="font-weight-bold mt-3">Stundenplan:</li>
          <li>Montag bis Freitag</li>
          <li class="font-weight-bold mt-3">Programm:</li>
          <li>Vorkindergarten/Krippe (Alter bis 2 Jahre)</li>
          <li>Kindergarten (Alter von 3-5 Jahren)</li>
          <li class="font-weight-bold mt-3">Sprachen:</li>
          <li>Englisch, Deutsch und Japanisch</li>
          <li class="font-weight-bold mt-3">IB: Ja</li>
          <li>Early Years/Kindergarten (komplett)</li>
          <li>8 vollständige Lektionen</li>
        </ul>
      </div>

      <div class="col-9">
        <%= partial "includes/carousel", :locals => {
          :items => ['photos/Early-years1.jpg','photos/Early-years2.jpg','photos/Early-years3.jpg','photos/Early-years4.jpg','photos/Early-years5.jpg','photos/Early-years6.jpg']
        } %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Stundenplan Beispiele</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Pre-Kindergarten</strong><br>Schultag: 8.30 Uhr - 14.30 Uhr</p>
      <%= image_tag '/media/schedules/EYtimetable_PREkindergarten_800.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
      <p class="mt-3"><%= link_to 'Laden Sie hier einen Stundenplan als Beispiel herunter', '/media/schedules/EYtimetable_PREkindergarten_800.pdf' %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Kindergarten</strong><br>Schultag: 8.30 Uhr - 16.30 Uhr</p>
      <%= image_tag '/media/schedules/EYtimetable_kindergarten_800.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
      <p class="mt-3"><%= link_to 'Laden Sie hier einen Stundenplan als Beispiel herunter', '/media/schedules/EYtimetable_kindergarten_800.pdf' %></p>
    </div>
  </div>
</div>

<%= partial "includes/de/get_in_touch", :locals => {
  :link => local_path('admissions'),
  :text => 'Haben wir Ihr Interesse an der Vorschule geweckt und Sie hätten gerne noch mehr Informationen über die Anmeldung? Gehen Sie zur Seite mit allen Anmelde Informationen.',
  :button => 'Zur Anmeldung »'
} %>
