---
title: "幼稚園プログラム"
icon: "icons/schoolbag_2.png"
description: ""
keywords: []
banner: "banners/9_header_thin.jpg"
---

# <%= current_page.data.title %>

DSKIの**幼稚部はプレキンダークラス（２歳−３歳）**と**幼稚園（３歳−５歳）**の２つのグループで構成されています。
教室には小さな子供たちのことを考えてデザインされた設備や備品が備わっており、子供たちが大いに活動できる利用しやすい空間となっています。

プレキンダーガーテンクラスのカリキュラムは、「探求型学習」というIBの考え方からインスパイアされた3つのオリジナルのユニット(単元)に準じています。これらのユニットでは、子供たちの語彙力増加、社会能力や運動技能の育成、そしてIBのPYPプログラムへの参加準備を支援します。

幼稚園の生徒は、PYPの学際的テーマの基礎である8ユニットを2年間に渡って探求します。子供たちは教室でのユニット体験に加え、年間を通してたくさんのワクワクするような遠足に参加します。また、子供たちは芸術、体育、外国語としてのドイツ語、音楽などのチャレンジングで楽しい科目で満たされた週間スケジュールを楽しんでいます！

子供たちの様々な疑問は歓迎され、遊びなどの活動が1日で最も大切なものとなるような、サポートいっぱいの安全な環境を提供しながら、我が校の教師は、これから生涯学習者となる旅を始める子供達を支えます。


<div class="row text-center">
  <div class="col-12">
    <h2 class="mt-5">ご存知ですか...</h2>
    <p>遊びはこれらの分野で子供たちの発育に役立つことを？</p>
  </div>
</div>
<div class="row mb-5">
  <div class=" offset-md-1 col-md-2">
    <%= image_tag 'icons/yellow/growth1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>言語と推論の技能</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/problemsolving1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>運動技能と創造性</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/cognitivedevelopment1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>認知発達</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/creativity1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>自律的思考と問題解決</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/reasoning1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>情動的発達</p>
  </div>
</div>

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'icons/schoolbag_2.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
    <h3 class="text-primary font-weight-bold">幼稚部</h3>
    <hr>
    <ul class="list-unstyled">
      <li class="lead">2 ー 5歳</li>
      <li class="font-weight-bold mt-3">時間割：</li>
      <li>月曜日－金曜日</li>
      <li class="font-weight-bold mt-3">プログラム：</li>
      <li>プリ幼稚園クラス(2歳)と、</li>
      <li>幼稚部/幼稚園(3-5歳)</li>
      <li class="font-weight-bold mt-3">言語：</li>
      <li>英語、ドイツ語、日本語</li>
      <li class="font-weight-bold mt-3">IB: あり</li>
      <li>幼稚部/幼稚園修了</li>
      <li>UOI 8単位</li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Early-years1.jpg','photos/Early-years2.jpg','photos/Early-years3.jpg','photos/Early-years4.jpg','photos/Early-years5.jpg','photos/Early-years6.jpg']
    } %>
  </div>
</div>

### サンプル・タイムテーブル

**幼稚部：プレキンダーガーテンクラス**

* 授業日：8：30〜15：30
* <%= link_to 'サンプルタイムテーブルをダウンロードできます', '/media/schedules/EYtimetable_PREkindergarten_800.pdf' %>

**幼稚部：幼稚部**

* 授業日：8：30〜15：30
* <%= link_to 'サンプルタイムテーブルをダウンロードできます', '/media/schedules/EYtimetable_kindergarten_800.pdf' %>

<p class="lead mt-5">当学院の幼稚部プログラムへの参加に興味がある、もしくは入学に関する詳しい情報をお探しですか？<br><%= link_to "入学情報のページ", local_path("admissions") %>にお進みください。</p>
