---
title: "IB World School Early Years"
description: ""
keywords: []
url:
  legacy: "/programmes-overview/early-years/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/9_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1 class="mb-4">Early Years Programme</h1>

      <p>The Early Years Program at DSKI consists of two primary groups: <strog>Pre-Kindergarten (children 2-3 years old)</strong> and <strong>Early Years / Kindergarten (children 3-5 years old)</strong>. The Early Years department is equipped with facilities and resources that were designed with younger children in mind, and created to provide them an accessible and engaging space to flourish. </p>
      <p>The Pre-Kindergarten curriculum follows three original units inspired by the IB philosophy of “inquiry-based learning.” These units help children to build vocabulary, strengthen their developing social and motor skills, and prep them for entry into the IB PYP Early Years Program.<br>
      Over the course of two years, students in Early Years explore 8 PYP Units of Inquiry, providing them a foundation for the transdisciplinary themes of the PYP. In addition to unit experiences in the classroom, Early Years children embark on a number of exciting excursions throughout the year. Children also enjoy a rich weekly schedule filled with challenging and fun subjects including: Art, Physical Education, German as a Foreign Language, Music, and more! </p>
      <p>Teachers aid children as they begin their journeys to become Lifelong Learners, providing a safe and support-filled environment where questions are welcome and play is the most important part of the day.</p>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5">Did you know...</h2>
      <p>Play helps children develop in the following areas?</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class=" offset-md-1 col-md-2">
      <%= image_tag 'icons/yellow/growth1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Language and Reasoning Skills</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/problemsolving1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Motor Skills and Creativity</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/cognitivedevelopment1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Cognitive Development</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/creativity1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Autonomous thinking and Problem Solving</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/reasoning1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Emotional Growth</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-3">
        <%= image_tag 'icons/schoolbag_2.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3 class="text-primary font-weight-bold">Early Years</h3>
        <hr>
        <ul class="list-unstyled">
          <li class="lead">2 – 5 years</li>
          <li class="font-weight-bold mt-3">Timetable:</li>
          <li>Monday to Friday</li>
          <li class="font-weight-bold mt-3">Programmes:</li>
          <li>Pre-Kindergarten class (2 years old) and</li>
          <li>Early Years/Kindergarten (3-5 years old)</li>
          <li class="font-weight-bold mt-3">Languages:</li>
          <li>English, German and Japanese</li>
          <li class="font-weight-bold mt-3">IB: Yes</li>
          <li>Early Years/Kindergarten complete</li>
          <li>8 units of enquiry</li>
        </ul>
      </div>

      <div class="col-9">
        <div id="smallCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'photos/Early-years1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/Early-years2.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/Early-years3.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/Early-years4.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/Early-years5.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/Early-years6.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Sample Timetables</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6">
      <p><strong>Early Years - Pre-Kindergarten</strong><br>School day: 08:30 - 16:30</p>
      <%= image_tag '/media/schedules/EYtimetable_PREkindergarten_800.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
      <p class="mt-3"><%= link_to 'Download sample timetable here', '/media/schedules/EYtimetable_PREkindergarten_800.pdf' %></p>
    </div>
    <div class="col-md-6">
      <p><strong>Early Years - Kindergarten</strong><br>School day: 08:30 - 16:30</p>
      <%= image_tag '/media/schedules/EYtimetable_kindergarten_800.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
      <p class="mt-3"><%= link_to 'Download sample timetable here', '/media/schedules/EYtimetable_kindergarten_800.pdf' %></p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning mt-0 mb-0">
  <div class="container">
    <p>Interested in joining our Early Years Programme or would like more information about enrolment? Head over to our Admissions page</p>
    <p><%= link_to 'To Admissions »', local_path('adminssions'), class: 'btn btn-lg btn-info', role: 'button' %></p>
  </div>
</div>
