---
title: "Our Programmes"
icon: "icons/programmes.png"
description: ""
keywords: []
banner: "banners/7_header_thin.jpg"
---

# <%= current_page.data.title %>

<p class="lead font-weight-bold mt-4 mb-3">DSK International provides a unique, multilingual education to learners ages 2 to 12 in three languages: English, German and Japanese.</p>

DSK International is proud to be an [International Baccalaureate Organisation (IB) World School](https://www.ibo.org/en/school/002685). We provide an environment that nurtures the academic, emotional, social, physical and creative growth of children of all ages, cultural backgrounds and experiences. As an IB World School using the [Cambridge maths and language curriculum](https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/), we strive to ignite a passion for lifelong learning and a desire to make positive change in the world.

<a href="https://www.ibo.org/programmes/primary-years-programme/">
  <%= image_tag 'pyp-programme-logo-en.png', alt: 'IB World School - PYP Program' , class: 'm-3' %></a>
<a href="https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/">
  <%= image_tag 'cambridge-logo-regular.png', alt: 'Cambridge International School', class: 'm-3', style: 'height:60px' %></a>

DSKI has two main branches: German and International (English language). Though learners spend most of their day together in an integrated classroom with both English- and German-speaking homeroom teachers, math and language instruction occurs in either German or English.

One aspect that is very unique to our school is our language programme: 3 languages in primary school with English and German (curriculum) and Japanese as JFL (Japanese as a Foreign Language) and KOKUGO (native Japanese Curriculum).

<div class="row text-center mt-5 mb-5">
  <div class="col-md-8 offset-md-2">
    <blockquote class="blockquote">
      <p class="lead font-weight-bold mb-2">"Learning by heart, head and hand"</p>
      <footer class="blockquote-footer">Johann Heinrich Pestalozzi</footer>
    </blockquote>
  </div>
</div>

## Our Programmes

<div class="row">
  <div class="col-md-4">
    <%= image_tag 'icons/schoolbag_1.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
    <h3 class="text-primary font-weight-bold">Playgroup</h3>
    <hr>
    <ul class="list-unstyled">
      <li class="lead">1 – 2 years</li>
      <li class="font-weight-bold mt-3">Timetable:</li>
      <li>Thursdays 14:40 - 15:30</li>
      <li class="font-weight-bold mt-3">Programmes:</li>
      <li>Playgroup play</li>
      <li></li>
      <li class="font-weight-bold mt-3">Languages:</li>
      <li>Native & Non-native English speakers</li>
    </ul>
    <%= link_to 'Find out more', local_path('programmes/playgroup'), class: 'btn btn-lg btn-outline-primary', role: 'button' %>
  </div>

  <div class="col-md-4">
    <%= image_tag 'icons/schoolbag_2.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
    <h3 class="text-primary font-weight-bold">Early Years</h3>
    <hr>
    <ul class="list-unstyled">
      <li class="lead">2 – 5 years</li>
      <li class="font-weight-bold mt-3">Timetable:</li>
      <li>Monday to Friday</li>
      <li class="font-weight-bold mt-3">Programmes:</li>
      <li>Pre-Kindergarten class (2 years old) and</li>
      <li>Early Years/Kindergarten (3-5 years old)</li>
      <li class="font-weight-bold mt-3">Languages:</li>
      <li>English, German and Japanese</li>
      <li class="font-weight-bold mt-3">IB: Yes</li>
      <li>Early Years/Kindergarten complete</li>
      <li>8 units of enquiry</li>
    </ul>
    <%= link_to 'Find out more', local_path('programmes/early-years'), class: 'btn btn-lg btn-outline-primary', role: 'button' %>
  </div>

  <div class="col-md-4">
    <%= image_tag 'icons/schoolbag_3.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
    <h3 class="text-primary font-weight-bold">Primary Years</h3>
    <hr>
    <ul class="list-unstyled">
      <li class="lead">5 – 12 years</li>
      <li class="font-weight-bold mt-3">Timetable:</li>
      <li>Monday to Friday</li>
      <li class="font-weight-bold mt-3">Programmes:</li>
      <li>Cambridge Curriculum</li>
      <li>PYP Programme of Inquiry</li>
      <li class="font-weight-bold mt-3">Languages:</li>
      <li>English, German and Japanese</li>
      <li class="font-weight-bold mt-3">IB: Yes</li>
      <li>Full IB PYP</li>
      <li>Programme of Inquiry</li>
      <li>Cambridge Maths and Language</li>
      </ul>
    <%= link_to 'Find out more', local_path('programmes/pyp-cambridge'), class: 'btn btn-lg btn-outline-primary', role: 'button' %>
  </div>
</div>

<p class="lead mt-5">Need more information? Make an <%= link_to "inquiry to the school", local_path("contact") %> or go straight to our <%= link_to "admissions page", local_path("admissions") %>.</p>
