---
title: "Playgroup Programme"
icon: "icons/schoolbag_1.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

The Playgroup at DSKI is a fun and interesting class for native and non-native English speaking children from 1 to 3 years old that is held on Thursdays for one hour.

Using many songs, picture books, stories, puppets and other props, games, role-play and more fun and stimulating activities, children will learn target language such as greetings, colours, shapes, numbers, action verbs and short sentences.

The class activities are widely acknowledged effective methods of motivating young children to understand and learn language. Educators emphasize that repetition is the key to success in learning a language, and that songs are effective, entertaining tools for mastering pronunciation and rhythm.

As parents will accompany their children to the class, parents can learn the songs, activities and also the target language meaning they can practice with their children at home.

<div class="row text-center">
  <div class="col-12">
    <h2 class="mt-5">Participating in the Playgroup...</h2>
    <p>will help children:</p>
  </div>
</div>
<div class="row mb-5">
  <div class="col-md-3">
    <%= image_tag 'icons/yellow/social1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Develop Social Skills</p>
  </div>
  <div class="col-md-3">
    <%= image_tag 'icons/yellow/languages1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Nourish their Love for their own and Foreign Languages</p>
  </div>
  <div class="col-md-3">
    <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Gain Confidence for Future Learning</p>
  </div>
  <div class="col-md-3">
    <%= image_tag 'icons/yellow/english1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Create a Positive Experience for Communicating in English</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <%= image_tag 'icons/schoolbag_1.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
    <h3 class="text-primary font-weight-bold">Playgroup</h3>
    <hr>
    <ul class="list-unstyled">
      <li class="lead">1 – 2 years</li>
      <li class="font-weight-bold mt-3">Timetable:</li>
      <li>Thursdays 10:00 - 11:00</li>
      <li class="font-weight-bold mt-3">Programmes:</li>
      <li>Playgroup play</li>
      <li>programmes</li>
      <li></li>
      <li class="font-weight-bold mt-3">Languages:</li>
      <li>Native & Non-native English speakers</li>
      <li class="font-weight-bold mt-3">IB: Yes</li>
      <li>We incorporate the philosophy of inquiry and the IB learner profile into our programme</li>
      <li class="font-weight-bold mt-3"><%= link_to 'Download Playgroup Flyer', '/media/prospectus/Playgroup_flyer_2024.pdf' %></li>
      <li></li>
    </ul>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Playgroup1.jpg','photos/Playgroup2.jpg','photos/Playgroup3.jpg','photos/Playgroup4.jpg']
    } %>
  </div>
</div>

<p class="lead mt-5">Interested in joining our Playgroup Programme or would like more information about enrolment?<br> Please email us at <a href="mailto:mail@dskobe.org">mail@dskobe.org.</a></p>
