---
title: "プレイグループプログラム"
description: ""
keywords: []
url:
  legacy: "/programmes-overview/playgroup-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <p>DSKIプレイグループは、1-3歳のお子様を対象に毎週木曜日に1時間開催します。母国語が英語であるなしに関わらず、楽しめる面白いプログラムです。</p>
      <p>たくさんの音楽、絵本、物語、人形や小道具を使用したゲーム、ロールプレイングなどの楽しく刺激的なアクティビティを通じて、お子様は挨拶、色、形、数字、動詞や短文といった目標としている言語を学んでいきます。/p>
      <p>クラスでのアクティビティは、小さなお子様に言語理解や言語学習への興味を起こさせる効率的な方法であると、広く認知されています。言葉の反復練習が言語学習の成功の鍵であること、音楽が発音やリズムを習得するための効率的で楽しめる手段であると教育者は力説しています。</p>
      <p>もし親御様がお子様と共に授業に参加されることになれば、ご家庭でお子様と一緒に練習できるような音楽、アクティビティや目標としている言語も親御様には学んでいただけます。</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'people/Moench.jpg', alt: "Anita Mönch", class: 'img-fluid d-block w-100' %>
      <h3 class="mt-3">Anita Mönch</h3>
      <ul class="list-unstyled">
        <li>プレイグループコーディネーター</li>
        <li>言語：ドイツ語、英語、フランス語と日本語</li>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12">
      <hr>
      <h2 class="mt-4">プレイグループへの参加は</h2>
      <p>お子様にとって以下のような事柄に役立ちます:</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-6">
      <%= image_tag 'icons/yellow/social1x.png', alt: data.config.site_name, class: 'rounded img-fluid pr-4', style: 'height:80px;vertical-align: middle;' %>
      <span class="align-middle">社会性を磨く</span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'icons/yellow/languages1x.png', alt: data.config.site_name, class: 'rounded img-fluid pr-4', style: 'height:80px;' %>
      <span>母国語や外国語に対する愛を育む</span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.site_name, class: 'rounded img-fluid pr-4', style: 'height:80px;' %>
      <span>将来の学習への自信を得る</span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'icons/yellow/english1x.png', alt: data.config.site_name, class: 'rounded img-fluid pr-4', style: 'height:80px;' %>
      <span>英語でのコミュニケーションにおけるプラスの経験を得る</span>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'icons/schoolbag_1.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3 class="text-primary font-weight-bold">プレイグループ</h3>
        <hr>
        <ul class="list-unstyled">
          <li class="lead">1 ー 3歳</li>
          <li class="font-weight-bold mt-3">時間割：</li>
          <li>木曜日 - 14:40 - 15:30</li>
          <li class="font-weight-bold mt-3">プログラム：</li>
          <li>プレイグループで遊ぶ</li>
          <li>プログラム</li>
          <li class="font-weight-bold mt-3">言語：</li>
          <li>英語母語話者と非母語話者</li>
          <li class="font-weight-bold mt-3">IB: なし</li>
          <li>国際バカロレアPYPプログラムが</li>
          <li>幼稚部プログラム開始</li>
        </ul>
      </div>

      <div class="col-9">
        <%= partial "includes/carousel", :locals => {
          :items => ['photos/Playgroup1.jpg','photos/Playgroup2.jpg','photos/Playgroup3.jpg','photos/Playgroup4.jpg']
        } %>
      </div>
    </div>
  </div>
</div>

<%= partial "includes/ja/get_in_touch", :locals => {
  :link => local_path('admissions'),
  :text => 'プレイグループプログラムへの参加にご興味がある、もしくは入学に関する詳しい情報をお探しですか？入学ページにお進みください。',
  :button => '入学情報ページへ »'
} %>
