---
title: "Primary School"
icon: "icons/schoolbag_3.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
---

# <%= current_page.data.title %>

## IB Primary Years Programme

The [IBO (International Baccalaureate Organisation)](https://www.ibo.org/en/school/002685) is a non-profit organisation based in The Hague, The Netherlands. It provides an educational philosophy and framework to ensure that schools all over the world are providing stimulating, relevant and balanced programmes for their students.

As an authorised IB PYP (International Baccalaureate Primary Years Programme) world school since 2006 uses the PYP Programme of Inquiry to create a comprehensive, inquiry based programme from Kindergarten to Grade 6. The resulting programme focuses on delivering a holistic curriculum encompassing the academic, social, emotional and physical aspects of learning.

<a href="https://www.ibo.org/programmes/primary-years-programme/">
  <%= image_tag 'pyp-programme-logo-en.png', alt: 'IB World School - PYP Program' , class: 'm-3' %></a>

The learning is organised into six Units of Inquiry based around six organising themes about our world and who we are. Through these units, the classroom teachers integrate language, mathematics, science, personal social education, social studies, drama and ICT, while single-subject teachers integrate music, physical education, German/English language and Japanese language.

[Click here](https://www.ibo.org/programmes/primary-years-programme/) for a more detailed overview of the IB Primary Years Programme.


## Cambridge Primary

Within our IB framework we use the high quality [Cambridge maths and language programme](https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/) for our academic curriculum. Originating from and developed by Cambridge university in the UK, the international Cambridge programme is a very popular curriculum for secondary school and high schools. Building on this, Cambridge university developed the primary programme, to provide a high quality curriculum for young learners. It has academic levels second to none, ensuring that your child will receive the best possible start to life as we integrate the curriculum into our IB inquiry and critical thinking framework.

<a href="https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/">
  <%= image_tag 'cambridge-logo-regular.png', alt: 'Cambridge International School', class: 'm-3', style: 'height:60px' %></a>

We assess all of our students three times a year to understand their maths and language levels development needs. For students that then need that extra help, we have specialist maths and language teachers who work with students in small groups or 1-1, ensuring all students are at the right level by the end of the school year.

<div class="row text-center">
  <div class="col-12">
    <h2 class="mt-5">DSKI provides a positive learning environment</h2>
    <p>that allows students to:</p>
  </div>
</div>
<div class="row mb-5">
  <div class=" offset-md-1 col-md-2">
    <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Develop Confidence in their own Abilities</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/thinkforself1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Think for Themselves</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/enquiry1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Develop Inquiry Skills</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/expressopinion1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Express their Opinions</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/respect1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>Respect the Opinions of others</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'icons/schoolbag_3.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
      <h3 class="text-primary font-weight-bold">Primary Years</h3>
      <hr>
      <ul class="list-unstyled">
        <li class="lead">5 – 12 years</li>
        <li class="font-weight-bold mt-3">Timetable:</li>
        <li>Monday to Friday</li>
        <li class="font-weight-bold mt-3">Programmes:</li>
        <li>Cambridge Curriculum</li>
        <li>PYP Programme of Inquiry</li>
        <li class="font-weight-bold mt-3">Languages:</li>
        <li>English, German and Japanese</li>
        <li class="font-weight-bold mt-3">IB: Yes</li>
        <li>Full IB PYP</li>
        <li>Programme of Inquiry</li>
        <li>Cambridge Maths and Language</li>
      </ul>
    </div>

    <div class="col-md-8">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Primary-years1.jpg','photos/Primary-years2.jpg','photos/Primary-years3.jpg','photos/Primary-years4.jpg','photos/Primary-years5.jpg','photos/Primary-years6.jpg']
      } %>
    </div>
  </div>
</div>

<p class="lead mt-5">Interested in joining our Primary Years Programme or would like more information about enrolment?<br> Head over to our <%= link_to "admissions page", local_path("admissions") %>.</p>
