---
title: "初等教育プログラム"
icon: "icons/schoolbag_3.png"
description: ""
keywords: []
banner: "banners/5_header_thin.jpg"
---

# <%= current_page.data.title %>

## IB Primary Years Programme

[IBO (International Baccalaureate Organisation)](https://www.ibo.org/en/school/002685)はスイスのジュネーブを拠点とする非営利団体です。世界中の生徒に刺激的でバランスの取れたプログラムを提供するよう教育理念と教育の骨組みを準備しています。

IB PYP (International Baccalaureate Primary Years Programme)として2006年から公認を受け、海外ドイツ学校としてDSKIはPYPの探求のプログラムと一緒にチューリンゲンのカリキュラムの教育計画を使用し、幼稚園から小学6年生までの総合的な探求ベースのプログラムをご用意しています。両カリキュラムは学問的、社会的、感情的、物理的な側面を含むホリスティック・カリキュラムを提供することを重視しています。

<a href="https://www.ibo.org/programmes/primary-years-programme/">
  <%= image_tag 'pyp-programme-logo-en.png', alt: 'IB World School - PYP Program' , class: 'm-3' %></a>

学習は、国際教育において不可欠な6つの構成テーマがあり、世界とは何か、自分自身は何者なのかといった6つのテーマに基づく6つの探求の単元で構成されています。これらのテーマを通して、言語的視点、数学的視点、科学的視点、道徳的視点、社会学的視点、芸術、ICTをカリキュラムに組み込み、一方、単科教師は音楽、美術、体育、ドイツ語、英語、日本語を教えています。

IB 初等教育について詳細をご覧いただくには[こちらをクリックして下さい](https://www.ibo.org/programmes/primary-years-programme/)。

## Cambridge Primary

Within our IB framework we use the high quality [Cambridge maths and language programme](https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/) for our academic curriculum. Originating from and developed by Cambridge university in the UK, the international Cambridge programme is a very popular curriculum for secondary school and high schools. Building on this, Cambridge university developed the primary programme, to provide a high quality curriculum for young learners. It has academic levels second to none, ensuring that your child will receive the best possible start to life as we integrate the curriculum into our IB inquiry and critical thinking framework.

<a href="https://www.cambridgeinternational.org/programmes-and-qualifications/cambridge-primary/">
  <%= image_tag 'cambridge-logo-regular.png', alt: 'Cambridge International School', class: 'm-3', style: 'height:60px' %></a>

We assess all of our students three times a year to understand their maths and language levels development needs. For students that then need that extra help, we have specialist maths and language teachers who work with students in small groups or 1-1, ensuring all students are at the right level by the end of the school year.

<div class="row text-center">
  <div class="col-12">
    <h2 class="mt-5">DSKIは積極的な学習環境を提供します</h2>
    <p>生徒は以下のことができます：</p>
  </div>
</div>
<div class="row mb-5">
  <div class=" offset-md-1 col-md-2">
    <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>自らの能力に自信を深める</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/thinkforself1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>自分自身で考える</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/enquiry1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>探求スキルを磨く</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/expressopinion1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>自分の意見を表現する</p>
  </div>
  <div class="col-md-2">
    <%= image_tag 'icons/yellow/respect1x.png', alt: data.config.title, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
    <p>他者の意見を尊重する</p>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <%= image_tag 'icons/schoolbag_3.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
      <h3 class="text-primary font-weight-bold">初等教育</h3>
      <hr>
      <ul class="list-unstyled">
        <li class="lead">5 ー 12歳</li>
        <li class="font-weight-bold mt-3">時間割：</li>
        <li>月曜日－金曜日</li>
        <li class="font-weight-bold mt-3">プログラム：</li>
        <li>Cambridge Curriculum</li>
        <li>PYPプログラムの単元</li>
        <li class="font-weight-bold mt-3">言語：</li>
        <li>英語、ドイツ語、日本語</li>
        <li class="font-weight-bold mt-3">IB: あり</li>
        <li>国際バカロレアPYP全て</li>
        <li>探求の単元</li>
        <li>Cambridge Maths and Language</li>
      </ul>
    </div>

    <div class="col-md-8">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Primary-years1.jpg','photos/Primary-years2.jpg','photos/Primary-years3.jpg','photos/Primary-years4.jpg','photos/Primary-years5.jpg','photos/Primary-years6.jpg']
      } %>
    </div>
  </div>
</div>

<p class="lead mt-5">PYPプログラムへのご参加に興味、または入学手続きに関する詳細情報が必要ですか？<br><%= link_to "入学情報ページ", local_path("admissions") %>をご覧ください。</p>
