---
title: "Grundschule"
description: ""
keywords: []
url:
  legacy: "/programmes-overview-de/pyp-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p>Die <a href="https://www.ibo.org/en/school/002685">IBO (International Baccalaureate Organization)</a> ist eine gemeinnützige Einrichtung, deren Hauptsitz in Den Haag, Niederlande, ist. Es bietet eine pädagogische Philosophie und einen pädagogischen Rahmen, um sicherzustellen, dass Schulen auf der ganzen Welt ein motivierendes, relevantes und ausbalanciertes Programm für ihre Schüler entwickeln.</p>
      <p>Als anerkannte IB PYP (International Baccalaureate Primary Years Programme) Weltschule seit 2006 und als Deutsche Auslandsschule verwendet DSK International den Rahmenlehrplan Thüringen und verbindet ihn mit dem PYP Programm. Durch diese Verbindung entsteht ein umfassender, projektorientierter Lehrplan für Kinder vom Kindergarten bis hin zur Klasse 6.</p>
      <p>Das so entstandene Programm stellt ein ganzheitliches Curriculum bereit, welches die akademischen, sozialen, emotionalen und physischen Lernziele berücksichtigt und einbezieht.</p>
      <p>Das Lernen ist in 6 Projekteinheiten (units) organisiert. Diese Projekteinheiten konzentrieren sich auf die Lebenswelt der Schüler in Korrelation zu ihrer Umwelt und ihrem Selbstverständnis. Innerhalb der Projekteinheiten integriert der Klassenlehrer die Unterrichtsfächer Sprache, Mathematik, Sachkunde, Kunst, Sozialkunde, Schauspiel und den Einsatz von IT. Die Fachlehrer für Musik, Sport, Deutsch und Japanisch knüpfen mit ihren Lerninhalten immer dort an die Projekte an, wo es sinnvoll und passend ist.</p>

      <p class="mt-3"><a href="https://www.ibo.org/programmes/primary-years-programme/">
        <%= image_tag 'pyp-programme-logo-en.png', alt: data.config.site_name, class: 'rounded' %></a></p>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5">DSK International bietet eine positive Lernumgebung</h2>
      <p>welche es dem Schüler erlaubt:</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class=" offset-md-1 col-md-2">
      <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Selbstsicherheit in Bezug auf die eigenen Fähigkeiten zu entwickeln</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/thinkforself1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Sich eine eigene Meinung zu bilden</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/enquiry1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Kompetenzen im forschenden Entdecken zu entwickeln</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/expressopinion1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Den eigenen Standpunkt zu formulieren</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/respect1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>Die Meinung anderer zu respektieren</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'icons/schoolbag_3.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3 class="text-primary font-weight-bold">Grundschule</h3>
        <hr>
        <ul class="list-unstyled">
          <li class="lead">5 – 11 Jahre</li>
          <li class="font-weight-bold mt-3">Stundenplan:</li>
          <li>Montag bis Freitag</li>
          <li class="font-weight-bold mt-3">Programm:</li>
          <li>Thüringer Lehrplan</li>
          <li>PYP Programme of Inquiry</li>
          <li class="font-weight-bold mt-3">Sprachen:</li>
          <li>Englisch, Deutsch und Japanisch</li>
          <li class="font-weight-bold mt-3">IB: Ja</li>
          <li>IB PYP (komplett)</li>
          <li>Programme of Inquiry</li>
        </ul>
      </div>

      <div class="col-md-9">
        <%= partial "includes/carousel", :locals => {
          :items => ['photos/Primary-years1.jpg','photos/Primary-years2.jpg','photos/Primary-years3.jpg','photos/Primary-years4.jpg','photos/Primary-years5.jpg','photos/Primary-years6.jpg']
        } %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>Stundenplan Beispiel</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag '/media/schedules/PYPtimetable_1000.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
    </div>
    <div class="col-md-4">
      <p><strong>PYP Programme</strong><br>Schultag: 8:30 - 15:30</p>
      <p class="mt-3"><%= link_to 'Laden Sie hier einen Stundenplan als Beispiel herunter', '/media/schedules/PYPtimetable_1000.pdf' %></p>
      <p>Wir bieten nach der Schule auch Arbeitsgemeinschaften (AGs) an. Für weitere Informationen klicken Sie bitte hier:</p>
      <p><%= link_to 'Arbeitsgemeinschaften Information herunterladen', '/media/schedules/Extracurricular-Activities-Sept-2017-Term-1.pdf' %></p>
    </div>
  </div>
</div>

<%= partial "includes/de/get_in_touch", :locals => {
  :link => local_path('admissions'),
  :text => 'Haben wir Ihr Interesse an der PYP geweckt und Sie hätten gerne noch mehr Informationen über die Anmeldung? Gehen Sie zur Seite mit allen Anmelde Informationen.',
  :button => 'Zur Anmeldung »'
} %>
