---
title: "初等教育プログラム"
description: ""
keywords: []
url:
  legacy: "/programmes-overview/pyp-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/5_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-12">
      <h1><%= current_page.data.title %></h1>

      <p><a href="https://www.ibo.org/en/school/002685">IB (International Baccalaureate)</a>はスイスのジュネーブを拠点とする非営利団体です。世界中の生徒に刺激的でバランスの取れたプログラムを提供するよう教育理念と教育の骨組みを準備しています。</p>
      <p>IB PYP (International Baccalaureate Primary Years Programme)として2006年から公認を受け、海外ドイツ学校としてDSKIはPYPの探求のプログラムと一緒にチューリンゲンのカリキュラムの教育計画を使用し、幼稚園から小学6年生までの総合的な探求ベースのプログラムをご用意しています。両カリキュラムは学問的、社会的、感情的、物理的な側面を含むホリスティック・カリキュラムを提供することを重視しています。</p>
      <p>学習は、国際教育において不可欠な6つの構成テーマがあり、世界とは何か、自分自身は何者なのかといった6つのテーマに基づく6つの探求の単元で構成されています。これらのテーマを通して、言語的視点、数学的視点、科学的視点、道徳的視点、社会学的視点、芸術、ICTをカリキュラムに組み込み、一方、単科教師は音楽、美術、体育、ドイツ語/英語、日本語を教えています。</p>

      <p class="mt-3"><a href="https://www.ibo.org/programmes/primary-years-programme/">
        <%= image_tag 'pyp-programme-logo-en.png', alt: data.config.site_name, class: 'rounded' %></a></p>
    </div>
  </div>
</div>

<div class="container text-center">
  <div class="row">
    <div class="col-12">
      <h2 class="mt-5">DSKIは積極的な学習環境を提供します</h2>
      <p>生徒は以下のことができます：</p>
    </div>
  </div>
  <div class="row mb-5">
    <div class=" offset-md-1 col-md-2">
      <%= image_tag 'icons/yellow/confidence1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>自らの能力に自信を深める</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/thinkforself1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>自分自身で考える</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/enquiry1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>探求スキルを磨く</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/expressopinion1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>自分の意見を表現する</p>
    </div>
    <div class="col-md-2">
      <%= image_tag 'icons/yellow/respect1x.png', alt: data.config.site_name, class: 'rounded img-fluid align-middle mt-3 mb-2', style: 'height:80px;' %>
      <p>他者の意見を尊重する</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0 pb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <%= image_tag 'icons/schoolbag_3.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3 class="text-primary font-weight-bold">初等教育</h3>
        <hr>
        <ul class="list-unstyled">
          <li class="lead">5 ー 11歳</li>
          <li class="font-weight-bold mt-3">時間割：</li>
          <li>月曜日－金曜日</li>
          <li class="font-weight-bold mt-3">プログラム：</li>
          <li>チューリンゲンカリキュラム</li>
          <li>PYPプログラムの単元</li>
          <li class="font-weight-bold mt-3">言語：</li>
          <li>英語、ドイツ語と日本語</li>
          <li class="font-weight-bold mt-3">IB: あり</li>
          <li>国際バカロレアPYP全て</li>
          <li>探求の単元</li>
        </ul>
      </div>

      <div class="col-md-9">
        <%= partial "includes/carousel", :locals => {
          :items => ['photos/Primary-years1.jpg','photos/Primary-years2.jpg','photos/Primary-years3.jpg','photos/Primary-years4.jpg','photos/Primary-years5.jpg','photos/Primary-years6.jpg']
        } %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12 mb-4">
      <h3>サンプルタイムテーブル</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <%= image_tag '/media/schedules/PYPtimetable_1000.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
    </div>
    <div class="col-md-4">
      <p><strong>PYPプログラム</strong><br>授業日：8：30〜15：30</p>
      <p class="mt-3"><%= link_to 'サンプルタイムテーブルをここからダウンロードする', '/media/schedules/PYPtimetable_1000.pdf' %></p>
    </div>
  </div>
</div>

<%= partial "includes/ja/get_in_touch", :locals => {
  :link => local_path('admissions'),
  :text => 'PYPプログラムへのご参加に興味、または入学手続きに関する詳細情報が必要ですか？ 入学情報ページをご覧ください。',
  :button => '入学情報ページへ »'
} %>
