---
title: "DSKI サマーキャンプ"
icon: "icons/noun/skateboard.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

当学院のサマーキャンプは、英語をコミュニケーション言語として、お子様が楽しいアクティビティでいっぱいの日を過ごすことができるようになっています。

スポーツ、アウトドアゲーム、音楽ワークショップ、アート＆クラフトなど、お子様にお選びいただけるさまざまなアクティビティがあります。

神戸ドイツ学院の生徒でないお子様にもご参加いただくことができます。

## Summer Camps 2024

- **English language camp 24th June - 19th July**
- **German and Japanese language camp 22nd - 26th July**

Ages 3 - 12 years old

1 week 50,000yen<br>
2 weeks 95,000 yen (5% discount)<br>
3 weeks 135,000 yen (10% discount)<br>
4 weeks 150,000 yen (25% discount)

Lunch included, bus fee is extra, consumption tax will be applied.<br>
We will have a whole day programme for the first 4 weeks of the summer vacation. We will have a range of different activities running which the children can choose from such as sports, outdoor games, music workshop and art and crafts.

Non native speakers welcome at all our language camps.

- [Register for English summer camp](https://docs.google.com/forms/d/e/1FAIpQLScNOK3qf_DGZ9BnC7e_UIlgnldy7EnUjVlrWDE3gKeU7mcUtA/viewform)
- [Register for German/Japanese summer camp](https://docs.google.com/forms/d/e/1FAIpQLSeNO87jH8Omx5DLChTEOCgRBbIJkADkpX099-sMa5Xd5bWe0w/viewform)

<!--div class="row">
  <div class="col-md-6 my-2 mb-5">
    <%= image_tag '/media/camps/summer_camp_front.png', alt: current_page.data.title, class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-md-6 my-2 mb-5">
    <%= image_tag '/media/camps/summer_camp_back.png', alt: current_page.data.title, class: 'img-fluid d-block w-100' %>
  </div>
</div-->

<br>

## サンプルアクティビティと目標スキル

<div class="row mt-3">
  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/robot.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">ロボット工学と<br>コーディング</h5>
        <ul>
          <li>クリティカル シンキング</li>
          <li>問題解決</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/woodworker.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">木工課題</h5>
        <ul>
          <li>共同制作</li>
          <li>創造性/イノベーション</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/theory.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">オートマタ</h5>
        <ul>
          <li>機械的な推論</li>
          <li>空間認知</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/knife.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">段ボール工作</h5>
        <ul>
          <li>デザイン思考</li>
          <li>工作スキル</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/circuit.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">電子工学と回路</h5>
        <ul>
          <li>論理的思考</li>
          <li>問題解決能力</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/puppet.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">ロールプレイと人形劇</h5>
        <ul>
          <li>自信</li>
          <li>プレゼンテーション能力</li>
        </ul>
      </div>
    </div>
  </div>
</div>

## サンプル内容

**第1週目　ぶらぶら操り人形**

世界の人形劇を調べ、言語スキルを伸ばし、オリジナルの台本を書いて操り人形劇を行います。<br>
社会見学：MUJI+クリエイティブスタジオ

**第2週目　ムーバーズとシェーカーズ**

回路設計、ゲームのコーディング、ロボット組み立てやコーディング、迷路ロボットの設計やその他動くものを創作します。<br>
社会見学：カワサキワールド

**第3週目　木工作業**

道具を安全に使って木工工作を行い、デザイン思考を用いて実用的な作品を創作し、科学技術と電気回路を組み合わせて完成品につなげます。<br>
社会見学：竹中大工道具館

**第4週目　箱から**

段ボールを独創的に工作し、可動式自動制御装置を組み立て、ギヤの仕組みを理解し、機械で動くおもちゃを創作します。<br>
社会見学：有馬玩具博物館

## サンプル社会見学

社会見学は教室の外での生徒たちの学びを伸ばす機会になります。

* MUJI+クリエイティブスタジオ
* カワサキワールド
* 竹中大工道具館
* 有馬玩具博物館

## １週目のサンプル時間割

<%= link_to '全てのプログラムをこちらからダウンロードできます >', '/media/camps/DSK-Makers-Camp-Programme.pdf' %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>サマースクールお申し込み</h3>
      <p>私たちのサマーキャンプに参加したくなりましたか？<a href="<%= current_page.data.signup %>">お申し込みいただき、予約をしてください</a>。</p>
    </div>

    <div class="col-md-8">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Makers-Camp1.jpg','photos/Makers-Camp2.jpg','photos/Makers-Camp3.jpg','photos/Makers-Camp4.jpg','photos/Makers-Camp5.jpg','photos/Makers-Camp6.jpg']
      } %>
    </div>
  </div>
</div>
