---
title: "DSKI Summer Camp"
icon: "icons/noun/skateboard.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
signup: "https://docs.google.com/forms/d/e/1FAIpQLSf_vGS5MRBSsRuSw7z1nhWgkHD_8A3cZpgLbPm1-KJ8YgjfyQ/viewform"
---

# <%= current_page.data.title %>

The DSKI Summer Camp is a specially designed camp for curious makers to construct, tinker and engineer, with a strong focus on developing ​soft skills​ and ​independence​.

In an intentionally set-up space, makers will learn to manage their time, resources and ideas while having fun, working out ways to ​solve problems as they create exciting projects through ​experimentation​ and ​discovery​.

A linguistic component has been added to our camp this year to provide a fun platform for creative expression.

[JOIN US FOR A SUMMER OF POSSIBILITIES](<%= current_page.data.signup %>)!

<div class="row">
  <div class="col-md-6 my-2 mb-5">
    <%= image_tag '/media/camps/summer_camp_flyer.jpg', alt: current_page.data.title, class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-md-6 my-2 mb-5">
  </div>
</div>

## Sample Activities & Targeted Skills

<div class="row mt-3">
  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/robot.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Robotics and <br>Coding </h5>
        <ul>
          <li>Critical Thinking</li>
          <li>Problem Solving</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/woodworker.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Woodworking <br>Projects</h5>
        <ul>
          <li>Collaboration</li>
          <li>Creativity/Innovation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/theory.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Automata (moving automation)</h5>
        <ul>
          <li>Mechanical reasoning</li>
          <li>Spatial Cognition</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/knife.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Cardboard <br>Construction</h5>
        <ul>
          <li>Design thinking</li>
          <li>Construction skills</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/circuit.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Electronics and <br>Circuits</h5>
        <ul>
          <li>Logical thinking</li>
          <li>Troubleshooting skills</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/puppet.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Roleplay and <br>Puppetry</h5>
        <ul>
          <li>Self confidence</li>
          <li>Presentation skills</li>
        </ul>
      </div>
    </div>
  </div>
</div>

## Description

**WEEK ONE - Dingle Dangle Puppets**

Explore the world of puppetry, develop linguistic skills, write original scripts and stage a puppet show.<br>
Field Trip : Muji+ Creative Studio

**WEEK TWO - Movers and Shakers**

Design circuits, code games, build and code a robot, design a robot maze and create other movable projects.<br>
Field Trip : Kawasaki Good Times World

**WEEK THREE - Work with Wood**

Use tools safely to construct with wood, use design thinking to create practical pieces, integrate technology and circuitry into finished projects.<br>
Field Trip : Takenaka Carpentry Tools Museum

**WEEK FOUR - Out of the Box**

Indulge in creative cardboard construction, build movable automation, understand how gears work and create a mechanical toy.<br>
Field Trip : Arimata Toys and Automata Museum

## Field Trips

Field trips are included to provide campers a chance to extend their learning outside the classroom.

* Muji+ Creative Studio
* Kawasaki Good Times World
* Arima Toys and Automata Museum
* Takenaka Carpentry Tools Museum

## Sample Timetable - Week 1

<%= link_to 'Download the full camp programme here >', '/media/camps/DSK-Makers-Camp-Programme.pdf' %>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-3">
        <h3>Dates and Times</h3>
        <p>9:00 AM to 3:30 PM, Monday to Friday</p>
        <p>Week 1: June 24-28</p>
        <p>Week 2: July 1-5</p>
        <p>Week 3: July 8-12</p>
        <p>Week 4: July 15- 19</p>
        <p>*Week 1 will run if we have 5 participants or more</p>
        <p>*Registration closes on 1 May 2019</p>
      </div>
      <div class="col-md-4 p-3">
        <h3>Pricing and Fees</h3>
        <p>1 Week: ¥46,000</p>
        <p>2 Weeks: ¥80,000 (13% off)</p>
        <p>3 Weeks: ¥105,000 (24% off)</p>
        <p>4 Weeks: ¥120,000 (35% off)</p>
        <p>Bus fee: ¥6,000 a week</p>
        <p>School lunches are available at ¥550 per day, per child</p>
      </div>
      <div class="col-md-4 p-3">
        <h3>Bus Pick-up Locations</h3>
        <ul>
          <li>JR Ashiya Post Office</li>
          <li>Yamate-Kansen Konan (North of JR Konan Yamate Kansen)</li>
          <li>Yamate-Kansen Okamoto</li>
          <li>Okamoto Kita</li>
          <li>Hankyu Mikage (South of Hankyu Mikage in front of Mitsui Sumitomo Bank)</li>
          <li>Hankyu Rokko (South of Hankyu Rokko at a temple)</li>
          <li>JR Rokkomichi (South of JR Rokkomichi at the Taxi Rotary)</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>Join our Summer Camp</h3>
      <p>Would you like to join us for our Summer Camp? <a href="<%= current_page.data.signup %>">Simply sign up to reserve your place now</a>.</p>
    </div>

    <div class="col-md-8">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Makers-Camp1.jpg','photos/Makers-Camp2.jpg','photos/Makers-Camp3.jpg','photos/Makers-Camp4.jpg','photos/Makers-Camp5.jpg','photos/Makers-Camp6.jpg']
      } %>
    </div>
  </div>
</div>
