---
title: "DSKI Summer Camp"
icon: "icons/noun/skateboard.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

Our summer camps are designed for students to be able to join us in the vacation for a day filled with activities they can enjoy, using English as the language of communication.

Non DSKI students are welcome to apply.

## Summer Camps 2023

- **English language camp 26th June - 21st July**
- **German and Japanese language camp 24th - 28th July**
- **NEW - French language camp 26th - 28th July**

Ages 4 - 12 years old

1 week 50,000yen<br>
2 weeks 95,000 yen (5% discount)<br>
3 weeks 135,000 yen (10% discount)<br>
4 weeks 150,000 yen (25% discount)

Lunch included, bus fee is extra, consumption tax will be applied.<br>
We will have a range of different activities running which the children can choose from such as sports, outdoor games, music workshop and art and crafts!

We are also happy to announce for the first time a French language camp!

Non native speakers welcome at all our language camps.

- [Register for English summer camp](https://docs.google.com/forms/d/e/1FAIpQLSeQsw6vW6-T1inBMkL7SE-aJeAm3oVVzqxKC8hLV2Kk9Jvcmw/viewform)
- [Register for German summer camp](https://docs.google.com/forms/d/e/1FAIpQLSdsXnoBgbJRbEKQh0lYeKSif2vzbjwOVp5OFpgSYTvCGZXDwg/viewform)
- [Register for French summer camp](https://docs.google.com/forms/d/e/1FAIpQLScwLNfc-wX8xNBZwQlraZKHNoccOAZvf0ZgE9CXex3K3HAIgw/viewform)
- [Register for Japanese summer camp](https://docs.google.com/forms/d/e/1FAIpQLScGIJR0mhvMVjUYqRfdRsjBFmaZAocXziewy8LPJP96sQrHRQ/viewform)

<!--div class="row">
  <div class="col-md-6 my-2 mb-5">
    <%= image_tag '/media/camps/summer_camp_front.png', alt: current_page.data.title, class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-md-6 my-2 mb-5">
    <%= image_tag '/media/camps/summer_camp_back.png', alt: current_page.data.title, class: 'img-fluid d-block w-100' %>
  </div>
</div-->

<br>

## Sample Activities & Targeted Skills

<div class="row mt-3">
  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/robot.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Robotics and <br>Coding </h5>
        <ul>
          <li>Critical Thinking</li>
          <li>Problem Solving</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/woodworker.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Woodworking <br>Projects</h5>
        <ul>
          <li>Collaboration</li>
          <li>Creativity/Innovation</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/theory.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Automata (moving automation)</h5>
        <ul>
          <li>Mechanical reasoning</li>
          <li>Spatial Cognition</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/knife.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Cardboard <br>Construction</h5>
        <ul>
          <li>Design thinking</li>
          <li>Construction skills</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="col-md-4">
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/circuit.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Electronics and <br>Circuits</h5>
        <ul>
          <li>Logical thinking</li>
          <li>Troubleshooting skills</li>
        </ul>
      </div>
    </div>
    <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
      <%= image_tag 'icons/noun/puppet.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
      <div class="card-body d-flex flex-column align-items-start p-1">
        <h5 class="mb-1">Roleplay and <br>Puppetry</h5>
        <ul>
          <li>Self confidence</li>
          <li>Presentation skills</li>
        </ul>
      </div>
    </div>
  </div>
</div>

## Sample Description

**WEEK ONE - Dingle Dangle Puppets**

Explore the world of puppetry, develop linguistic skills, write original scripts and stage a puppet show.<br>
Field Trip : Muji+ Creative Studio

**WEEK TWO - Movers and Shakers**

Design circuits, code games, build and code a robot, design a robot maze and create other movable projects.<br>
Field Trip : Kawasaki Good Times World

**WEEK THREE - Work with Wood**

Use tools safely to construct with wood, use design thinking to create practical pieces, integrate technology and circuitry into finished projects.<br>
Field Trip : Takenaka Carpentry Tools Museum

**WEEK FOUR - Out of the Box**

Indulge in creative cardboard construction, build movable automation, understand how gears work and create a mechanical toy.<br>
Field Trip : Arimata Toys and Automata Museum

## Sample Field Trips

Field trips are included to provide campers a chance to extend their learning outside the classroom.

* Muji+ Creative Studio
* Kawasaki Good Times World
* Arima Toys and Automata Museum
* Takenaka Carpentry Tools Museum

## Sample Timetable - Week 1

<%= link_to 'Download the full camp programme here >', '/media/camps/DSK-Makers-Camp-Programme.pdf' %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <h3>Join our Summer Camp</h3>
      <p>Would you like to join us for our Summer Camp? <a href="<%= current_page.data.signup %>">Simply sign up to reserve your place now</a>.</p>
    </div>

    <div class="col-md-8">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Makers-Camp1.jpg','photos/Makers-Camp2.jpg','photos/Makers-Camp3.jpg','photos/Makers-Camp4.jpg','photos/Makers-Camp5.jpg','photos/Makers-Camp6.jpg']
      } %>
    </div>
  </div>
</div>
