---
title: "Winter Camp"
icon: "icons/noun/coding.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

**19th - 24th December 2024**<br>
**9.00am - 3.30pm**

**Now open for 3 years old!**

Come and join us in the first week of the winter holidays for our winter camp. <br>
We will be running art and games activities with music fun and a end of camp Christmas dinner party!

**Please [click here to register](https://docs.google.com/forms/d/e/1FAIpQLSdfyENZRJyTovcE1L0xSqpA1bLHHj9fumo6cBgW18c1fuUOtA/viewform?usp=sf_link).**

Fee 50, 000 yen per child, lunch included.

Please ask about school bus if you need it.<br>

<!-- See below for some of the activities we will be taking part in.-->

<!--div class="row text-center mt-5">
  <div class="col-md-12">
    <h2>Sample Activities</h2>
  </div>
</!--div>
<div class="row text-center">
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/teamwork.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">Team Games</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/painting.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">Creative Planning</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/playground.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">Obstacle Courses</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 offset-md-2 p-3">
    <%= image_tag 'icons/noun/castle.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">Model Craft</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/disco.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">End of Camp Disco</p>
  </div>
</div>

<div-- class="row mt-5">
  <div class="col-md-4">
    <p>Interested in joining us? Simply fill in the below form and book your place.</p>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Students-enjoying-winter-camp.jpg','photos/Winter-camp-fun.jpg','photos/wintercamp_play.jpg']
    } %>
  </div>
</div-->
