---
title: "Winter School"
description: ""
keywords: []
url:
  legacy: "/winterschool/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <h1>Sports and Art Winter Camp</h1>

      <p>Our 2018 Winter Camp is fast approaching and we are looking forward to taking part in a range of sports and art activities for all!</p>
      <p>We are excited to see some familiar faces and also to meet some new friends. Please join us!</p>

      <h3>Dates:</h3>
      <ul class="list-unstyled">
        <li>December 17th to 21st</li>
        <li>Hours: 9:00am - 3:30pm</li>
      </ul>

      <h3>Ages:</h3>
      <ul class="list-unstyled">
        <li>5 - 11 years old</li>
      </ul>

      <h3>Costs:</h3>
      <ul class="list-unstyled">
        <li>1 day: 12,000円</li>
        <li>Full Week: 50,000円</li>
      </ul>

      <p class="mt-3">See below for some of the activities we will be taking part in.</p>
    </div>

    <div class="col-md-4 offset-md-1">
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-12 p-5">
        <h2>Activities</h2>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 p-3">
        <%= image_tag 'icons/noun/teamwork.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:80px;' %>
        <p class="lead">Team Games</p>
      </div>
      <div class="col-md-4 p-3">
        <%= image_tag 'icons/noun/painting.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:80px;' %>
        <p class="lead">Creative Planning</p>
      </div>
      <div class="col-md-4 p-3">
        <%= image_tag 'icons/noun/playground.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:80px;' %>
        <p class="lead">Obstacle Courses</p>
      </div>
    </div>
    <div class="row text-center">
      <div class="col-md-4 offset-md-2 p-3">
        <%= image_tag 'icons/noun/castle.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:80px;' %>
        <p class="lead">Model Craft</p>
      </div>
      <div class="col-md-4 p-3">
        <%= image_tag 'icons/noun/disco.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:80px;' %>
        <p class="lead">End of Camp Disco</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <%= image_tag 'icons/noun/application.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <p>Interested in joining us? Simply fill in the below form and book your place.</p>
      <p><%= link_to 'Sign up here >', 'https://docs.google.com/forms/d/e/1FAIpQLSeOV2SL358ecQ_8i1o7xeYMlcK41EQUaKghBHU_yG142AD8Og/viewform?usp=sf_link' %></p>

      <%= image_tag 'icons/noun/faq.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <p>Follow the link below to see some of our common FAQs for Winter Camp.</p>
      <p><%= link_to "FAQ's >", local_path('winterschool/faq') %></p>
   </div>

    <div class="col-md-9">
      <%= partial "includes/carousel", :locals => {
        :items => ['photos/Students-enjoying-winter-camp.jpg','photos/Winter-camp-fun.jpg','photos/wintercamp_play.jpg']
      } %>
    </div>
  </div>
</div>

<%= partial "includes/en/get_in_touch", :locals => {
  :text => 'Still have questions about Winter School or would like to sign up?'
} %>
