---
title: "ウィンターキャンプ"
icon: "icons/noun/coding.png"
description: ""
keywords: []
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

**18th - 22nd December 2023**<br>
**9.00am - 3.30pm**

**Now open for 3 years old!**

Come and join us in the first week of the winter holidays for our winter camp. <br>
We will be running art and games activities with music fun and a end of camp Christmas dinner party!

**Please [click here to register](https://docs.google.com/forms/d/e/1FAIpQLSdMnIs6Wu5AQ7kQABJ0QTPUgYo9pQM-mZAqJa_7LTf6pjwE7g/viewform?usp=sf_link).**

Fee 50, 000 yen per child, lunch included.

Please ask about school bus if you need it.<br>

<!--
**[Please click here for registration](https://docs.google.com/forms/d/e/1FAIpQLSdy7zca_yLiSFi3T80Ck6FEGUDwAD5AR16Cs0Ay__hMVqIqVg/viewform?usp=sf_link).**
-->

<!--
<div class="row text-center mt-5">
  <div class="col-md-12">
    <h2>実施されるアクティビティ例</h2>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/teamwork.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">ティームゲーム</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/painting.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">クリエイティブプランニング</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/playground.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">障害物コース</p>
  </div>
</div>
<div class="row text-center">
  <div class="col-md-4 offset-md-2 p-3">
    <%= image_tag 'icons/noun/castle.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">モデルクラフト</p>
  </div>
  <div class="col-md-4 p-3">
    <%= image_tag 'icons/noun/disco.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:80px;' %>
    <p class="lead">キャンプディスコ</p>
  </div>
</div>

<div class="row mt-5">
  <div class="col-md-4">
    <p>興味を持っていただけましたか？ 以下のフォームに記入して、ご予約ください。</p>
  </div>

  <div class="col-md-8">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Students-enjoying-winter-camp.jpg','photos/Winter-camp-fun.jpg','photos/wintercamp_play.jpg']
    } %>
  </div>
</div>
-->
