<!doctype html>
<html>
  <head>
    <title><%= current_page.data.title + " | " + I18n.t(:title) %></title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="Hd4uf1DcsW07ExTeXGIscOFiBM9dhZmE_FI3AgD-bQ8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-79501011-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'UA-79501011-1');
    </script>

    <link rel="icon" href="favicon_dski_logo-192x192.png" sizes="192x192" />
    <link rel="apple-touch-icon-precomposed" href="favicon_dski_logo-180x180.png" />
    <meta name="msapplication-TileImage" content="favicon_dski_logo-270x270.png" />
    <link rel="icon" href="favicon_dski_logo-32x32.png" sizes="32x32">
    <link rel="icon" href="favicon_dski_logo-192x192.png" sizes="192x192">
    <link rel="apple-touch-icon-precomposed" href="favicon_dski_logo-180x180.png">
    <meta name="msapplication-TileImage" content="favicon_dski_logo-270x270.png">

    <meta name="description" content="<%= current_page.data.description + ' ' + I18n.t(:description) %>">
    <%= stylesheet_link_tag "site", "https://unpkg.com/ionicons@4.5.10-1/dist/css/ionicons.min.css" %>
  </head>
  <body>
    <%= partial "includes/header" %>

    <main role="main">
      <%= yield %>
    </main>

    <%= partial "includes/footer" %>
    <%= javascript_include_tag "site" %>
  </body>
</html>
