<footer class="jumbotron jumbotron-fluid bg-secondary text-light pt-5 pb-3 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 pt-2 pb-sm-4">
        <%= image_tag 'ib-world-school-logo_footer.png', alt: 'IB World School', style: 'height:60px;padding-right:10px;' %>
        <%= image_tag 'cambridge-logo-white.png', alt: 'Cambridge International School', style: 'height:48px;padding-right:10px;' %>
        <%= image_tag 'Konsulat_Osaka.png', alt: 'Consulate General of the Federal Republic of Germany Osaka-Kobe', style: 'height:48px;' %>
      </div>

      <div class="col-lg-2 col-sm-6 pt-3 pt-sm-0">
        <ul class="list-unstyled">
          <li><%= link_to t('menu.about.top'), local_path('about'), class: 'text-light' %></li>
          <li><%= link_to t('menu.news.top'), local_path('about'), class: 'text-light' %></li>
          <li><%= link_to t('menu.programmes.top'), local_path('programmes'), class: 'text-light' %></li>
        </ul>
      </div>

      <div class="col-lg-2 col-sm-6">
        <ul class="list-unstyled">
          <li><%= link_to t('menu.school.top'), local_path('programmes'), class: 'text-light' %></li>
          <li><%= link_to t('menu.admissions'), local_path('programmes'), class: 'text-light' %></li>
          <li><%= link_to t('menu.contact'), local_path('contact'), class: 'text-light' %></li>
        </ul>
      </div>

      <div class="col-lg-2 col-md-6">
        <p><b><%= t('footer.school') %></b><br><%= t('footer.address') %></p>
      </div>

      <div class="col-lg-2 col-md-6">
        <ul class="list-unstyled">
          <li><i class="icon ion-md-call"></i> <%= data.config.contact.phone %></li>
          <li><i class="icon ion-md-paper"></i> <%= data.config.contact.fax %></li>
          <li><i class="icon ion-md-mail"></i> <%= mail_to data.config.contact.mailto, data.config.contact.mailto, class: 'text-light' %></li>
        </ul>
      </div>
    </div>

    <hr>
    <p class="float-right"><a href="#" class="text-light"><%= t('footer.backtotop') %></a></p>
    <p><%= t('footer.copyright') %></p>
  </div>
</footer>
