<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.about.top') %></a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <%= link_to t('menu.overview'), local_path('about'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.welcome'), local_path('about/welcome'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.offer'), local_path('about/what-we-offer'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.languages'), local_path('about/languages-at-dski'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.physical'), local_path('about/physical-education'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.technology'), local_path('about/technology'), class: 'dropdown-item' %>
    <%= link_to t('menu.about.campus'), local_path('about/campus'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="news-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.news.top') %></a>
  <div class="dropdown-menu" aria-labelledby="news-dropdown">
    <%= link_to t('menu.news.events'), local_path('news'), class: 'dropdown-item' %>
    <%= link_to t('menu.news.school'), local_path('news/calendar'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="programmes-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.programmes.top') %></a>
  <div class="dropdown-menu" aria-labelledby="programmes-dropdown">
    <%= link_to t('menu.overview'), local_path('programmes'), class: 'dropdown-item' %>
    <%= link_to t('menu.programmes.playgroup'), local_path('programmes/playgroup'), class: 'dropdown-item' %>
    <%= link_to t('menu.programmes.early'), local_path('programmes/early-years'), class: 'dropdown-item' %>
    <%= link_to t('menu.programmes.pyp'), local_path('programmes/pyp'), class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to t('menu.programmes.summer'), local_path('programmes/summerschool'), class: 'dropdown-item' %>
    <%= link_to t('menu.programmes.winter'), local_path('programmes/winterschool'), class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to t('menu.programmes.parent'), local_path('programmes/parent-programme'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.school.top') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="community-dropdown">
    <%= link_to t('menu.overview'), local_path('school'), class: 'dropdown-item' %>
    <%= link_to t('menu.school.clubs'), local_path('school/clubs'), class: 'dropdown-item' %>
    <%= link_to t('menu.school.pta'), local_path('school/pta'), class: 'dropdown-item' %>
    <%= link_to t('menu.school.alumni'), local_path('school/alumni'), class: 'dropdown-item' %>
    <%= link_to t('menu.school.jobs'), local_path('school/careers'), class: 'dropdown-item' %>
    <%= link_to t('menu.school.sponsors'), local_path('school/sponsors'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="saturday-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.saturday.top') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="saturday-dropdown">
    <%= link_to t('menu.overview'), local_path('saturdayschool'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.english'), local_path('saturdayschool/english-program'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.german'), local_path('saturdayschool/german-program'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.french'), local_path('saturdayschool/french-program'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.move'), local_path('saturdayschool/move-to-learn'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.calendar'), local_path('saturdayschool/schedule'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.fees'), local_path('saturdayschool/fees'), class: 'dropdown-item' %>
    <%= link_to t('menu.saturday.admission'), local_path('saturdayschool/admission'), class: 'dropdown-item' %>
  </div>
</li>
