<nav class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom">
  <div class="container">
    <% link_to local_path(''), class: 'navbar-brand' do %>
      <%= image_tag 'logo_header.png', alt: data.config.title %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
      <ul class="navbar-nav d-flex ml-auto">
        <% if (I18n.locale.to_s != "ja") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-jp"></span> 日本語', current_page.url.sub(I18n.locale.to_s,'ja'), class: 'nav-link' %>
        </li>
        <% end %>

        <% if (I18n.locale.to_s != "de") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-de"></span> Deutsch', '/de', class: 'nav-link' %>
        </li>
        <% end %>

        <% if (I18n.locale.to_s != "fr") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-fr"></span> Français', '/fr', class: 'nav-link' %>
        </li>
        <% end %>

        <% if (I18n.locale.to_s != "en") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-gb"></span> English', current_page.url.sub(I18n.locale.to_s,'en'), class: 'nav-link' %>
        </li>
        <% end %>

        <li class="nav-item pr-3 pb-1">
          <%= link_to t('menu.contact'), local_path('contact'), class: 'btn btn-outline-info' %>
        </li>

        <li class="nav-item pb-1">
          <%= link_to link_to t('menu.admissions'), local_path('admissions'), class: 'btn btn-info' %>
        </li>
      </ul>

      <ul class="navbar-nav d-flex ml-auto">
        <%= partial "includes/header_menu" %>
      </ul>
    </div>
  </div>
</nav>
