<nav class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom">
  <div class="container">
    <% link_to local_path(''), class: 'navbar-brand' do %>
      <%= image_tag 'logo_header.png', alt: data.config.title %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
      <ul class="navbar-nav d-flex ml-auto">
        <% if (current_resource.data.i18n != "ja") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-jp"></span> 日本語', local_path('ja'), class: 'nav-link' %>
        </li>
        <% end %>

        <% if (current_resource.data.i18n != "de") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-de"></span> Deutsch', local_path('de'), class: 'nav-link' %>
        </li>
        <% end %>

        <% if (current_resource.data.i18n != "fr") %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-fr"></span> Français', local_path('fr'), class: 'nav-link' %>
        </li>
        <% end %>

        <% if ['de','fr','ja'].include? current_resource.data.i18n %>
        <li class="nav-item pr-1">
          <%= link_to '<span class="flag-icon flag-icon-gb"></span> English', local_path(''), class: 'nav-link' %>
        </li>
        <% end %>

        <li class="nav-item pr-3 pb-1">
          <%= link_to t('menu.contact'), local_path('contact'), class: 'btn btn-outline-info' %>
        </li>

        <li class="nav-item pb-1">
          <%= link_to link_to t('menu.admissions'), local_path('admissions'), class: 'btn btn-info' %>
        </li>
      </ul>

      <ul class="navbar-nav d-flex ml-auto">
        <%= partial "includes/header_menu" %>
      </ul>
    </div>
  </div>
</nav>
