<nav class="navbar navbar-expand-xl navbar-light sticky-top navbar-custom">
  <div class="container">
    <% link_to local_path(''), class: 'navbar-brand' do %>
      <%= image_tag 'logo_header.png', alt: data.config.title %>
    <% end %>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse flex-column" id="navbarCollapse">
      <ul class="navbar-nav d-flex ml-auto">
        <li class="nav-item">
          <%= link_to data.config.menu.contact, local_path('contact'), class: 'nav-link' %>
        </li>

        <% #resource_path = current_resource.path.split('/')[1..-1].join('/') %>

        <% #if (sitemap.find_resource_by_path "en/#{resource_path}") %>
        <li class="nav-item pl-2">
          <%= link_to '<span class="flag-icon flag-icon-gb"></span> English', local_path(''), class: 'nav-link' %>
        </li>
        <% #end %>

        <% #if (sitemap.find_resource_by_path "de/#{resource_path}") %>
        <li class="nav-item pl-2">
          <%= link_to '<span class="flag-icon flag-icon-de"></span> Deutsch', local_path('de'), class: 'nav-link' %>
        </li>
        <% #end %>

        <% #if (sitemap.find_resource_by_path "ja/#{resource_path}") %>
        <li class="nav-item pl-2">
          <%= link_to '<span class="flag-icon flag-icon-jp"></span> 日本語', local_path('ja'), class: 'nav-link' %>
        </li>
        <% #end %>
      </ul>

      <ul class="navbar-nav d-flex ml-auto">
        <%= partial "includes/header_menu" %>
      </ul>
    </div>
  </div>
</nav>
