---
title: "お問い合わせ：神戸ドイツ学院ヨーロピアンスクール"
description: ""
keywords: []
url:
  legacy: "/contact/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/school_01.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>お問い合わせ</h1>

      <p>神戸ドイツ学院ヨーロピアンスクールは、お車又は電車（六甲ライナー線・アイランドセ ンター駅より徒歩3分、三ノ宮(神戸の中心街)から約20分、梅田（大阪の中心街)か３５分）で簡単にアクセスできます。</p>

      <h2>入学に関するお問い合わせ</h2>

      <p>下記のお問い合わせフォームにご記入いただくか<%= mail_to data.config.mailto, data.config.mailto %>までメールにて
          ご連絡いただくか、<strong>+81 <a href="tel:078 857 9777">(0)78-857-9777</a></strong>にお電話いただければスタッフが対応いたします。</p>
      <p>詳細については当サイトの入学ページをご覧ください。</p>

      <h2 class="mt-4">学校見学</h2>

      <p>DSKIでは通常の授業日にガイド付き学校見学会を開催しています。</p>
      <p>学校見学にはご予約が必要です。下記よりご予約をお願いします。</p>
      <p><%= mail_to data.config.mailto + '?subject=学校見学予約', '学校見学予約 »', class: 'btn btn-lg btn-info', role: 'button' %></p>

      <h2 class="mt-4">オープンイベント</h2>

      <p>オープンイベントでは、在校生、保護者、教師、スタッフと時間を過ごすための楽しくユニークな機会をご用意しています。我が校では様々なオープンイベントを開催しており、参加は無料で通常予約は必要ありません。こちらのイベントリストをご覧ください。</p>

      <h2 class="mt-4">オープンディ</h2>

      <p>我が校は年2回オープンディを開催しています(3月、11月に各1回)。学校にお越しいただき、実際に学校をご覧いただき、スタッフと接し、DSKでの学校生活がどのようなものなのかを知っていただく最高の機会です。次回オープンディの詳細はすぐにイベントページでご確認いただけるようになります。オープンディのご予約を希望される場合、こちらまでご連絡ください。</p>
      <p><%= mail_to data.config.mailto + '?Subject=オープンディのお問い合わせ', 'オープンディのお問い合わせ »', class: 'btn btn-lg btn-info', role: 'button' %></p>

      <h2 class="mt-4">一般的なお問い合わせ</h2>

      <p>学校に関するその他のお問い合わせやご質問がある場合は、いつでもご連絡いただけます。以下のお問い合わせフォームより何でもお問い合わせください。</p>
      <p class="mb-5"><%= mail_to data.config.mailto + '?Subject=一般的なお問い合わせ', '一般的なお問い合わせ »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>
    <div class="col-4 offset-md-1">
      <h3>住所</h3>
      <ul class="list-unstyled">
        <li>兵庫県神戸市東灘区向洋町中3丁目2-8</li>
        <li>神戸ドイツ学院ヨーロピアンスクール</li>
      </ul>

      <h3 class="mt-4">受付</h3>
      <ul class="list-unstyled">
        <li>事務局長：まさだ　やすよ</li>
        <li><i class="icon ion-md-call"></i> <%= data.config.phone %></li>
        <li><i class="icon ion-md-paper"></i> <%= data.config.fax %></li>
        <li><i class="icon ion-md-mail"></i> <%= mail_to data.config.mailto, data.config.mailto %></li>
      </ul>

      <iframe width="100%" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://www.openstreetmap.org/export/embed.html?bbox=135.26561915874484%2C34.68514302273645%2C135.27429878711703%2C34.68908646655704&amp;layer=transportmap&amp;marker=34.68711476812728%2C135.2699589729309" style="border: 1px solid gray"></iframe><br/><small><a href="https://www.openstreetmap.org/?mlat=34.68711&amp;mlon=135.26996#map=18/34.68711/135.26996&amp;layers=T">大きな地図で見る</a></small>

      <h3 class="mt-4">DSKI on Facebook</h3>
      <p>学校での活動や新着情報についてFacebookに投稿していきます。頻繁に更新しており、あなたがフォロワーになってくれることを歓迎します。Facebookでお会いしましょう！</p>
      <a href="https://www.facebook.com/dskobe.org">
        <%= image_tag 'fb_logo.png', alt: 'DSKi on Facebook' %>
      </a>
    </div>
  </div>
</div>
