---
title: "神戸のインターナショナルスクール"
icon: "icons/dsk.png"
description: ""
keywords: []
layout: "startpage"
sitemap_priority: 1.0
---

<%= partial "includes/slider", :locals => {
  :items => [{
    :image => 'banners/1_header_thin.jpg',
    :link => local_path('programmes/winterschool'),
    :title => '2021のウィンターキャンプ<br>12月20日〜12月23日',
    :disabled => true,
    :active => false
  },{
    :image => 'banners/1_header_thin.jpg',
    :link => local_path('programmes/summerschool'),
    :title => '2022のサマーキャンプ',
    :disabled => false,
    :active => false
  },{
    :image => 'carousel/img_04.jpg',
    :link => local_path('about'),
    :title => '神戸でのインターナショナルエデュケーション',
    :active => false
  },{
    :image => 'carousel/img_08.jpg',
    :link => local_path('news'),
    :title => 'オンライン　インフォメーション　ミーティング <br>10月12日',
    :text => 'オンラインでご参加いただき学院のプログラムについて知ってください',
    :disabled => false,
    :active => true
  },{
    :image => 'carousel/img_01.jpg',
    :link => local_path('about'),
    :title => '生涯学習'
  },{
    :image => 'carousel/img_02.jpg',
    :link => local_path('programmes'),
    :title => '私たちのプログラム'
  },{
    :image => 'carousel/img_03.jpg',
    :link => local_path('school/clubs'),
    :text => '私たちのクラブに参加して、新しいスキルを学び、楽しんで、精神的および肉体的に活動する',
    :title => 'DSKIクラブ'
  },{
    :image => 'carousel/img_05.jpg',
    :link => local_path('news'),
    :title => '最新ニュース'
  },{
    :image => 'carousel/img_07.jpg',
    :link => local_path('saturdayschool'),
    :title => 'サタデースクール'
  }]
} %>

<div class="container text-center mb-5">
  <div class="col-md-10 offset-md-1">
    <p class="lead text-muted">神戸の2-11歳の学習者のためのインターナショナルスクール、神戸ドイツ学院インターナショナルへようこそ。当学院はIBワールドスクールであり、多言語、国際志向の生徒たちの育成に努めています</p>
    <p>
      <a href="/media/prospectus/DSKI_Prospectus_V5.pdf" class="btn btn-outline-secondary btn-lg my-2" target="_blank">Download Prospectus</a>
    </p>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-4">
      <h2>私たちの使命</h2>
      <p>私たちの任務は、ドイツの歴史や伝統とヨーロッパの価値観と信念に基づいています。 スクールコミュニティとして、有意義な真の学習経験を通して刺激鼓舞された生涯に渡る探求者になれるよう努めています。</p>
      <p><%= link_to t('slider.button'), local_path('about'), class: 'stretched-link' %></p>
    </div>
    <div class="col-md-4">
      <h2>1人の生徒 – 3言語</h2>
      <p>神戸ドイツ学院インターナショナルでは2歳から11歳までの学習者に独自の多言語教育を提供しています。学習者それぞれのニーズを満たすために、当学院のプログラムでは英語、ドイツ語、日本語の3言語でカリキュラムを２つのセクションで提供しています。</p>
      <p><%= link_to t('slider.button'), local_path('about/languages-at-dski'), class: 'stretched-link' %></p>
    </div>
    <div class="col-md-4">
      <h2>真のコミュニティ</h2>
      <p>教育とは、生徒の両親や更に広いコミュニティと共有する課題です。私たちは学習者に国際性と客観性、誠実さと思いやりをもって行動する生涯の探求心を育成することを目指します。私たちのコミュニティに敬意を表します。</p>
      <p><%= link_to t('slider.button'), local_path('school'), class: 'stretched-link' %></p>
    </div>
  </div>

  <div class="row mt-5 mb-5">
    <div class="col-md-9">
      <h2なぜ神戸ドイツ学院インターナショナルを選ぶのか？</h2>
      <p class="lead">2-11歳の学習者のための神戸にある国際バカロレア認定校<br>
      生徒と教員の優れた人数比率:教員1人当たり6-15人のクラス編成</p>
      <p>私たちは、あらゆる年齢や文化的な背景や経験を持っている子供たちの学問的、感情的、社会的、身体的、創造的な成長を育む環境を提供します。国際バカロレア認定校として、生涯学習への情熱と世界に良い変化を起こす強い意志を喚起するよう努めています。3つの言語(英語、ドイツ語、日本語)、国際カリキュラム(PYP)、ドイツ語(チューリンゲン)、個々へのサポートを可能にする少人数授業、質の高い音楽プログラム、水泳レッスンと素敵なコミュニティを提供します。</p>
    </div>
    <div class="col-md-3 text-center">
      <%= image_tag 'ib-world-school-logo.png', alt: data.config.title %>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-dark" style="padding-bottom:0;padding-top:2rem;">
  <div class="container">
    <h2 class="text-light d-sm-none d-md-block">元生徒からのコメント</h2>

    <%= partial "includes/voices", :locals => {
      :items => [{
        :image => 'people/Natalia.png',
        :name => 'ナタリア',
        :text => '『素晴らしい学校です。素敵な友達と学校で最高の思い出をたくさん作ることができました。あの頃に戻れたらなぁ。』'
      },{
        :image => 'people/Yoona.png',
        :name => 'ユナ',
        :text => '『神戸ドイツ学院インターナショナルスクールは我が家にいるような気持ちになれました。そして、友達や学校にいる皆は私の家族のようでした。とても居心地の良い場所で、いつも学校に行くことが楽しみでした。また、小さな学校なので先生に質問しやすく、たくさんのことを学ぶことができました。』'
      },{
        :image => 'people/Dianne.png',
        :name => 'ダイアン',
        :text => '『DSKIは学ぶことのインスピレーションを受けた学校です。伝えたいことはたくさんありますが、私が最も強調したいのは、子供たちが自立した学習者であることを探求の単元と呼ばれる授業を通してどのように先生達がサポートしているかです。この教育スタイルの意義は、子供たちがとても熱心に楽しみながら学び、知識を深め、アイディアを創出し、解決策を模索していることです。』',
        :active => true
      }]
    } %>
  </div>
</div>

<div class="container">
  <div class="row mt-5 mb-5">
    <div class="col-md-6 text-center">
      <%= image_tag 'home_image_prog.jpg', alt: data.config.title, class: 'rounded' %>
    </div>

    <div class="col-md-5 offset-md-1">
      <h2私たちの提供プログラム</h2>
      <p>神戸ドイツ学院インターナショナルでは、2-11歳の子供たちに、プレイグループ、早期教育、初等教育(PYP)の3つのプログラムを提供しています。</p>
      <p><%= link_to 'プログラムの概要', local_path('programmes'), class: 'stretched-link' %></p>
    </div>
  </div>
</div>

<%= partial "includes/related_icons", :locals => {
  :items => ['about/index','about/what-we-offer','admissions/index','school/careers']
} %>

<%= partial "includes/get_in_touch", :locals => {} %>
