---
title: "DSKI スクールカレンダー"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

* <%= link_to '2019/2020 カレンダーをここからダウンロードする', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %>
* <%= link_to '2020/2021 カレンダーをここからダウンロードする', '/media/calendars/DSKI-2020-21-School-Calendar.pdf' %>

<div class="row">
  <div class="col-xl-6">
    <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 カレンダー', class: 'img-fluid d-block w-100' %>
  </div>
  <div class="col-xl-6 mt-4">
    <%= image_tag '/media/calendars/DSKI-2020-21-School-Calendar.png', alt: '2020/2021 カレンダー', class: 'img-fluid d-block w-100' %>
  </div>
</div>
