---
title: "DSKI スクールカレンダー"
icon: "icons/times.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

* <%= link_to '2022/2023 カレンダーをここからダウンロードする', '/media/calendars/DSKI-2022-23-School-Calendar.pdf' %>
* <%= link_to '2023/2024 カレンダーをここからダウンロードする', '/media/calendars/DSKI-2023-24-School-Calendar.pdf' %>

<div class="row">
  <div class="col-xl-6 mt-4">
    <%= image_tag '/media/calendars/DSKI-2022-23-School-Calendar.png', alt: '2022/2023 カレンダー', class: 'img-fluid d-block w-100' %>
  </div>

  <div class="col-xl-6 mt-4">
    <%= image_tag '/media/calendars/DSKI-2023-24-School-Calendar.png', alt: '2023/2024 カレンダー', class: 'img-fluid d-block w-100' %>
  </div>
</div>
