---
title: "DSKI Event Calendar"
icon: "icons/dsk.png"
description: ""
keywords: []
banner: "banners/3_header_thin.jpg"
---

# <%= current_page.data.title %>

<div class="my-5">
  <!--
  <h3 id="open-day">Open Day</h3>
  <p class="lead text-muted">February 23rd</p>
  <p>10.00am - 12.00pm Open Day Event<br>11.00am School Tour</p>
  <p>Come along and visit our campus, no prior registration needed.</p>
  <p>Information session with the principal<br>School tour</p>
  -->

  <h3 id="open-day">Online information meeting</h3>
  <p class="lead text-muted"><%= data.meeting.online.date_en %> at 11.00am via Zoom</p>
  <p>Join an online meeting to hear about our school programme and have a virtual walkthrough to see the school day.<br><a href="<%= data.meeting.online.form %>">Click here to register</a></p>
</div>

## Upcoming Events

<% today = Date.today %>
<% grouped_upcoming_events = data.events.select { |event| parse_start_date(event[:date]) && parse_start_date(event[:date]) >= today }.sort_by { |event| parse_start_date(event[:date]) }.group_by { |event| format_month_year(event[:date]) } %>

<% grouped_upcoming_events.each do |month_year, events| %>
  <h4 class="mt-4"><%= month_year %></h4>
  <ul class="list-group">
    <% events.each do |event| %>
      <li class="list-group-item">
        <div class="row">
          <div class="col-lg-2 col-md-3 col-xs-6"><%= extract_day_or_range(event[:date]) %></div>
          <div class="col-lg-8 col-md-5 col-xs-12">
            <% if event[:link] %>
              <%= link_to event[:title][:en], event[:link][:en] %>
            <% else %>
              <%= event[:title][:en] %>
            <% end %>
            <% if event[:description] %>
              <br><small><%= event[:description][:en] %></small>
            <% end %>
          </div>
          <div class="col-lg-2 col-md-4 col-xs-6"><%= event[:time] || '' %></div>
        </div>
      </li>
    <% end %>
  </ul>
<% end %>

<div class="row">
  <div class="col-xl-9 mt-4">
    <%= image_tag '/media/calendars/events_25_26.png', alt: '2025/2026 Event Calendar', class: 'img-fluid d-block w-100' %>
  </div>
</div>
