---
title: "DSKI Calendars"
description: ""
keywords: []
url:
  legacy: "/about-us/school-calendar/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">DSKI Event Calendar</h2>
      <p class="mt-4">Please <%= link_to 'click here to view', '/media/calendars/Events-2019-2020.pdf' %> the events calendar.</p>

      <h3 class="mt-4">Oktoberfest</h3>
      <p>Join us for Oktoberfest on the 19th of October for a memorable day with students, parents, teachers, staff and friends. We have a range of activities planned and also beer and sausages!</p>
      <ul>
        <li>Beer</li>
        <li>Live Music</li>
        <li>Homemade Cakes</li>
        <li>German Food</li>
        <li>Tombola with Great Prizes</li>
        <li>Games & Fun for Kids</li>
      </ul>

      <%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>

      <h2 class="mt-4">2019/2020 School Calendar</h2>
      <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 School Calendar', class: 'img-fluid d-block w-100' %>

      <p><%= link_to 'Please click here to download the calendar.', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %></p>
    </div>
  </div>
</div>
