---
title: "DSKI カレンダー"
description: ""
keywords: []
url:
  legacy: "/about-us-jpn/school-calendar-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">DSKI イベントカレンダー</h2>
      <p class="mt-4"><%= link_to 'カレンダーをここからダウンロードする', '/media/calendars/Events-2019-2020.pdf' %></p>

      <h2 class="mt-4">2019/2020 カレンダー</h2>
      <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 カレンダー', class: 'img-fluid d-block w-100' %>

      <p><%= link_to 'カレンダーをここからダウンロードする', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %></p>
    </div>
  </div>
</div>
