---
title: "DSKI Schulkalendar"
description: ""
keywords: []
url:
  legacy: "/about-us-de/school-fees-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">Veranstaltungskalender</h2>
      <p class="mt-4"><%= link_to 'Klicken Sie hier', '/media/calendars/Events-2019-2020.pdf' %>, um den Kalender herunterzuladen.</p>

      <h3 class="mt-4">Oktoberfest</h3>
      <p>Begleiten Sie uns zum Oktoberfest am 19. Oktober für einen unvergesslichen Tag mit Schülern, Eltern, Lehrern, Mitarbeitern und Freunden. Wir haben eine Reihe von Aktivitäten geplant und auch Bier und Würstchen!</p>
      <ul>
        <li>Bier</li>
        <li>Live MusiK</li>
        <li>Hausgemachte Kuchen</li>
        <li>Deutsche Küche</li>
        <li>Tombola mit tollen Preisen</li>
        <li>Spiel & Spaß für Kinder</li>
      </ul>

      <%= image_tag '/media/prospectus/octoberfest.jpg', alt: 'Oktoberfest', class: 'img-fluid d-block w-50' %>
      <h2 class="mt-4">2019/2020 Schulkalendar</h2>
      <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 Schulkalendar', class: 'img-fluid d-block w-100' %>

      <p><%= link_to 'Klicken Sie hier, um den Kalender herunterzuladen.', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %></p>
    </div>
  </div>
</div>
