---
title: "Alumni"
description: ""
keywords: []
url:
  legacy: "/community/alumni/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/4_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Alumni</h1>

      <h2 class="mt-4">What happens to DSKI kids after graduation?</h2>

      <p>We are very proud of our DSKI Alumni. While the students are at DSKI we love watching them grow academically, socially and emotionally. When the students leave we are confident we have provided them with an excellent education which will help them excel and to continue achieving in life. We are very happy to say that 90% of students are accepted to their 1st choice Kansai secondary school which we think is amazing.</p>

      <h2 class="mt-4">Meet some of our Alumni</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/lisa_alumni.jpg', alt: 'Lisa', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Lisa</h3>
      <p><strong>Age: </strong>15 years old</p>
      <p><strong>Current school: </strong>OIS</p>
      <p><strong>Extracurricular Activities: </strong>World Scholar Cup</p>
      <p><strong>Future Dream: </strong>I'm not sure yet, but I do want to go to college to learn more about archeology.</p>
      <p><strong>What would you like to tell people about DSKI?</strong><br>It is a really great school. Since it is small you always have to be around the same people, and people that you might not like. But you get chances to become friends with the people you don't like. I can say with confidence that the 6 years I spent at DSKI was amazing, and that I would recommend this school to everyone who is interested.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Dianne_alumni.jpg', alt: 'Dianne', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Dianne</h3>
      <p><strong>Age: </strong>19 years old</p>
      <p><strong>Current school: </strong>Ashiya International Secondary School/芦屋国際中等教育学校</p>
      <p><strong>Extracurricular Activities: </strong>I used to be a part of the chorus club throughout junior high school and high school. In general, though, I enjoy any type of crafting, especially making mini albums.</p>
      <p><strong>Future Dream: </strong>Attend a university in Ottawa, Canada.</p>
      <p><strong>What would you like to tell people about DSKI?</strong><br>DSKI is such an inspirational school to learn in. I have so much to say, but what I would like to emphasize the most is how the teachers support children to be independent learners through a class called the unit of inquiry. The significance of this teaching style is that children are very motivated and excited to learn, develop knowledge, come up with ideas and seek for solutions. I find this unique to this school and feel very lucky to have had the opportunity to spend time in this school with amazing teachers and friends. Oh, and I absolutely love the colourful classrooms with plenty of art and visual aids not only on the walls but also hanging down from the ceilings!!</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Yoona_alumni.jpg', alt: 'Yoona', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Yoona</h3>
      <p><strong>Age: </strong>16 years old</p>
      <p><strong>Current school: </strong>Canadian Academy</p>
      <p><strong>Extracurricular Activities: </strong>I participate in dance and badminton.</p>
      <p><strong>Future Dream: </strong>I want to go to an American medical university.</p>
      <p><strong>What would you like to tell people about DSKI?</strong><br>Deutsche Schule/European School always made me feel like I was at home, and all my friends and everyone in school were like my family. It was a very comfortable place to be, and I was always excited to go to school. Also, because it is a small school, I was able to ask questions to my teachers easily which helped me learn a lot. The school allowed me to experience a lot of different things such as going on the 4 nights, 5 days trips to Green Echo and events such as Christmas Market in Osaka where I had the chance to perform in front of a large audience. Overall Deutsche Schule Kobe/European School was a place where I created lots of fun memories with the best people.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Natalia_alumni.jpg', alt: 'Natalia', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Natalia</h3>
      <p><strong>Age: </strong>17 years old</p>
      <p><strong>Current school: </strong>Canadian Academy</p>
      <p><strong>Extracurricular Activities: </strong>Soccer, Theatre, Volleyball</p>
      <p><strong>Future Dream: </strong>Study theatre production and acting.</p>
      <p><strong>What would you like to tell people about DSKI?</strong><br>Fantastic school. Made a lot of great friends and some of my best memories from school. Really wish I could go back.</p>
    </div>
  </div>

</div>
