---
title: "卒業生"
icon: "icons/alumni.png"
description: ""
keywords: []
url:
  legacy: "/community-jpn/alumni-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/4_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">DSKI卒業後について</h2>

      <p>私たちはDSKIの卒業生を非常に誇りに思っています。DSKI在学中に、学問的、社会的、精神的に彼らが成長している姿を見るのが大好きです。卒業時には、これからの社会の中で彼らが秀でて様々なことを成し遂げることに役立つ教育を提供してきたと自負しています。驚くべきことに卒業生の90％は第一希望の中学校に進学しています。</p>

      <h2 class="mt-4">Meet some of our Alumni</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/lisa_alumni.jpg', alt: 'Lisa', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>リサ</h3>
      <p><strong>年齢： </strong>15歳</p>
      <p><strong>現在の学校： </strong>OIS（関西学院大阪インターナショナルスクール）</p>
      <p><strong>特別課題活動： </strong>World Scholar Cup（WSC）</p>
      <p><strong>将来の夢： </strong>まだはっきりとはしていませんが、考古学を学ぶために大学に進学したいと思います。</p>
      <p><strong>DSKIについて伝えたいことはありますか？：</strong><br>本当に素晴らしい学校です。学校は小さいので常に同じ人と一緒にいなければいけないし、好きでない人もいるはずです。でも、それは好きでない人達と友達になれる機会でもあります。私は自信をもって、DSKIで過ごした6年間が素晴らしかったと言いたいと思います。興味のある人には是非この学校を勧めます。</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Dianne_alumni.jpg', alt: 'Dianne', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>ダイアン</h3>
      <p><strong>年齢： </strong>19歳</p>
      <p><strong>現在の学校： </strong>芦屋国際中等教育学校</p>
      <p><strong>特別課題活動： </strong>以前は中学校と高校のコーラスクラブに所属していました。今はミニアルバムの制作など、色々な物を作ることを楽しんでします。</p>
      <p><strong>将来の夢： </strong>カナダのオタワの大学に通う。</p>
      <p><strong>DSKIについて伝えたいことはありますか？：</strong><br>DSKIは学ぶことのインスピレーションを受けた学校です。伝えたいことはたくさんありますが、私が最も強調したいのは、子供たちが自立した学習者であることを探求の単元と呼ばれる授業を通してどのように先生達がサポートしているかです。この教育スタイルの意義は、子供たちがとても熱心に楽しみながら学び、知識を深め、アイディアを創出し、解決策を模索していることです。この独特の教育をもった学校で、素晴らしい先生や友達ととともに過ごせたことをとても幸せに思います。あぁ、壁だけでなく天井からも掛けられた沢山の芸術的アートに囲まれたカラフルな教室が本当に大好きです。</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Yoona_alumni.jpg', alt: 'Yoona', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>ユナ</h3>
      <p><strong>年齢： </strong>16歳</p>
      <p><strong>現在の学校： </strong>カナダ・アカデミー</p>
      <p><strong>特別課題活動： </strong>ダンスやバドミントンに参加しています。</p>
      <p><strong>将来の夢： </strong>アメリカの医科大学への進学を希望。</p>
      <p><strong>DSKIについて伝えたいことはありますか？：</strong><br>神戸ドイツ学院ヨーロピアンスクールは我が家にいるような気持ちになれました。そして、友達や学校にいる皆は私の家族のようでした。とても居心地の良い場所で、いつも学校に行くことが楽しみでした。また、小さな学校なので先生に質問しやすく、たくさんのことを学ぶことができました。グリーンエコーへの4泊5日の旅行や、大阪のクリスマスマーケットで大観衆の前でパフォーマンスをしたりと、この学校では色々なことを経験することができました。最後に、神戸ドイツ学院ヨーロピアンスクールは最高の仲間たちと沢山の楽しい思い出を作った場所でした。</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-3">
      <%= image_tag 'people/Natalia_alumni.jpg', alt: 'Natalia', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>ナタリア</h3>
      <p><strong>年齢： </strong>17歳</p>
      <p><strong>現在の学校： </strong>カナダ・アカデミー</p>
      <p><strong>特別課題活動： </strong>サッカー、演劇、バレーボール</p>
      <p><strong>将来の夢： </strong>劇場の演出と演技を勉強します。</p>
      <p><strong>DSKIについて伝えたいことはありますか？：</strong><br>素晴らしい学校です。素敵な友達と学校で最高の思い出をたくさん作ることができました。あの頃に戻れたらなぁ。</p>
    </div>
  </div>

</div>
