---
title: "Welcome to our School Community"
description: ""
keywords: []
url:
  legacy: "/community/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/11_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>Our Community</h1>

      <p>Here at DSKI, we have an engaged and inclusive community reflected in the high involvement of parents, partners, teachers and alumni. This high involvement and sense of inclusiveness is passed onto the students into every age group.</p>
      <p>We provide an environment that nurtures the academic, emotional, social, physical and creative growth of children of all ages, cultural backgrounds and experiences. As an IB World School, we strive to ignite a passion for lifelong learning and a desire to make positive change in the world.</p>
      <p>When you enrol your child at DSK International, your family is joining a wider community. This has always been the case ever since the founding of the school in 1909. For more than a century, DSKI has taken great pride in the important community partnerships, relationships and connections which provide a support network and enable students to achieve their learning outcomes.</p>
      <p>We encourage parents and alumni to keep in touch with the school during enrolment and also after a child's graduation. We value our community's skills and knowledge and are also very proud of our alumni.</p>
    </div>

    <div class="col-4 offset-md-1">
      <h3>See our Community</h3>
      <ul class="list-unstyled">
        <li>Preschool on the Go</li>
        <li>Blue Team Swimming</li>
        <li>Cooking with Family</li>
      </ul>

      <h3 class="mt-4">Related Pages</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Alumni', local_path('community/alumni') %></li>
        <li><%= link_to 'PTA', local_path('community/pta') %></li>
        <li><%= link_to 'Sponsors', local_path('about/sponsors') %></li>
      </ul>

      <h3 class="mt-4">DSKI on Facebook</h3>
      <p>For everything social and for updates on our school be sure to like our Facebook page. We are very active and would love to have you as a follower. See you on Facebook!</p>
      <a href="https://www.facebook.com/dskobe.org">
        <%= image_tag 'fb_logo.png', alt: 'DSKI on Facebook' %>
      </a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 p-5">
        <% link_to local_path('community/alumni'), class: 'stretched-link' do %>
          <%= image_tag 'icons/alumni.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Alumni</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('community/pta'), class: 'stretched-link' do %>
          <%= image_tag 'icons/pta.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">PTA</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('about/sponsors'), class: 'stretched-link' do %>
          <%= image_tag 'icons/sponsors.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Sponsors</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>Interested in joining our vibrant community? Please get in touch to discuss the range of opportunities available for parents, partners and alumni?</p>
    <p>
      <%= link_to 'Get in touch »', local_path('contact'), class: 'btn btn-lg btn-primary', role: 'button' %>
    </p>
  </div>
</div>
