---
title: "コミュニティ: DSKIのコミュニティにようこそ"
description: ""
keywords: []
url:
  legacy: "/community-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/11_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>コミュニティ</h1>

      <p>ここDSKIでは、ご両親、パートナー、教職員、卒業生との深い関わり合いを反映した連携の強い全員参加型のコミュニティがあります。この深い関わり合いの意識は生徒たちから全ての年齢層にまで及びます。</p>
      <p>W私たちはあらゆる年齢、文化的背景や経験を持っている子供たちの学問的、感情的、社会的、肉体的な成長と創造性育む環境を提供します。国際バカロレア認定校として、生涯学習への情熱と、世界に有益な変化を起こす強い意志を喚起する努力をしています。</p>
      <p>お子様が神戸ドイツ学院ヨーロピアンスクールに入学すると、あなたのご家族はより広いコミュニティと関わることになります。これは1909年創立以来ずっと続いています。1世紀以上に渡り、DSKIはサポートネットワークを提供し、生徒が学習成果を出せるよう、大切なコミュニティパートナーシップ、関係、つながりを持ってきたことを強く誇りに思います。</p>
      <p>お子様が在学中や卒業後も、学校と関わりを持ち続けていくようご両親や卒業生に推奨しています。私たちのコミュニティ・スキルと知識を評価しており、また卒業生を非常に誇らしく思っています。</p>
    </div>

    <div class="col-4 offset-md-1">
      <h3>私たちとコミュニティを
          見に来てください</h3>
      <ul class="list-unstyled">
        <li>Preschool on the Go</li>
        <li>Blue Team Swimming</li>
        <li>Cooking with Family</li>
      </ul>

      <h3 class="mt-4">関連ページ</h3>
      <ul class="list-unstyled">
        <li><%= link_to '卒業生', local_path('community/alumni') %></li>
        <li><%= link_to 'PTA', local_path('community/pta') %></li>
        <li><%= link_to 'スポンサー', local_path('about/sponsors') %></li>
      </ul>

      <h3 class="mt-4">DSKI on Facebook</h3>
      <p>学校での活動や新着情報についてFacebookに投稿していきます。頻繁に更新しており、あなたがフォロワーになってくれることを歓迎します。Facebookでお会いしましょう！</p>
      <a href="https://www.facebook.com/dskobe.org">
        <%= image_tag 'fb_logo.png', alt: 'DSKi on Facebook' %>
      </a>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-4 p-5">
        <% link_to local_path('community/alumni'), class: 'stretched-link' do %>
          <%= image_tag 'icons/alumni.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">卒業生</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('community/pta'), class: 'stretched-link' do %>
          <%= image_tag 'icons/pta.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">PTA</p>
        <% end %>
      </div>
      <div class="col-md-4 p-5">
        <% link_to local_path('about/sponsors'), class: 'stretched-link' do %>
          <%= image_tag 'icons/sponsors.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">スポンサー</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>活気あるコミュニティへの参加にご興味ありますか？ご両親、パートナー、卒業生との話しあいの機会についてはお気軽にお問合せください。</p>
    <p>
      <%= link_to '連絡する »', local_path('contact'), class: 'btn btn-lg btn-primary', role: 'button' %>
    </p>
  </div>
</div>
