<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="about-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.about-us') %></a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <%= link_to 'English', '/', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="admissions-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.admissions') %></a>
  <div class="dropdown-menu" aria-labelledby="admissions-dropdown">
    <%= link_to 'English', '/', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="programmes-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.programmes') %></a>
  <div class="dropdown-menu" aria-labelledby="programmes-dropdown">
    <%= link_to 'English', '/', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="saturday-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.saturday') %></a>
  <div class="dropdown-menu" aria-labelledby="saturday-dropdown">
    <%= link_to 'English', '/', class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('community') %>" id="community-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.community') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="community-dropdown">
    <%= link_to '卒業生', local_path('community/alumni'), class: 'dropdown-item' %>
  </div>
</li>
