<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="about-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.about-us') %></a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <%= link_to "概要", local_path('about'), class: 'dropdown-item' %>
    <%= link_to '提供するもの', local_path('about/what-we-offer'), class: 'dropdown-item' %>
    <%= link_to 'DSKIの言語', local_path('about/languages-at-dski'), class: 'dropdown-item' %>
    <%= link_to 'テクノロジー', local_path('about/technology'), class: 'dropdown-item' %>
    <%= link_to 'キャンパス', local_path('about/campus'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown pl-1">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="news-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.news') %></a>
  <div class="dropdown-menu" aria-labelledby="news-dropdown">
    <%= link_to "概要", local_path('news'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="admissions-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.admissions') %></a>
  <div class="dropdown-menu" aria-labelledby="admissions-dropdown">
    <%= link_to "概要", local_path('admissions'), class: 'dropdown-item' %>
    <%= link_to 'クラス分け概要', local_path('admissions/placement'), class: 'dropdown-item' %>
    <%= link_to '申請と登録', local_path('admissions/process'), class: 'dropdown-item' %>
    <%= link_to "授業料", local_path('admissions/fees'), class: 'dropdown-item' %>
    <%= link_to '入学時期', local_path('admissions/schedule'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="programmes-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.programmes') %></a>
  <div class="dropdown-menu" aria-labelledby="programmes-dropdown">
    <%= link_to "概要", local_path('programmes'), class: 'dropdown-item' %>
    <%= link_to 'プレイグループ', local_path('programmes/playgroup'), class: 'dropdown-item' %>
    <%= link_to '幼稚教育', local_path('programmes/early-years'), class: 'dropdown-item' %>
    <%= link_to '初等教育', local_path('programmes/pyp'), class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'サマースクール', local_path('programmes/summerschool'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="saturday-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.saturday') %></a>
  <div class="dropdown-menu" aria-labelledby="saturday-dropdown">
    <%= link_to "概要", local_path('saturdayschool'), class: 'dropdown-item' %>
    <%= link_to 'カレンダー', local_path('saturdayschool/schedule'), class: 'dropdown-item' %>
    <%= link_to '入学', local_path('saturdayschool/admission'), class: 'dropdown-item' %>
    <%= link_to '諸費用', local_path('saturdayschool/fees'), class: 'dropdown-item' %>
    <%= link_to '英語プログラム', local_path('saturdayschool/english-program'), class: 'dropdown-item' %>
    <%= link_to 'ドイツ語プログラム', local_path('saturdayschool/german-program'), class: 'dropdown-item' %>
    <%= link_to 'フランス語プログラム', local_path('saturdayschool/french-program'), class: 'dropdown-item' %>
    <%= link_to 'ムーブ・トウ・ラーン', local_path('saturdayschool/move-to-learn'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="#" id="community-dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.school') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="community-dropdown">
    <%= link_to "概要", local_path('school'), class: 'dropdown-item' %>
    <%= link_to '卒業生', local_path('school/alumni'), class: 'dropdown-item' %>
    <%= link_to 'スポンサー', local_path('school/sponsors'), class: 'dropdown-item' %>
  </div>
</li-->
