---
title: "神戸にある国際バカロレア認定校"
description: ""
keywords: []
url:
  legacy: "/summerschool-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-9">
      <h1>DSKI Makers Camp 2019</h1>

      <p>DSKIのサマースクールは、組み立てや設計に興味がある生徒たちのための特別なプログラムで、彼らのソフトスキルや主体性を伸ばすことを特に重視しています。</p>
      <p>特設スペースでは、生徒たちは実験や発見を通して問題を解決し楽しみながら、時間、材料やアイデアをうまく使っていくことを学びます。</p>
      <p>今年のプログラムでは、生徒たちの創造的表現力を高めるために言語を重視した内容を取り入れました。</p>
      <p>募集人数はわずか24名です。可能性に満ちたプログラムにぜひご参加ください！</p>

    </div>

    <div class="col-3">
      <%= image_tag 'icons/signup.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <ul class="list-unstyled">
        <li><%= link_to 'お申し込み >', 'https://docs.google.com/forms/d/e/1FAIpQLSc8AaB8-n2sC1CvzBpgsFOSMa0xyFQeQyQSes_GyA6YIZQnew/viewform?usp=sf_link' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row mb-3">
    <div class="col-12">
      <h3>アクティビティと目標スキル</h3>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/robot.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">ロボット工学と<br>コーディング</h5>
          <ul>
            <li>クリティカル シンキング</li>
            <li>問題解決</li>
          </ul>
        </div>
      </div>
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/woodworker.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">木工課題</h5>
          <ul>
            <li>共同制作</li>
            <li>創造性/イノベーション</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/theory.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">オートマタ</h5>
          <ul>
            <li>機械的な推論</li>
            <li>空間認知</li>
          </ul>
        </div>
      </div>
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/knife.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">ボール工作</h5>
          <ul>
            <li>デザイン思考</li>
            <li>工作スキル</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/circuit.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">電子工学と回路</h5>
          <ul>
            <li>論理的思考</li>
            <li>問題解決能力</li>
          </ul>
        </div>
      </div>
      <div class="card flex-md-row mb-4 box-shadow h-md-250 bg-light">
        <%= image_tag 'icons/noun/puppet.png', alt: 'Card', class: 'card-img-right flex-auto d-none d-md-block' %>
        <div class="card-body d-flex flex-column align-items-start p-1">
          <h5 class="mb-1">ロールプレイと人形劇</h5>
          <ul>
            <li>自信</li>
            <li>プレゼンテーション能力</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-9">
      <h3>内容</h3>

      <h5>第1週目ーぶらぶら操り人形</h5>

      <p>世界の人形劇を調べ、言語スキルを伸ばし、オリジナルの台本を書いて操り人形劇を行います。</p>
      <p>社会見学：MUJI+クリエイティブスタジオ</p>

      <h5>第2週目ームーバスとシェーカス</h5>

      <p>回路設計、ゲームのコーディング、ロボット組み立てやコーディング、迷路ロボットの設計やその他動くものを創作します。</p>
      <p>社会見学：カワサキワールド</p>

      <h5>第3週目ー木工作業</h5>

      <p>道具を安全に使って木工工作を行い、デザイン思考を用いて実用的な作品を創作し、科学技術と電気回路を組み合わせて完成品につなげます。</p>
      <p>社会見学：竹中大工道具館</p>

      <h5>第4週目ー</h5>

      <p>段ボールを独創的に工作し、可動式自動制御装置を組み立て、ギヤの仕組みを理解し、機械で動くおもちゃを創作します。</p>
      <p>社会見学：有馬玩具博物館</p>

      <h3>社会見学</h3>

      <p>社会見学は教室の外での生徒たちの学びを伸ばす機会になります。</p>

      <ul>
        <li>MUJI+クリエイティブスタジオ</li>
        <li>カワサキワールド</li>
        <li>竹中大工道具館</li>
        <li>有馬玩具博物館</li>
      </ul>

      <p><%= link_to '全てのプログラムをこちらからダウンロードできます＞', '/media/camps/DSK-Makers-Camp-Programme.pdf' %></p>
    </div>

    <div class="col-3"></div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row">
      <div class="col-md-4 p-3">
        <h3>日時</h3>
        <p>9:00 AMー3:30 PM、月曜日から金曜日</p>
        <p>第1週目：6月24日から28日</p>
        <p>第2週目：7月1日から5日</p>
        <p>第3週目：7月8日から12日</p>
        <p>第4週目：7月15日から19日</p>
        <p>第1週目は参加者が5人以上の場合に実施します。</p>
        <p>申し込み受け付けは2019年5月1日までです。</p>
      </div>
      <div class="col-md-4 p-3">
        <h3>参加費用</h3>
        <p>1週間：46,000円</p>
        <p>2週間：80,000円（13%割引）</p>
        <p>3週間：105,000円（24%割引）</p>
        <p>4週間：120,000円（35%割引）</p>
        <p>バス代：6,000円/週</p>
        <p>給食は生徒一人につき550円/日でご利用可能です。</p>
      </div>
      <div class="col-md-4 p-3">
        <h3>送迎バス発着場所</h3>
        <ul>
          <li>JR芦屋駅前郵便局</li>
          <li>山手幹線 （JR甲南山手駅北）</li>
          <li>山手幹線（岡本駅近く）</li>
          <li>岡本北</li>
          <li>阪急御影駅（阪急御影駅南側の三井住友銀行前）</li>
          <li>阪急六甲駅（阪急六甲駅南側梅仙寺前）</li>
          <li>JR六甲道（JR六甲道南側タクシー乗り場）</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-4">
      <h3>サマースクールお申し込み</h3>

      <%= image_tag 'icons/signup.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <p><%= link_to 'お申し込み >', 'https://docs.google.com/forms/d/1fsQxiniOJvSxIKcGz8RrUiuGxlXe-lZowE0kCvV3zKw/viewform?edit_requested=true' %></p>

  </div>

    <div class="col-8">
      <div id="smallCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'photos/Makers-Camp1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'photos/Makers-Camp2.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'photos/Makers-Camp3.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'photos/Makers-Camp4.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'photos/Makers-Camp5.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          <div class="carousel-item">
            <%= image_tag 'photos/Makers-Camp6.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
          </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>ご質問がありましたらご連絡下さい</p>
    <p>
      <%= link_to 'お問い合わせ »', local_path('contact'), class: 'btn btn-lg btn-primary', role: 'button' %>
    </p>
  </div>
</div>
