---
title: "Clubs"
description: ""
keywords: []
url:
  legacy: "/what-we-offer/clubs/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>Clubs</h1>

      <p>DSK International offers a wide range of after school extracurricular club activities. From sports, to arts, to computer science and much more we feel there is something for everyone.</p>
      <p>We are now pleased to announce that our clubs are also open for external children to attend.</p>

      <h2 class="mt-5">Eligibility</h2>

      <p>Please be sure to check that your child is eligible for the club. Clubs are offered to certain grades so please ensure your child is in the correct grade for a certain club. You can see what grades are eligible for each club in the calendar below, in the information PDF, in the club descriptions below and also on the online sign up form.</p>
    </div>

    <div class="col-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>Application Forms</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application Form', 'https://goo.gl/forms/LpD3cCDmxHA7iBv72' %></li>
        <li><%= link_to 'Information Document - PDF', '/media/forms/Club-Offerings_Term-2_2019.pdf' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Planned Clubs and Fees</h2>

      <p>The clubs we are planning to run in term two are:</p>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="pl-3">
                <li>Baseball / Cricket (G1 - G6)</li>
                <li>Baton (PS - G6)</li>
                <li>Coding (G2 - G6)</li>
                <li>Makers Club (PS - G2)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Japanese Calligraphy (PS - G6)</li>
                <li>Drama (PS - G6)</li>
                <li>Ballet / Dance (EY - G6)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Crafting (EY - G2)</li>
                <li>Painting (G2 - G6)</li>
                <li>Soccer (PS - G3)</li>
                <li>Karate / Exercise (G1 - G6)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>*Skateboard / Scooter (G2 - G6)</li>
                <li>Lego (PS - G4)</li>
                <li>Sewing / Craft (G2 and up)</li>
                <li>Soccer (G4 - G6)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Basketball (G1 - G6)</li>
                <li>Gymnastics (EY - PS)</li>
                <li>*Baking / Cooking (EY - G6)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <p class="font-italic">*Please note an (*) indicates that the club runs for 90 minutes every second week when possible. Due to holidays and or dates of field trips it's not always possible to hold the club every two weeks, however we have spaced them out as best as possible.</p>
      <p>If you want to join simply fill in the online form and book your place. If we reach the minimum participant number required for the clubs, we will run them.</p>
      <p>If you join before the first 7 lessons are over the fee is ¥20000.</p>
      <p>If there are 7 or less club dates left, then the fee will be ¥10000.</p>

      <h2 class="mt-5">Schedule and Transport</h2>

      <p>Students will be supervised while having a snack between the end of classes and the start of the club activity at 15:45. Most clubs finish between 16:30 and 17:15. There will be no buses at this time to transport your child home, so try to carpool with other parents.</p>

      <h2 class="mt-5">Sign Up</h2>

      <p>To sign up for a club activity please use the Online Sign Up form on the right of this page or the link below. You can also download the information PDF, fill it out and submit it to <%= mail_to data.config.mailto, data.config.mailto %>. The information PDF is also available on the right of this page.</p>

      <p><%= link_to 'Sign up now >', 'https://goo.gl/forms/LpD3cCDmxHA7iBv72' %></p>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <div class="row mb-5">
    <div class="col-12">
      <h1>Club Life</h1>
      <p>Learn new skills, make new friends and have fun.</p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-xRiRCvVaBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Sports and Dance Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/soccer.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Soccer</p>
      <p>Learn the fundamental skills needed for Football.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: PS - Grade 6 (Jr & Sr are split)</li>
        <li>Group size: 4 - 12</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/basketball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Basketball</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 14</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/baseball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Baseball/Cricket</p>
      <p>Students will learn the fundamental skills needed to play a game of baseball and cricket.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/skateboard.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Skateboard & Scooter</p>
      <p>Students challenge themselves to learn and grow skills through fun & physical activities.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Justin Rich</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 6 - 9</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/baton.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Baton Twirling</p>
      <p>Learn body coordination and rhythmic expression with the use of a baton.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Katelyn Boyle</li>
        <li>Age: Pre School - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/gymnastics.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Gymnastics</p>
      <p>Learn basic gymnastics skills on the floor like somersault, cartwheel, head- and handstand.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Early Years - PS</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/karate.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Karate & Exercise</p>
      <p>Develop your body and mind through training and exercise in the introduction to Karate Club</p>
      <ul class="text-left">
        <li>Teacher: Ms. Celina Pedro (Adult Supervision by Ms. Diana Pedro or Mr. Brabant)</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/ballet.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Ballet & Contemporary Dance</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Yuki Yasuda Arami</li>
        <li>Age: EY (Ages 3+) - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Arts and Crafts Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/art.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Painting (Watercolour & Acrylic)</p>
      <p>For students who are interested in developing their artistic talents.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/calligraphy.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Japanese Calligraphy</p>
      <p>Learn how to write words with a traditional Japanese calligraphy brush.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Tamiyo Oyama</li>
        <li>Age: Pre School - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/sewing.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Sewing & Craft</p>
      <p>Learn how to make your own shirt/blouse, bag, pillow cover and more!</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Grade 2 and up</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/scissors.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Crafting</p>
      <p>Spark students’ creativity by making fun toys and musical instruments.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Early Years - Grade 2</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/lego.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Lego</p>
      <p>Develop skills such as problem-solving, organizing, and planning by construction.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Satya d'Amours</li>
        <li>Age: Pre School - Grade 4</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/drama.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Drama</p>
      <p>Students act, create, and use their imagination while having fun.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Eileen O´Grady & Ms. Iman Bodenstein</li>
        <li>Age: Pre School - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Science, Engineering and Cooking Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/coding.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Coding</p>
      <p>Learn to code and develop projects using Scratch, HTML & CSS and Python.</p>
      <ul class="text-left">
        <li>Teacher: Ms. S Veerashingam</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 4 - 15</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/drill.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">MakerSpace</p>
      <p>For younger students interested in engineering, building and simple coding (Scratch).</p>
      <ul class="text-left">
        <li>Teacher: Mr. Todd Irving</li>
        <li>Age: Pre School - Grade 2</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/cooking.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Cooking & Baking</p>
      <p>Kitchen fun for all aspiring chefs and bakers aiming to create mouth-watering recipes!</p>
      <ul class="text-left">
        <li>Teacher: Mr Peer Viererble, Ms Lena Häßel</li>
        <li>Age: Early Years - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Additional Private Lessons</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/german.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">German Lessons</p>
      <p>German tutoring for beginners or advanced students of all ages, group or private lessons.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Anita Moench</li>
        <li>Email: anita.moench@dskobe.org</li>
        <li>To book or for more information please use the below link</li>
        <li><%= mail_to 'anita.moench@dskobe.org', 'Get in touch »' %></li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/english.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">English Lessons</p>
      <p>Private English lessons for parents of all levels.</p>
      <ul class="text-left">
        <li>Teacher: Teacher: Ms. Katelyn Boyle</li>
        <li>Email: katelyn.boyle@dskobe.org</li>
        <li>To book or for more information please use the below link</li>
        <li><%= mail_to 'katelyn.boyle@dskobe.org', 'Get in touch »' %></li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/piano.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Piano Lessons</p>
      <p>Learn to play the piano or improve your skills with a professional piano teacher.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Azusa Nakajima</li>
        <li>Email: azusa.nakajima@dskobe.org</li>
        <li>To book or for more information please use the below link</li>
        <li><%= mail_to 'azusa.nakajima@dskobe.org', 'Get in touch »' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-3">
      <h3>Timetable and More Details</h3>
      <p>For more information about the details of each club, please see our information PDF.</p>

      <p><%= link_to 'Find out more >', '/media/forms/Club-Offerings_Term-2_2019.pdf' %></p>
    </div>

    <div class="col-9">
      <div id="smallCarousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <%= image_tag 'photos/Makers-Camp1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning mb-0">
  <div class="container">
    <p>If you have any questions please get in touch.</p>
    <p>
      <%= mail_to data.config.mailto + '?Subject=Enquiry about DSKI', 'Get in touch »', class: 'btn btn-lg btn-info', role: 'button' %>
    </p>
  </div>
</div>
