---
title: "Our History and Heritage"
icon: "icons/history.png"
description: "Our History and Heritage"
keywords: []
banner: "banners/13_header_thin.jpg"
---

# <%= current_page.data.title %>

1909 - We are very proud to say that we are one of the oldest international schools in Japan. The Deutsche Schule Kobe (DSK) was first opened in 1909 as a small community school for the German community. Located in a family house in Kobe, with only a handful of students, it quickly grew to offer education for all ages of children.

1963 - The DSK moved to a new purpose built school, at a new site in Rokko and the numbers of students grew to nearly 100 children.

<div class="row">
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_2.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_3.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
</div>

##### 2002 - An International School for all Nationalities
DSK opened its doors for the first time to non-German students, when it opened its English language section called the European School Kobe (ESK). This was an international school using the International Baccalaureate (IB) Primary Years Programme (PYP) running in parallel with the German school. The European School started with 4 students, quickly growing to a full primary. It was accredited with IB World School status in 2006 for the Primary Years Programme, the first in Hyogo prefecture to achieve this.


##### 2009 - A New Eco-Building on a New Site
The school moved to its third home, here on Rokko Island. Home is now an award winning eco building campus, specially designed by a German/Japanese architect. Read more about our building here.


##### 2015 - Where We Are in Place and Time
The DSK / ESK partnership merged together to form the renamed school we have today - the Deutsche Schule Kobe International (DSKI). An IB World School international school open to all nationalities, with English as the language of instruction, a native German speaker programme for the German community and Japanese other tongue programme for our Japanese host community members. We are very proud to say that we have every continent represented at the school and we are truly an international community of learners.

<div class="row">
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_1.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_4.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
</div>
