---
title: "我々の歴史と伝統"
icon: "icons/history.png"
description: "我々の歴史と伝統"
keywords: []
banner: "banners/13_header_thin.jpg"
---

# <%= current_page.data.title %>

当学院は日本でもっとも古いインタナショナルスクールのひとつであることは、我々の誇りです。神戸ドイツ学院（DSK）は1909年に、ドイツ人コミュニティのための小さなコミュニティスクールとして開校しました。最初はごく少人数の生徒と共に神戸の住宅街に位置していましたが、幅広い年齢層の子供たちへ教育を提供するために急速に成長していきました。

1963年には新天地である六甲の新しい目的のために建てられた学校へ移転し、生徒は100人近くに増えました。

<div class="row">
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_2.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_3.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
</div>

##### 2002年 - すべての国籍の方へのインタナショナルスクール
DSKはヨーロピアンスクール（ESK）という英語のセクションをオープンし、ドイツ人ではない生徒の受け入れを初めて開始しました。これは元々のドイツ学院と併設し、インターナショナルバカロレア（IB）の初等プログラム（PYP）を用いたインタナショナルスクールでした。ヨーロピアンスクールは4人でスタートしましたが、急速に成長しました。2006年には兵庫県で初めて初等教育プログラムとしてIBワールドスクールの認定を受けました。

##### 2009年 - 移転先で環境に優しい新校舎
学院は3番目の場所となる六甲アイランドに移転しました。ドイツと日本を融合する建築家によって、特別にデザインされた環境に優しい校舎は環境建築賞を受賞しました。<%= link_to '詳しくはこちらをご覧ください', local_path('about/campus') %>。

##### 2015年 - 私たちがいる場所と時間
DSK (ドイツ学院)とESK（ヨーロピアンスクール）は現在、神戸ドイツ学院インターナショナル（DSKI）と学院名を新たに統合しました。IBワールドスクールであるインターナショナルスクールは、全ての国籍の人のために開かれています。主な教育言語は英語とし、ドイツ人コミュニティーにはドイツ語を母国語とするプログラムを、日本のホストコミュニティーメンバーには日本語を母国語とするプラグラムが提供されています。私たちのもとにはすべての大陸の代表がおり、真に学習者たちの国際的なコミュニティであることを非常に誇りに思っています。

<div class="row">
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_1.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
  <div class="col-md-6 p-3">
    <%= image_tag 'photos/history_4.jpg', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
  </div>
</div>
