---
title: "Englisch, Deutsch und Japanese"
description: ""
keywords: []
url:
  legacy: "/languages-at-dski-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/10_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>Zwei Abteilungen - Drei Sprachen</h1>

      <p>Sprache ist ein wichtiger Teil unserer Identität und formt unser Handeln und Verhalten. Sie ist ein Kommunikationsmittel, mit dem wir unsere Gefühle, Ideen und Erfahrungen mit anderen teilen können. Menschen brauchen Sprache, um die Welt zu verstehen. Sprache ist der Schlüssel für das soziale, emotionale und kognitive Wachstum. Alle unsere Schüler, ganz gleich ihrer Herkunft, sind Sprachschüler und alle Lehrer, egal welcher fachliche Schwerpunkt, sind Sprachlehrer.  </p>
      <p>In unserem Lehrplan und in unserem Schulalltag ist Sprache der Zugang zum forschenden Lernen und Basis für das intellektuelle und emotionale Wachstum der Schüler. Kinder entwickeln Sprache durch ihre Gedanken, und sie entwickeln ihre Gedanken durch ihre Sprache. Die drei Sprachen an der DSKI sind Deutsch, Englisch und Japanisch.</p>

      <h2 class="mt-5">In welchen Zweig passt mein Kind?</h2>

      <p>An der DSKI gibt es zwei Bereiche: Den Deutschen Zweig und den Internationalen Zweig (in englischer Sprache). Obwohl die Schüler die meiste Zeit in einem gemeinsamen Klassenzimmer sowohl mit englisch- und/oder deutschsprachigen Klassenlehrern verbringen werden, findet der Mathematik und Sprachunterricht entweder auf Deutsch oder Englisch statt.</p>
      <p>Ihr Kind wird entweder den Deutschen Zweig oder den Internationalen Zweig besuchen. Der Deutsche Zweig ist für Kinder, die Deutsch als Muttersprache oder Zweitsprache sprechen und deren Eltern den Unterricht in Deutsch und Mathematik auf Deutsch bevorzugen.</p>
      <p>Der Internationale Zweig (Englisch) ist für Eltern, die für ihr Kind den kompletten Unterricht auf Englisch wünschen. Bitte beachten Sie, dass alle Schüler auch verpflichtend am Japanischunterricht teilnehmen, entweder am Japanisch als Fremdsprache Unterricht (JFL) oder dem Japanischen Muttersprachunterricht (Kokugo). Schüler im Internationalen Zweig haben außerdem 2 Stunden Deutschunterricht als Fremdsprache (GFL) pro Woche.</p>
      <p>Für weitere Informationen über die beiden Sprachzweige und den Japanischunterricht sehen Sie sich bitte die Informationen weiter unten an.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>Sprachzweige</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'icons/german.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3>Deutscher Zweig</h3>
        <hr>
        <h5>Deutschsprachiger Unterricht:</h5>
        <p>Mathematik und Deutsch als Muttersprache<br>
          Täglich jeweils 50 Minuten Mathematik- und 50 Minuten Deutschunterricht</p>
        <h5>Englischsprachiger Unterricht:</h5>
        <p>Alle restlichen Unterrichtsstunden werden von den englischsprachigen Klassenlehrern oder<br>
          Fachlehrern unterrichtet (außer dem Japanischunterricht) Deutsche Schüler können zusätzlichen Englisch Förderunterricht bekommen (ESL)</p>
        <h5>Japanischunterricht:</h5>
        <p>Alle Schüler erhalten pro Woche 3 x 50 Minuten Japanischunterricht, entweder als<br>
          Fremdsprache (JFL) oder als Muttersprache (Kokugo)</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'icons/international.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3>Internationaler Zweig</h3>
        <hr>
        <h5>Englischsprachiger Unterricht:</h5>
        <p>Alle Unterrichtsstunden (außer dem Japanisch- und dem Deutschunterricht)<br>
          Die Fächer Mathematik und Englisch werden auf Englisch unterrichtet.</p>
        <h5>Deutschsprachiger Unterricht:</h5>
        <p>Wöchentlich jeweils 2 x 50 Minuten Deutsch als Fremdsprache</p>
        <h5>Japanischunterricht:</h5>
        <p>Alle Schüler erhalten pro Woche 3 x 50 Minuten Japanischunterricht, entweder als<br>
          Fremdsprache (JFL) oder als Muttersprache (Kokugo)</p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h2>Wie passt Japanisch in den Lehrplan?</h2>
      <p>Alle Schüler an der DSKI haben wöchentlich 3 x 50 Minuten Japanischunterricht, entweder als Fremdsprache (JFL) oder als Muttersprache (Kokugo). Die Sprachfähigkeit der Schüler entscheidet darüber, an welchem Unterricht sie teilnehmen werden.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <%= image_tag 'icons/ja_second.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
      <h3>Japanisch als Fremdsprach<br>
          (JFL)</h3>
      <hr>
      <p>Für nicht-muttersprachliche Schüler</p>
      <p>Verpflichtender Unterricht</p>
      <p>3 x 50 Minuten Unterricht pro Woche</p>
    </div>
    <div class="col-md-6">
      <%= image_tag 'icons/ja_native.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
      <h3>Japanisch als Muttersprache<br>
          (Kokugo)</h3>
      <hr>
      <p>Für muttersprachliche Schüler</p>
      <p>Verpflichtender Unterricht</p>
      <p>3 x 50 Minuten Unterricht pro Woche</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-warning mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>FAQ</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-9">
        <p class="lead">F: Ich dachte, die Deutsche Schule ist nur für Deutsche Kinder oder Kinder mit deutschsprachigen Eltern?</p>
        <p>A: Nein, nicht nur deutschsprachige Kinder können unsere Schule besuchen. Wir haben eine lange Geschichte als deutsche Auslandsschule aber sind inzwischen eine internationale Schule, deren Schulalltag zum großteil auf Englisch abläuft. Wenn Sie auf der Suche nach einer internationalen Schule sind sind wir genau richtig für Sie!</p>
      </div>
      <div class="col-md-3 text-center"><%= image_tag 'icons/faqs.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:160px;' %></div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3 text-center"><%= image_tag 'icons/ja_second.png', alt: data.config.site_name, class: 'rounded img-fluid', style: 'height:160px;' %></div>
      <div class="col-md-9">
        <p class="lead">F: Lernen alle Schüler an der DSKI alle drei Sprachen?</p>
        <p>A: Ja, alle Schüler an unserer Schule lernen Deutsch, Englisch und Japanisch. Wir sind die einzige internationale Schule in Japan, die drei Sprachen unterrichtet und auch Japanisch für Muttersprachler (Kokugo) anbietet.</p>
      </div>
    </div>

  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <blockquote class="blockquote">
        <p class="lead font-weight-bold mb-2">"Spricht man mit jemandem in einer Sprache, die er versteht, erfasst er das Gesagte mit seinem Verstand. Spricht man mit ihm in seiner Muttersprache, geht es ihm ins Herz."</p>
        <footer class="blockquote-footer">Nelson Mandela</footer>
      </blockquote>
    </div>
  </div>
</div>
