---
title: "Deutsche Schule Kobe"
description: ""
keywords: []
url:
  legacy: "/about-us-de/school-fees-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>DSKI Schulkalendar</h1>

      <h2 class="mt-4">Veranstaltungskalender</h2>
      <p class="mt-4"><%= link_to 'Klicken Sie hier', '/media/calendars/Events-2019-2020.pdf' %>, um den Kalender herunterzuladen.</p>

      <h2 class="mt-4">2018/2019 Schulkalendar (2019/2020 Calendar is below)</h2>
      <%= image_tag '/media/calendars/DSKI-2018-19-School-Calendar_final.png', alt: '2018/2019 Schulkalendar', class: 'img-fluid d-block w-100' %>

      <h2 class="mt-4">2019/2020 Schulkalendar</h2>
      <%= image_tag '/media/calendars/DSKI-2019-20-School-Calendar.png', alt: '2019/2020 Schulkalendar', class: 'img-fluid d-block w-100' %>

      <p><%= link_to 'Klicken Sie hier, um den Kalender herunterzuladen.', '/media/calendars/DSKI-2019-20-School-Calendar.pdf' %></p>
    </div>
  </div>
</div>
