---
title: "Unser Campus"
icon: "icons/campus.png"
description: ""
keywords: []
url:
  legacy: "/school-campus-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/school_01.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-7">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-5">Rokko Island</h2>

      <p>Die Schule befindet sich auf Rokko Island, einer urbanen Zone mit internationalem Flair, angelegt durch die Stadt Kobe. Die Landschaftsarchitektur auf der Insel vermittelt ein offenes natürliches Gefühl mit vielen Arealen für Fußgänger und gleichzeitig einem guten Anschluss zu öffentlichen Verkehrsmitteln. Die breiten Straßen und das geringe Verkehrsaufkommen macht das Pendeln für Schüler besonders sicher. Die Schule wurde in einem Wohngebiet errichtet, nahe kulturellen Einrichtungen wie dem Kobe City Koiso Memorial Museum of Art, dem Kobe Fashion Museum, und dem Kobe Artists Museum.</p>

      <h2 class="mt-5">Unsere ökologisch nachhaltige Schule</h2>

      <p>Unser momentanes, einmaliges und ökologisches Schulgebäude wurde 2009 fertiggestellt. Das zweistöckige Gebäude wurde aus nachhaltig gewonnenem Holz erbaut. Im Erdgeschoss befindet sich das Early Year Programme, zusammen mit dem Vorkindergarten und Kindergarten. Zudem lässt sich auch unsere neu strukturierte Bibliothek dort finden. Im ersten Stock finden sich die Klassenräume für das Primary Years Programme. Daneben stehen Kunstraum, EAF und weitere Räume zur Verfügung um fachspezifische Klassen und Gruppenprojekte zu fördern.</p>
      <p>Die intensive Nutzung von Holz bietet eine natürliche und 'grüne' Kulisse für die Schüler. Die inneren Holzbalken wurden nicht mit toxischen Chemikalien behandelt und wurden lokal mit geringem ökologischen Folgen gewonnen. Die Schule wurde entworfen um eine gesunde, komfortable und eine ökologisch nachhaltige Lernumgebung für alle Mitglieder unser Schulgemeinschaft zu bieten. </p>
      <p>Unser Schule ist mit einem Environmental Monitoring and Live Indication System (EMLIS) in Echtzeit verbunden, welches einen detaillierten Überblick zu unseren Energieverbrauch angibt. </p>
      <p>Our school is connected to a real time Environmental Monitoring and Live Indication System (EMLIS) that provides wide ranging and crucial information about our energy impact. Click on this link for more information.</p>

      <h2 class="mt-5">Überblick</h2>

      <ul>
        <li>Kohlenstofffixierung - Nutzung nachhaltigen Holzes mit geringen ökologischen Auswirkungen</li>
        <li>Solarplatten auf dem Dach produzieren bis zu 55.3kw und decken damit mehr als 80% unseres täglichen Strombedarfs </li>
        <li>Der Grad unserer Wärmedämmung übersteigt die momentanen japanischen Richtlinien</li>
        <li>Ein energieeffizientes Kühl-/und Heizsystem basierend auf Erdwärmeübertragung verringert den Strombedarf </li>
        <li>Sonnenlicht und Wind hilft uns den Strombedarf in der gesamten Schule zu senken</li>
        <li>Holzterrassen, Balkone und Markisen maximieren Sonnen- und Regenschutz, und erlaubt ein Zusammenspiel zwischen Innen- und Außenbereichen</li>
        <li>Papierrecycling in allen Klassenzimmern</li>
        <li>Wurmboxen in allen Klassenzimmern</li>
        <li>Nutzung digitaler Technologien ( z.B. Google Apps for Education), die den Papierverbrauch erheblich vermindert</li>
        <li>Wir haben einen Prestigious Eco Award von der Japanese Institute of Architects erhalten: http://www.jia.or.jp/member/award/environment/2013/kobe.htm</li>
      </ul>
    </div>

    <div class="col-4 offset-md-1">
      <p><a href="http://www.jia.or.jp/member/award/environment/2013/kobe.htm">
        <%= image_tag '/media/awards/JIA-環境建築賞.jpg', alt: 'Eco Award', class: 'rounded img-fluid mb-2' %><br>
        Eco Award von der Japanese Institute of Architects erhalten
      </a></p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 pb-0">
  <div class="container mt-3">
    <div class="row">
      <div class="col-3">
        <h3>Lernförderliches und modernes Schulgebäude</h3>
        <p>Unser modernes und umweltfreundliches Schulgebäude bietet den Schülern jeden Tag eine hervorragende Lernumgebung. Unsere hellen Klassenzimmer mit viel natürlichem Licht und ausgerüstet mit moderner Technologie ermöglichen es den Schülern, in einer gemütlichen Umgebung zu lernen und sich weiter zu entwickeln.</p>
        <p>Vereinbaren Sie einen Termin und besuchen Sie unsere Schule für eine Besichtigung!</p>
        <p><%= mail_to data.config.mailto + '?subject=School Tour', 'Termin vereinbaren »', class: 'btn btn-lg btn-info', role: 'button' %></p>
      </div>

      <div class="col-9">
        <div id="smallCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item">
              <%= image_tag 'photos/campus4.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item active">
              <%= image_tag 'photos/campus1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/campus2.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/campus3.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/campus5.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
