---
title: "テクノロジー"
description: ""
keywords: []
url:
  legacy: "/what-we-offer-jpn/technology-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/12_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p>21世紀の学習とICT（情報通信技術）スキルの発育を推進すると決意し、この目標を達成するため、我が校は新しいマルチメディア技術とハードウェアの領域に投資をしてきました。これらのスキル、コンセプト、能力は学習とプレゼンテーションの機会を拡げるため、探求の単元に組み込まれることになります。これら実践的なスキルを手にすることは、適切なデジタルリテラシーと市民性のカリキュラムとなり、それらはインターネットの安全性、セキュリティ、ソーシャルメディアテクノロジの使用に関連した諸問題を学生に正確に教えることができます。親御様は積極的にお子様と共に学習に加わることをお勧めします。現在、全ての部屋にクラスコンピューターがあります。Macコンピュータを使用しており、学生は優れたグラフィック編集とビデオ編集を行うことができます。</p>

      <h2 class="mt-5">ノートパソコン</h2>

      <p>更に我が校では、プレゼンテーションやデジタルリテラシーのスキル向上のために2台のノートパソコンがあり、毎日予約可能です。ノートパソコンにはWindows OS8が搭載されており、英語、ドイツ語、日本語の3言語対応となっています。追及することの横断的スキルの発育を強化するために、ノートパソコンを慎重かつ思慮深くプログラムをノートパソコンに組み込んでいます。</p>

      <ul>
        <li>生徒個々のためにカスタマイズされた学習環境</li>
        <li>ライティング、リサーチスキルの向上</li>
        <li>全生徒の活動の場の均衡化</li>
        <li>情報通信へのアクセス</li>
        <li>学校とご家庭との連携向上</li>
        <li>学生と教師のコミュニケーションを高める</li>
        <li>真の問題解決型学習機会の可能性</li>
        <li>学生の参画</li>
        <li>コミュニケーション力、協調性、創造力を高める</li>
        <li>生産性の向上</li>
        <li>自発的な学習者になる</li>
        <li>学習者のネットワークの一員になる</li>
        <li>グローバルアウトリーチの機会を作る</li>
        <li>学生主導の学習に焦点をあてる</li>
      </ul>

      <h2 class="mt-5">モバイル電子ボード</h2>

      <p>インタラクティブ・モバイル電子ボードは学内の全教室で使用できる、有価で効果的なテクノロジー機種です。電子ボードは海外ドイツ学校の中央機関からの寛大な支援により設置されました。単焦点プロジェクタとインタラクティブなタッチスクリーンは、手で使用することができます。良質な写真/ビデオと優れた良いスピーカーの組み合わせは、ワクワクするようなドラマチックなマルチメディア表現を可能にします。</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 pb-0">
  <div class="container mt-3">
    <div class="row">
      <div class="col-3">
        <h3>21世紀に向けて<br>
            技術を備えた教室</h3>
        <p>Windowsノートパソコン、高機能Mac、モバイル電子ボードといった様々なデバイスを持つことにより、我が校の生徒はICTリテラシーを身につけ、将来のキャリアにおける様々な課題に取り組むことができます。</p>
      </div>

      <div class="col-9">
        <div id="smallCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'photos/technology1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology2.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology3.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology4.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
