---
title: "Technology"
description: ""
keywords: []
url:
  legacy: "/what-we-offer/technology/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/12_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p>In keeping with our commitment to 21st Century Learning and ICT (Information Communication Technology) skills development the school has invested in a range of new multimedia technologies and hardware to support these goals. These skills, concepts and competences will be embedded in the Units of Inquiry to enhance learning and presentation opportunities. Hand in hand with these practical skills will be an appropriate Digital Literacy and Citizenship curriculum to explicitly teach the students about Internet safety, security and the issues related to the use of Social Media Technologies. Parents are actively encouraged to enter into a learning environment with their kids. Currently there are class computers in every room. These computers are Mac’s and offer excellent graphic editing and video-making options for the students.</p>

      <h2 class="mt-5">Laptops</h2>

      <p>Further to this development the school has two Mobile Laptop carts that can be booked out daily to enhance research, presentation and digital literacy skills. The laptops have a Windows 8 operating system and serves the students in three languages, English, German and Japanese. With careful and thoughtful implementation of laptops to enhance the development of transdisciplinary skills of research.</p>

      <ul>
          <li>Personalized learning environment for every student</li>
          <li>Improve writing and research skills</li>
          <li>Levels the playing field for all students</li>
          <li>Access to information and communication</li>
          <li>Improve school-home connection</li>
          <li>Increase communication between students and teachers</li>
          <li>Potential for authentic project-based learning opportunities</li>
          <li>Increase student engagement</li>
          <li>Foster communication, collaboration and creativity skills</li>
          <li>Increase productivity</li>
          <li>Become self-directed learners</li>
          <li>Become part of a network of learners</li>
          <li>Create opportunities for global outreach</li>
          <li>Focus on student-centered learning</li>
      </ul>

      <h2 class="mt-5">Mobile Smart Board</h2>

      <p>The Interactive Mobile Smart Board is a valuable and effective piece of technology which can be used in all of the classrooms throughout the school. It was provided with support of a generous subsidy from the Central Agency for the German Schools Abroad. The short throw projector and the interactive touch screen make it possible for students to use it with their hands. The quality of the pictures/video and the excellent speakers combine to make a thrilling and dramatic presentation of multimedia of all types.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0 pb-0">
  <div class="container mt-3">
    <div class="row">
      <div class="col-3">
        <h3>Technologically-equipped Classrooms<br>
            For the 21st-Century</h3>
        <p>With our large range of Windows laptops, high-performance Macs and Mobile Smart Board we are ensuring our students have the necessary ICT literacy to tackle the modern challenges and excel in future careers.</p>
      </div>

      <div class="col-9">
        <div id="smallCarousel" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <%= image_tag 'photos/technology1.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology2.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology3.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
            <div class="carousel-item">
              <%= image_tag 'photos/technology4.jpg', alt: data.config.site_name, class: 'd-block w-100' %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
