---
title: "Willkommensgruß des Schulleiters"
icon: "icons/welcome.png"
description: "Internationale IB-Schule in"
keywords: []
url:
  legacy: "/principals-welcome-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/6_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <h2 class="text-primary mt-5">Herzlich Willkommen an der DSKI</h2>
      <p>Liebe Besucher, herzlich willkommen an der Deutschen Schule Kobe International!</p>
      <p>Es gibt viel zu sagen über unsere Schule und jedes Mitglied der Schulgemeinschaft wird spezielle Dinge hervorheben, die er oder sie besonders wichtig findet: Das Erlernen von drei Sprachen, unser internationales Curriculum (PYP), unser deutsches Curriculum (Thüringer Lehrplan), die kleinen Klassen, durch die individuelles Fördern möglich wird, unser starkes Musikprogramm, der Schwimmunterricht für alle Kinder von 2-11 Jahren, die enge Beziehung zwischen Schülern, Lehrern und Eltern. Aber es gibt eine Sache, die ALLE Mitglieder Beteiligten nennen, nachdem sie in die Schulgemeinschaft eingetreten sind: die herzliche und fürsorgliche Atmosphäre! Werden Sie ein Teil dessen, Sie sind herzlich willkommen!</p>
      <p>Diese Atmosphäre war der Grund, warum ich entschied nach Japan zu kommen und Schulleiter dieser wunderbaren Schule zu werden.</p>

      <h2 class="text-primary mt-2">Mein Werdegang</h2>
      <p>Geboren und aufgewachsen bin ich in Deutschland, meine Lehrerausbildung (1. und 2. Staatsexamen, Master equivalent) absolvierte ich in Köln. Dort fing ich 1996 an zu unterrichten (Kindergarten - Klasse 10) bevor ich stellvertretender Schulleiter dieser Schule wurde. 2002 ergriff ich gemeinsam mit meiner wunderbaren  Gattin und meinen beiden Söhnen die Chance ins Ausland zu gehen und die Stelle des Kindergarten- und Grundschulleiters der Deutschen Internationalen Schule Den Haag, Niederlande, zu übernehmen. Es wurden insgesamt fast 8 großartige Jahre, bevor wir wieder zurück nach Deutschland zogen. Dort hatte ich die Gelegenheit, die Stelle des Grundschulleiters der Cologne International School/Internationale Friedensschule zu bekleiden. Die Schule ist eine IB- World School, welche das PYP und das DP anwendet und die Kinder bilingual in jahrgangsübergreifenden Klassen unterrichtet. Während dieser Zeit hatte ich die Möglichkeit, mein postuniversitäres Master-Studium des Internationalen Schulmanagements abzuschließen. Meine Familie und ich blieben über 6 Jahre in Köln, bevor wir entschieden, dass es Zeit sei, eine neue Herausforderung anzunehmen. So hatte ich die Gelegenheit, für ein Jahr als Projektmanager an einem Projekt im medizinischen Bereich in Georgien zu arbeiten. Nach Abschluss des Projekts kam ich nach Kobe. </p>
      <p>Während meiner gesamten Leitungstätigkeiten war es mir immer wichtig, weiterhin zu unterrichten, sowohl als Fachlehrer (Deutsch, Sport, Religion) als auch als Klassenlehrer.</p>

      <h2 class="text-primary mt-2">Kommen Sie und besuchen Sie uns</h2>
      <p>I am very grateful to have the opportunity to work with such a warm-hearted and professional team, polite, curious and open-minded children and very supportive parents. It is a fantastic school and I am here to support everybody to make it an even better place for living and learning. Come and visit us!</p>
      <p>Sincerely, Herzliche Grüße,</p>
      <p>Frank Pitzner,<br>
        Principal, Schulleiter</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'people/Frank_Pitzner.png', alt: 'Willkommensgruß des Schulleiters', class: 'img-fluid d-block w-100' %>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="mt-4">Alle Grundschullehrer der Schule sprechen <strong>fließend Englisch oder Deutsch</strong> und sind <strong>ausgebildete, qualifizierte Lehrer</strong> in ihren Herkunftsländern (aktuell aus Singapur, Australien, Kanada, Südafrika, Japan, USA, Großbritannien und Deutschland). </p>

      <p><%= mail_to 'sekretariat@dskobe.org', 'Kontakt aufnehmen »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>
  </div>
</div>
