---
title: "Principal's Welcome"
icon: "icons/welcome.png"
description: "DSKI - International IB School"
keywords: []
url:
  legacy: "/about-us/principals-welcome/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/6_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <h2 class="text-primary mt-5">Welcome to DSKI</h2>
      <p>Dear visitor and welcome to DSK International,</p>
      <p>There is a lot to say about our school and everybody in our community has certain aspects that he or she finds most important: Learning three languages, our International curriculum (PYP), our German curriculum (Thüringer Lehrplan), the small classes allowing individual support, our strong music programme, our swimming lessons for all children from early years up to grade 6, the close relationship between students, teachers and parents;</p>
      <p>But there is one thing that ALL stakeholders mention after joining our community: the warm and caring atmosphere! Be part of it, you are very welcome!</p>
      <p>This atmosphere was the reason why I chose to come to Japan to be the Principal of this wonderful school.</p>

      <h2 class="text-primary mt-2">My Background</h2>
      <p>Born and raised in Germany I did my Masters in Education in Cologne. I started teaching in 1996 (pre-k to grade 10) before I became the Vice-Principal at my school. In 2002 I took the chance to go abroad - accompanied by my wonderful wife and my two boys - to become the Head of Early Years and Primary School at the German International School The Hague, Netherlands. It had been almost 8 great years there before we moved back to Germany where I had the opportunity to be the Primary Principal of Cologne International School/Internationale Friedensschule Köln. This school is an IB World School following the PYP and the DP programme, living a bilingual approach and teaching and learning in composite classes. During this time I finished my post graduate Masters on International School Management. We stayed in Cologne for over 6 years before we decided it was time to leave Germany again. I had the opportunity to work in the Republic of Georgia for almost a year as a Project Manager on a great project in the medical field. After finishing the project I came to Kobe. </p>
      <p>In all of my time as an administrator I have chosen to continue teaching as a single subject teacher (German, P.E., Religious Education) as well as a classroom teacher. </p>

      <h2 class="text-primary mt-2">Come and Visit us</h2>
      <p>I am very grateful to have the opportunity to work with such a warm-hearted and professional team, polite, curious and open-minded children and very supportive parents. It is a fantastic school and I am here to support everybody to make it an even better place for living and learning. Come and visit us!</p>
      <p>Sincerely, Herzliche Grüße,</p>
      <p>Frank Pitzner,<br>
          Principal, Schulleiter</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <%= image_tag 'people/Frank_Pitzner.png', alt: "Principal's Welcome", class: 'img-fluid d-block w-100' %>
    </div>
  </div>
</div>

<div class="container">
  <%= image_tag 'people/DSKI-staff-photo-201819.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p class="mt-4">At DSKI, all Primary Years homeroom teachers are <strong>fluent English or German speakers</strong> and are <strong>qualified to teach</strong> in their home countries (currently Singapore, Australia, Canada, South Africa, Japan, the United States, the United Kingdom, and Germany).</p>

      <p>We have a highly qualified team of teachers who are committed to your child's education and development. If you have any questions about our specific staff, please get in touch with the school.</p>

      <p><%= mail_to 'sekretariat@dskobe.org', 'Get in touch »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>
  </div>
</div>
