---
title: "Unser Angebot"
icon: "icons/offer.png"
description: ""
keywords: []
url:
  legacy: "/about-us-de/what-we-offer-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/10_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <p class="mt-4">Die DSKI bietet so viel mehr, als eine reine Schule zu sein. Wir bieten eine unterhaltsame und anregende Lernatmosphäre für Kinder von einem Jahr bis elf Jahren. Wir streben danach, unsere Schüler zu vielseitigen, mehrsprachigen, globalen Bürgern zu entwickeln, die sich für das lebenslange Lernen begeistern und das Bedürfnis haben, die Welt zu verändern.</p>
      <p>Durch die professionelle Anleitung und Betreuung unserer Lehrer wird sich Ihr Kind in dieser Umgebung weiterentwickeln. Im Rahmen unserer Unterrichtsinhalte und außerunterrichtlichen Aktivitäten wird eine große Spanne an Themen behandelt.</p>
      <p>Wir bieten eine große Breite von Beschäftigungen, Aktivitäten und Dienstleistungen an um sicherzustellen, dass die Entwicklung Ihres Kindes und die Erfahrung Ihrer Familie Weltklasse sind.</p>
      <span id="languages"></span>
    </div>

    <div class="col-md-3 offset-md-1 mt-5">
      <ul class="list-unstyled">
        <li><%= link_to 'Sprachen', '#languages' %></li>
        <li><%= link_to 'Ausstattung', '#facilities' %></li>
        <li><%= link_to 'Darstellende Kunst', '#performingarts' %></li>
        <li><%= link_to 'Sport', '#physicaleducation' %></li>
        <li><%= link_to 'Außerschulische Aktivitäten', '#clubs' %></li>
        <li><%= link_to 'Technologie', '#technology' %></li>
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <hr>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 pr-5">
      <p class="lead text-uppercase">Sprachen</p>
      <h2>Ein Schüler - drei Sprachen</h2>
      <p>Wir sind stolz, an der DSKI als einzige Grundschule in Japan drei Sprachen anzubieten: Englisch, Deutsch und Japanisch. Wir differenzieren das Angebot in allen drei Sprachen (spezieller Unterricht für Muttersprachler in Deutsch und Japanisch (KOKUGO) und bieten besonderen Förderunterricht in Englisch an. Wissenschaftliche Studien belegen die vielen Vorteile, die das Erlernen mehrerer Sprachen mit sich bringt, und wir freuen uns sehr, dieses Ihrem Kind bieten zu können.</p>
      <p><%= link_to 'Mehr darüber erfahren Sie hier.', local_path('about/languages-at-dski') %></p>
      <span id="facilities"></span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'photos/about_1_800px.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row mb-5">
      <div class="col-md-6">
        <%= image_tag 'photos/campus4.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
      </div>
      <div class="col-md-6 pl-5">
        <p class="lead text-uppercase">Ausstattung</p>
        <h2>Ein preisgekrönter, ökofreundlicher Campus</h2>
        <p>Das einzigartige und ökofreundliche DSK International Schulgebäude wurde 2009 fertiggestellt. Das zweistöckige Gebäude wurde aus nachhaltigem Holz erbaut. Die gut ausgestatteten Klassenzimmer haben ein wunderschönes Design und bieten so eine ideale Umgebung zum Lernen. Es gibt eine Bücherei, einen Kunstraum, einen Außen-Sportbereich und einen Raum für EAL (Englisch als zusätzliche Fremdsprache) sowie weitere Räume für spezialisierten Unterricht oder für projektbezogene Arbeit.</p>
        <p><%= link_to 'Mehr darüber erfahren Sie hier.', local_path('about/school-campus') %></p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 pr-5">
        <h2>DSKI Schule Shuttlebus</h2>
        <p>An der DSKI bieten wir einen täglich fahrenden Shuttlebus an, der eine Reihe von Zielen in Kobe anfährt. Die Bring- und Abhol-Stationen werden jedes Jahr im September und Februar mit den Eltern abgesprochen, um zu gewährleisten, dass der Shuttlebus für alle Familien so geeignet wie möglich ist. Wir verstehen, dass der Weg und von der Schule mühsam sein kann und hoffen, dass unser Shuttlebus das Leben der DSKI Familien ein wenig einfacher machen kann.</p>
        <p><%= link_to 'Klicken Sie hier, um den Fahrplan 2018 herunterzuladen', '/media/schedules/School-Bus-Schedule-全体-2018.pdf' %></p>
        <span id="performingarts"></span>
      </div>
      <div class="col-md-6">
        <%= image_tag 'photos/about_5_800px.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 mb-5">
      <%= image_tag 'photos/boy-learning-violin.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
    </div>
    <div class="col-md-6 pl-5">
      <p class="lead text-uppercase">Darstellende Kunst</p>
      <h2>Lerne ein Instrument im Rahmen unseres Musikprogramm</h2>
      <p>An der DSKI haben die Schüler die Möglichkeit, ein klassisches Instrument zu erlernen. Musik kann Kinder um bildende Erfahrung bereichern, und wir sind froh, dies an der DSKI zu ermöglichen. Wir bieten Klavierunterricht für Kinder der Vorschulklassen sowie Klavier- und Geigenunterricht für Grundschüler an. In Kunst und Musik involviert zu sein ist großartig für die Entwicklung der Kinder und wir hoffen, Ihr Kind bei unseren Musikstunden begrüßen zu können.</p>
    </div>
  </div>
  <div class="row">
    <div class="col-md-6 pr-5">
      <h2>Entwickle Kreativität im Rahmen unserer Kunst-AG</h2>
      <p>Die Kunst-AG ist offen für alle Schüler, die daran interessiert sind, ihre künstlerischen Fähigkeiten durch künstlerische Tätigkeiten weiterzuentwickeln. Das Ziel der Kunst-AG ist es, den Schülern Selbstvertrauen zu geben darin, sich selbst künstlerisch und kreativ auszudrücken. Sie haben die Gelegenheit ein Portfolio ihrer Kunstwerke zu erstellen und die Möglichkeit, ein paar ihrer Werke in der Schule auszustellen.</p>
      <span id="physicaleducation"></span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'photos/art-picture.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'photos/about_3_800px.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
      </div>
      <div class="col-md-6 pl-5">
        <p class="lead text-uppercase">Sport</p>
        <h2>Schwimmunterricht an der DSKI</h2>
        <p>An der DSKI nehmen alle Schüler bis zum Alter von 10 Jahren am Schwimmunterricht teil. Schwimmen ist eine Fähigkeit fürs Leben und wir legen hohen Wert auf Sicherheit und Spaß im Wasser. Der Schwimmunterricht ist in den Stundenplan integriert und die Schüler freuen sich, dass dieser Teil ihres wöchentlichen Zeitplans ist. Zum Schwimmunterricht bringen die Kinder eigene Badekleidung und ein Handtuch mit.</p>
        <span id="clubs"></span>
      </div>
    </div>
  </div>
</div>

<div class="container mb-5">
  <div class="row">
    <div class="col-md-6 pr-5">
      <p class="lead text-uppercase">Außerschulische Aktivitäten</p>
      <h2>Nachmittagsbetreuung Programme an der DSKI</h2>
      <p>An der DSKI bieten wir eine weite Spanne an außerschulischen Aktivitäten an. Angefangen bei Bildender Kunst, Sport, Handarbeiten, Backen, Brettspielen, japanischer Geschichte und Erdkunde hoffen wir, dass wir für Ihr Kind etwas Stimulierendes, Spaß-Machendes und Gesundes anbieten können. Es gibt eine Mindestzahl an Schülern, die nötig ist, damit eine AG stattfinden kann. Informieren Sie uns daher bitte darüber, welche AG sie machen möchten, und hoffentlich können wir diese anbieten.</p>
      <p><%= link_to 'Weitere Details finden Sie hier.', '/media/schedules/Extracurricular-Activities-Sept-2017-Term-1.pdf' %></p>
      <span id="technology"></span>
    </div>
    <div class="col-md-6">
      <%= image_tag 'photos/about_6_800px.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
          <%= image_tag 'photos/computer-shot.jpg', alt: data.config.site_name, class: 'rounded img-fluid' %>
      </div>
      <div class="col-md-6 pl-5">
        <p class="lead text-uppercase">Technologie</p>
        <h2>Informations- und Kommunikationstechnologie (IKT) an der DSKI</h2>
        <p>Unser Bekenntnis zum Lernen im 21. Jahrhundert und zur Entwicklung von Fähigkeiten der IKT  hat dazu geführt, dass die Schule in eine Vielfalt von neuen Multimedia-Technologien und Hardware investiert hat. Diese Fähigkeiten, Konzepte und Kompetenzen werden in die Unit of Inquiry eingebettet, um mehr Gelegenheiten zum Lernen und Präsentieren zu schaffen. Mit diesen praktischen Fähigkeiten geht eine angemessene digitale Kompetenz und Citizenship Lehrplan einher, um die Schüler explizit zu unterrichten über Internetsicherheit und Themen, die mit der Verwendung von Technologien der Sozialen Medien zusammenhängen.</p>
        <p><%= link_to 'Finden Sie hier mehr heraus.', local_path('about/technology') %></p>
      </div>
    </div>
  </div>
</div>
