---
title: "Our Languages"
icon: "icons/languages.png"
description: ""
keywords: []
url:
  legacy: "/about-us/languages-at-dski/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/10_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>One Student - Three Languages</h1>

      <p>Language is vital to our identity and thereby shapes the way we act and interact. It is used as a tool to communicate feelings, ideas and experiences with other people. People use language to develop an understanding of the world and to construct meaning. It is key to development at social, emotional and cognitive levels and therefore all pupils regardless of their origin are language learners and all teachers, regardless of their specialty, are language teachers. </p>
      <p>Within our curriculum and school life language is a medium of inquiry and is central to children’s intellectual and emotional development. Children develop language as they develop thought, and they develop thought as they develop language. The three languages used at DSKI are English, German and Japanese. </p>

      <h2 class="mt-5">Where does my child fit in?</h2>

      <p>The two main branches are German and International (English language). Though learners spend most of their day together in an integrated classroom with both English and German-speaking homeroom teachers, math and language instruction occurs in either German or English.</p>
      <p>Your child will be placed into either the German branch or the International branch. The German branch is usually for native German speakers or for parents who would like their child to have core subjects in German (maths and German language classes).</p>
      <p>The International (English) branch is for parents who would like all of their child's lessons to be in English. Please note all students also take compulsory Japanese lessons taught either as JFL (Japanese as a foreign language) or as KOKUGO (Japanese as a native language). All students in the International branch also have two German lessons a week.</p>
      <p>Please see below for more information about the branches and how Japanese fits into the curriculum.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12 mb-4">
        <h2>Language Branches</h2>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <%= image_tag 'icons/german.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3>German</h3>
        <hr>
        <h5>Native German Classes:</h5>
        <p>Maths and German language<br>
          Everyday 1 x 50 minute math lesson and 1 x 50 minute German lesson</p>
        <h5>English Classes:</h5>
        <p>All other classes are in English with homeroom teacher (except Japanese)<br>
          German branch students can have English lessons (ESL) if required</p>
        <h5>Japanese Classes:</h5>
        <p>All students undertake 3 x 50 minute Japanese lessons as JFL (Japanese as a Foreign Language)<br>
          or as KOKUGO (Japanese as a native language)</p>
      </div>
      <div class="col-md-6">
        <%= image_tag 'icons/international.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:80px;' %>
        <h3>International (English)</h3>
        <hr>
        <h5>Native English Classes:</h5>
        <p>All classes (except Japanese and German lessons)<br>
          Core subjects (maths and English) taught in English along with all other classes </p>
        <h5>German Classes:</h5>
        <p>All students have 2 x 50 minute German lessons a week</p>
        <h5>Japanese Classes:</h5>
        <p>All students undertake 3 x 50 minute Japanese lessons as JFL (Japanese as a Foreign Language) <br>
          or as KOKUGO (Japanese as a native language) </p>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h2>Where does Japanese fit into the programme?</h2>
      <p>All students enrolled at DSKI will have 3 x 50 minute Japanese lessons a week. Either as JFL (Japanese as a foreign language) or KOKUGO (native Japanese). A student’s level of Japanese will determine which class they are placed in.</p>
    </div>
  </div>

  <div class="row mt-5">
    <div class="col-md-6">
      <%= image_tag 'icons/ja_second.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
      <h3>Japanese as a Foreign Language<br>
          JFL</h3>
      <hr>
      <p>For non-native speakers of Japanese</p>
      <p>Mandatory lessons</p>
      <p>3 x 50 minute lessons per week</p>
    </div>
    <div class="col-md-6">
      <%= image_tag 'icons/ja_native.png', alt: data.config.title, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
      <h3>Japanese as a Native Language<br>
          Kokugo</h3>
      <hr>
      <p>For native speakers of Japanese</p>
      <p>Mandatory lessons</p>
      <p>3 x 50 minute lessons per week</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid bg-warning mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>FAQ</h2>
      </div>
    </div>

    <div class="row mt-4">
      <div class="col-md-9">
        <p class="lead">Q: Because of the German history I thought it was for Germans or people with German family?</p>
        <p>A: No, DSKI is for everyone, not only for German students or students with German family. We have a German school history but now we are full International School with most of the day being spent in English. If you are looking for an International School we would love to hear from you!</p>
      </div>
      <div class="col-md-3 text-center"><%= image_tag 'icons/faqs.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:160px;' %></div>
    </div>

    <div class="row mt-4">
      <div class="col-md-3 text-center"><%= image_tag 'icons/ja_second.png', alt: data.config.title, class: 'rounded img-fluid', style: 'height:160px;' %></div>
      <div class="col-md-9">
        <p class="lead">Q: So all students will learn three languages at DSKI?</p>
        <p>A: Yes! We are the only primary school in Japan offering 3 languages with Japanese also offered as KOKUGO (as native language).</p>
      </div>
    </div>

  </div>
</div>

<div class="container text-center mt-5 mb-5">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <blockquote class="blockquote">
        <p class="lead font-weight-bold mb-2">"If you talk to a man in a language he understands, that goes to his head. If you talk to him in his own language, that goes to his heart."</p>
        <footer class="blockquote-footer">Nelson Mandela</footer>
      </blockquote>
    </div>
  </div>
</div>
