---
title: "Ehemalige Schüler"
icon: "icons/alumni.png"
description: ""
keywords: []
url:
  legacy: "/community-de/alumni-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/4_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">Was passiert mit DSKI Kindern nachdem Sie die Schule verlassen?</h2>

      <p>Wir sind sehr stolz auf unsere ehemaligen Schüler. Während der Zeit, die die Schüler an der DSKI sind, lieben wir es zu beobachten, wie sie intellektuell, sozial und emotional heranwachsen. Wenn sie dann die Schule verlassen sind wir uns sicher, dass wir ihnen eine sehr gute Bildung mitgegeben haben, welche ihnen im Leben hilft herauszustechen und Ziele zu erreichen. Wir sind sehr stolz darauf zu sagen, dass 90% aller Schüler bei den weiterführenden Schulen ihrer Wahl angenommen werden - wir denken, das ist wunderbar.</p>

      <h2 class="mt-4">Unsere Ehemaligen stellen sich vor</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <%= image_tag 'people/lisa_alumni.jpg', alt: 'Lisa', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Lisa</h3>
      <p><strong>Alter: </strong>15 Jahre alt</p>
      <p><strong>Derzeitige Schule: </strong>OIS</p>
      <p><strong>Außerschulische Aktivitäten: </strong>World Scholar Cup</p>
      <p><strong>Zukunftspläne: </strong>Ich bin mir noch nicht sicher, aber ich will zum College gehen und mehr über Archäologie erfahren.</p>
      <p><strong>Was würdest du gerne den Leuten über die DSKI erzählen?</strong><br>Es ist eine wirklich tolle Schule. Seitdem man klein ist, hat man immer mit den selben Leuten zu tun; manche die man mag und andere die man nicht mag. Aber man bekommt immer Möglichkeiten, sich mit Leuten anzufreunden, mit welchen man nicht so gut klarkommt. Ich kann mit Sicherheit sagen, dass die sechs Jahre, die ich an der DSKI war, wunderbar waren und ich die Schule nur jedem empfehlen kann, der daran interessiert ist.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <%= image_tag 'people/Dianne_alumni.jpg', alt: 'Dianne', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Dianne</h3>
      <p><strong>Alter: </strong>19 Jahre alt</p>
      <p><strong>Derzeitige Schule: </strong>Ashiya International Secondary School/芦屋国際中等教育学校</p>
      <p><strong>Außerschulische Aktivitäten: </strong>Von der Mittelschule bis Oberschule war ich im Chor. Aber allgemein habe ich Spaß an jeder Art von Basteln, besonders kleine Minialben.</p>
      <p><strong>Zukunftspläne: </strong>An einer Universität in Ottawa, Canada studieren.</p>
      <p><strong>Was würdest du gerne den Leuten über die DSKI erzählen?</strong><br>DSKI ist wirklich eine inspirierende Schule zum Lernen. Es gibt so viel zu erzählen, aber was ich gerne hervorheben möchte ist, wie die Lehrer die Schüler in dem Fach “Unit of Inquiry” darin unterstützen, eigenständig zu lernen. Das Besondere an dieser Art zu Unterrichten ist, dass die Kinder sehr motiviert und erpicht darauf sind zu lernen, sich Wissen anzueignen, eigene Ideen zu entwickeln und nach Lösungsansätzen zu suchen. Ich denke, das ist besonders an dieser Schule und bin sehr glücklich, dass ich die Möglichkeit hatte mit großartigen Lehrern und Freunden Zeit in dieser Schule zu verbringen. Oh und ich liebe die farbenfrohen Klassenräume mit so viel Kunst und Lernhilfsmittel, die nicht nur an den Wänden, sondern auch von den Decken hängen.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <%= image_tag 'people/Yoona_alumni.jpg', alt: 'Yoona', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Yoona</h3>
      <p><strong>Alter: </strong>16 Jahre alt</p>
      <p><strong>Derzeitige Schule: </strong>Canadian Academy</p>
      <p><strong>Außerschulische Aktivitäten: </strong>Ich tanze und spiele Badminton</p>
      <p><strong>Zukunftspläne: </strong>Ich will an einer amerikanischen Medizinuniversität studieren</p>
      <p><strong>Was würdest du gerne den Leuten über die DSKI erzählen?</strong><br>Die Deutsche Schule Kobe / European School war für mich immer wie ein Zuhause und alle meine Freunde und alle anderen waren wie meine Familie. Es ist ein sehr schöner Ort und ich hatte immer Spaß daran, zur Schule zu gehe. Da es eine kleine Schule ist, konnte ich meinen Lehrern oft Fragen stellen, welche mir halfen, mein Wissen zu erweitern. Die Schule ermöglichte es mir, viele verschiedene Dinge zu erleben, wie zum Beispiel die 4 Nächte, 5 Tage Exkursion nach Green Echo und Feste, wie der Weihnachtsmarkt in Osaka, bei dem ich die Möglichkeit hatte, vor vielen Leuten aufzutreten. Insgesamt war die Deutsche Schule Kobe / European School ein Ort, wo ich mit den besten Leuten viele lustige Momente erlebt habe.</p>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-3">
      <%= image_tag 'people/Natalia_alumni.jpg', alt: 'Natalia', class: 'img-fluid d-block w-100' %>
    </div>

    <div class="col-9">
      <h3>Natalia</h3>
      <p><strong>Alter: </strong>17 Jahre alt</p>
      <p><strong>Derzeitige Schule: </strong>Canadian Academy</p>
      <p><strong>Außerschulische Aktivitäten: </strong>Fußball, Theater, Volleyball</p>
      <p><strong>Zukunftspläne: </strong>Theateraufführung und Schauspielerei studieren</p>
      <p><strong>Was würdest du gerne den Leuten über die DSKI erzählen?</strong><br>Fantastische Schule. Ich habe dort viele gute Freunde gefunden und ein paar der besten Erinnerungen meiner Schulzeit gemacht. Ich wünsche mir wirklich, ich könnte zurückkommen.</p>
    </div>
  </div>

</div>
