---
title: "Clubs"
icon: "icons/alumni.png"
description: ""
keywords: []
media:
  infopdf: '/media/forms/Club-Offerings-Term-2-2019_-2020-1.pdf'
  signup: 'https://forms.gle/XhGFMm4XQvwEtP9W9'
banner: "banners/1_header_thin.jpg"
---

<div class="container">
  <div class="row">
    <div class="col-md-7">
      <h1><%= current_page.data.title %></h1>

      <h3 class="mt-4">After School</h3>
      <p>DSK International offers a wide range of after school extracurricular club activities. From sports to arts, to cooking and much more we feel there is something for everyone!</p>

      <h3 class="mt-4">Before School</h3>
      <p>In addition to our after school club activities, we are now pleased to announce that we will have two active morning clubs being offered on Tuesday and Thursday mornings before school from 7:45 for those early risers who just can’t wait to get a move on and start their day!</p>

      <h3 class="mt-4">For Adults Too</h3>
      <p>The clubs and classes aren’t only for the kids! Our list of adult classes and clubs is steadily growing!

      <p>For full details please see the attached <%= link_to 'Information Document PDF', current_page.data.media.infopdf %>.</p>

      <p>If all that wasn’t enough, our clubs are also open for external children to attend.</p>

      <h3 class="mt-4">Eligibility</h3>
      <p>Please be sure to check that your child is eligible for the club. Clubs are offered to certain grades so please ensure your child is in the correct grade for a certain club. You can see what grades are eligible for each club in the <%= link_to 'Information PDF', current_page.data.media.infopdf %>,  and also on the <%= link_to 'Online Application Form', current_page.data.media.signup %>.</p>
    </div>

    <div class="col-md-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.title, class: 'rounded img-fluid mb-2' %>
      <h3>Application Forms</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application Form', current_page.data.media.signup %></li>
        <li><%= link_to 'Information Document - PDF', current_page.data.media.infopdf %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h3>Planned Clubs and Fees</h3>

      <h5 class="mt-3">New Morning Clubs from 7:45-8:30</h5>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width:20%">Monday</th>
            <th scope="col" style="width:20%">Tuesday</th>
            <th scope="col" style="width:20%">Wednesday</th>
            <th scope="col" style="width:20%">Thursday</th>
            <th scope="col" style="width:20%">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>Indoor Fun Games<br>G1 - 6<br>Mr. Waite</td>
            <td></td>
            <td>Morning Fitness<br>PS - G6<br>Mr. Waite</td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <h5 class="mt-3">After School Clubs from 15:45 - End Times Vary (16:30 / 16:45 / 17:15)</h5>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width:20%">Monday</th>
            <th scope="col" style="width:20%">Tuesday</th>
            <th scope="col" style="width:20%">Wednesday</th>
            <th scope="col" style="width:20%">Thursday</th>
            <th scope="col" style="width:20%">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Baseball / Cricket<br>G1- 6<br>Mr.Waite<br>Ends 16:35</td>
            <td>Ballet/ Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
            <td>Arts & Crafts<br>EY - G2 (Ages 4+)<br>Ms. Faye<br>Ends 16:30</td>
            <td>Skateboard & Scooter<br>(90min every 2nd week) <br>G2 - 6<br>Mr. Justin</td>
            <td>Baking/<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
          </tr>
          <tr>
            <td>Drama<br>G1 - G6<br>Felicity Price<br>Ends 16:45</td>
            <td>Japanese Calligraphy <br>PS - G6<br>Ms Oyama<br>Ends 16:30</td>
            <td>Karate <br>Gr 1 - 6<br>Mr. Brabant & Celina<br>Ends 16:45</td>
            <td>Ballet / Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
            <td>Cooking<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
          </tr>
          <tr>
            <td>MakerSpace <br>PS - G2<br>Mr. Lubin<br>Ends 16:45</td>
            <td>Singing / Music Club<br>G1 - 6<br>Ms. Jadwiga Skwierz<br>Ends 16:30</td>
            <td>Painting<br>G2 - G6<br>Mr. Lubin<br>Ends 16:45</td>
            <td>Creative & Active Kids<br>G1 - G6<br>Ms. Ramani<br>Ends 16:30</td>
            <td>Gymnastics<br>EY(Ages 3+) - PS<br>Mr. Waite<br>Ends 16:30</td>
          </tr>
          <tr>
            <td>Math Tutoring<br>G1 - 6<br>Mr. Huber<br>End 16:30</td>
            <td></td>
            <td>Soccer <br>PS - Gr 2<br>Mr. Waite<br>Ends 16:35</td>
            <td>Soccer <br>Gr 3 - 6<br>Mr. Waite<br>Ends 16:35</td>
            <td>Basketball<br>Gr 1 - 6<br>Mr. Brabant<br>Ends 16:45</td>
          </tr>
          <tr>
            <td>Music - by Invitation<br>Azusa Nakajima</td>
            <td></td>
            <td></td>
            <td>Lego<br>PS - G4<br>Ms. d’Amours<br>Ends 16:30</td>
            <td>Math & Board Games<br>G1 - 6<br>Mr. Justin<br>Ends 16:30</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>Heimat- und Sachkunde<br>PS - 6<br>Mr. Huber<br>Ends 16:30</td>
            <td>Kanji Club<br>G2 - 6<br>Ms. Chizuru Kinjo<br>Ends 16:30</td>
          </tr>
        </tbody>
      </table>

      <h5 class="mt-3">Parent Lessons / Classes</h5>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col" style="width:20%">Monday</th>
            <th scope="col" style="width:20%">Tuesday</th>
            <th scope="col" style="width:20%">Wednesday</th>
            <th scope="col" style="width:20%">Thursday</th>
            <th scope="col" style="width:20%">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td>English Lesson<br>Mr. Lubin<br>14:30 - 15:30</td>
            <td>Boxercise<br>Mr Taiki<br>12:30 - 13:30<br>*Pay on the Day*</td>
            <td>Bhangrabics<br>Ms Bhavleen Sethi<br>13:30 - 14:30<br>*Pay on the Day*</td>
            <td>Japanese Lesson<br>Ms Chizuru Kinjo<br>8:45 - 9:45</td>
          </tr>
          <tr>
            <td></td>
            <td></td>
            <td>German Lesson<br>TBA<br>14:00 - 15:30<br>From Feb. 19th</td>
            <td></td>
            <td></td>
          </tr>
        </tbody>
      </table>

      <p><i>*Please note an (*) indicates that the club runs for 90 minutes every second week when possible. Due to holidays and or dates of field trips it's not always possible to hold the club every two weeks. However, we have spaced them out as best as possible.</i></p>

      <p>If you want to join simply fill in the <%= link_to 'Online Application Form', current_page.data.media.signup %> and book your place. If we reach the minimum participant number required for the clubs, we will run them.</p>
      <p>Standard Club Fee is ¥20000, with the exception of the Skateboard (¥23000 - includes G Skatepark entrance fee) and Baking and Cooking Clubs (¥21000 - covers the cost of ingredients).</p>
      <p>If you join before the first 7 lessons are over the fee is ¥20000.</p>
      <p>If there are 7 or fewer club dates left, then the fee will be ¥10000.</p>

      <h3 class="mt-4">Schedule and Transport</h3>
      <p>Students will be supervised in the school lunchroom while having a snack between the end of classes at 3:30 and the start of the club activity at 15:45. Most clubs finish between 16:30 and 16:45, with the exception of the Skateboard, Cooking and Baking Clubs which will end at 17:15 as they are only offered every second week. There will be no buses at this time to transport your child home, so try to carpool with other parents.</p>

      <h3 class="mt-4">Sign Up</h3>
      <p>To sign up for a club activity please use the <%= link_to 'Online Application Form', current_page.data.media.signup %> on the right of this page or the link below. The <%= link_to 'Information PDF', current_page.data.media.infopdf %> with complete club details is also available on the right of this page.</p>

      <p><%= link_to 'Sign up now >', current_page.data.media.signup %></p>
    </div>
  </div>
</div>

<!--
<div class="container text-center mt-4">
  <div class="row mb-5">
    <div class="col-12">
      <h1>Club Life</h1>
      <p>Learn new skills, make new friends and have fun.</p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-xRiRCvVaBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Sports and Dance Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/soccer.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Soccer</p>
      <p>Learn the fundamental skills needed for Football.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: PS - Grade 6 (Jr & Sr are split)</li>
        <li>Group size: 4 - 12</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/basketball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Basketball</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 14</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/baseball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Baseball/Cricket</p>
      <p>Students will learn the fundamental skills needed to play a game of baseball and cricket.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/skateboard.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Skateboard & Scooter</p>
      <p>Students challenge themselves to learn and grow skills through fun & physical activities.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Justin Rich</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 6 - 9</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/dancing.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Deutsche Sprache, Lieder und Spiele</p>
      <p>Learn and practice German vocabulary, sing songs and play games together.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Anita Mönch</li>
        <li>Age: Early Years - Pre School</li>
        <li>Group size: 4 - 5</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/gymnastics.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Gymnastics</p>
      <p>Learn basic gymnastics skills on the floor like somersault, cartwheel, head- and handstand.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Early Years - Pre School</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/badminton.jpg', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Badminton</p>
      <p>Learn the fundamentals and enjoy playing Badminton. For beginners and experienced players.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Anna Münster</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/karate.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Karate & Exercise</p>
      <p>Develop your body and mind through training and exercise in the introduction to Karate Club</p>
      <ul class="text-left">
        <li>Teacher: Ms. Celina Pedro & Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/ballet.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Ballet & Contemporary Dance</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Yuki Yasuda Arami</li>
        <li>Age: PS - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Arts and Crafts Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/art.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Painting (Watercolour & Acrylic)</p>
      <p>For students who are interested in developing their artistic talents.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lubin Nepomuceno</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/calligraphy.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Japanese Calligraphy</p>
      <p>Learn how to write words with a traditional Japanese calligraphy brush.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Tamiyo Oyama</li>
        <li>Age: Pre School - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/sewing.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Sewing & Craft</p>
      <p>Learn how to make your own shirt/blouse, bag, pillow cover and more!</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Grade 2 and up</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/lego.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Lego</p>
      <p>Develop skills such as problem-solving, organizing, and planning by construction.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Satya d'Amours</li>
        <li>Age: Pre School - Grade 4</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/drama.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Drama</p>
      <p>Students act, create, and use their imagination while having fun.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/piano.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Musical Performance<br> (by Invitation only)</p>
      <p>Be a representative of DSK for special musical performances.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Azusa Nakajima</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 10 - 12</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/teamwork.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Creative Kids</p>
      <p>Have fun doing different arts and crafts activities each week.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Jayshree Ramani</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 12</li>
      </ul>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Science, Engineering and Cooking Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/einstein.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Einstein Club</p>
      <p>Students will prepare and execute experiments related to chemistry, biology, physics and math.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Grade 3 - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/robot.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Makers Club</p>
      <p>For younger students interested in engineering, building and simple coding (Scratch).</p>
      <ul class="text-left">
        <li>Teacher:  Mr. Lubin Nepomuceno</li>
        <li>Age: Pre School - Grade 2</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/cooking.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Cooking & Baking</p>
      <p>Kitchen fun for all aspiring chefs and bakers aiming to create mouth-watering recipes!</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lubin Nepomuceno</li>
        <li>Age: Early Years - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>
  </div>

</div>
-->

<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <h3>Timetable and More Details</h3>
      <p>For more information about the details of each club, please see our information PDF.</p>

      <p><%= link_to 'Find out more >', current_page.data.media.infopdf %></p>
    </div>

    <div class="col-md-6">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Makers-Camp1.jpg']
    } %>
    </div>
  </div>
</div>
