---
title: "クラブ"
icon: "icons/alumni.png"
description: ""
keywords: []
media:
  infopdf: '/media/forms/Club-Offerings-Term-2-2019_-2020-1.pdf'
  signup: 'https://forms.gle/XhGFMm4XQvwEtP9W9'
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

**放課後**

DSKIではさまざまなクラブ活動を提供しています。スポーツ、アート、クッキングなど他にもたくさんあり、全てのみなさまにお選びいただけるクラブがあるはずです！

**始業前**

放課後のクラブに加えて朝のクラブを２つご紹介させていただけることを嬉しく思います。朝のクラブは、早起きで一日を始めるのが待ちきれないお子さんために、火曜日と木曜日の午前7時45分から提供されています！

**大人向けも**

クラブもクラスも子供たちのためだけではありません！大人の方に向けたクラスとクラブもどんどん増えていっています！

<%= link_to '詳細は添付されているPDF', current_page.data.media.infopdf %>にてご覧ください。

それだけではありません。DSKI以外の生徒の方でも、これらのクラブ活動にご参加いただくことができます。

**参加条件**

それぞれのクラブへの参加資格をご確認ください。クラブには参加いただける学年が決まっていますので、お子さま正しい学年であることを確認してください。参加していただける元年に関しましては、<%= link_to 'PDFのインフォメーション', current_page.data.media.infopdf %>か<%= link_to 'オンラインの申込書', current_page.data.media.infopdf %>からご覧いただくことができます。

**ダウンロード**

アプリケーション フォームズ

* <%= link_to 'オンライン アプリケーションフォーム', current_page.data.media.signup %>
* <%= link_to 'インフォメーション - PDF', current_page.data.media.infopdf %>

## 予定されているクラブと料金

**モーニングクラブ 7:45-8:30**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">月</th>
      <th scope="col" style="width:20%">火</th>
      <th scope="col" style="width:20%">水</th>
      <th scope="col" style="width:20%">木</th>
      <th scope="col" style="width:20%">金</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Indoor Fun Games<br>G1 - 6<br>Mr. Waite</td>
      <td></td>
      <td>Morning Fitness<br>PS - G6<br>Mr. Waite</td>
      <td></td>
    </tr>
  </tbody>
</table>

**アフタースクール クラブ 15:45 - 終了時間はクラブによって違います (16:30 / 16:45 / 17:15)**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">月</th>
      <th scope="col" style="width:20%">火</th>
      <th scope="col" style="width:20%">水</th>
      <th scope="col" style="width:20%">木</th>
      <th scope="col" style="width:20%">金</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Baseball / Cricket<br>G1- 6<br>Mr.Waite<br>Ends 16:35</td>
      <td>Ballet/ Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
      <td>Arts & Crafts<br>EY - G2 (Ages 4+)<br>Ms. Faye<br>Ends 16:30</td>
      <td>Skateboard & Scooter<br>(90min every 2nd week) <br>G2 - 6<br>Mr. Justin</td>
      <td>Baking/<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
    </tr>
    <tr>
      <td>Drama<br>G1 - G6<br>Felicity Price<br>Ends 16:45</td>
      <td>Japanese Calligraphy <br>PS - G6<br>Ms Oyama<br>Ends 16:30</td>
      <td>Karate <br>Gr 1 - 6<br>Mr. Brabant & Celina<br>Ends 16:45</td>
      <td>Ballet / Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
      <td>Cooking<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
    </tr>
    <tr>
      <td>MakerSpace <br>PS - G2<br>Mr. Lubin<br>Ends 16:45</td>
      <td>Singing / Music Club<br>G1 - 6<br>Ms. Jadwiga Skwierz<br>Ends 16:30</td>
      <td>Painting<br>G2 - G6<br>Mr. Lubin<br>Ends 16:45</td>
      <td>Creative & Active Kids<br>G1 - G6<br>Ms. Ramani<br>Ends 16:30</td>
      <td>Gymnastics<br>EY(Ages 3+) - PS<br>Mr. Waite<br>Ends 16:30</td>
    </tr>
    <tr>
      <td>Math Tutoring<br>G1 - 6<br>Mr. Huber<br>End 16:30</td>
      <td></td>
      <td>Soccer <br>PS - Gr 2<br>Mr. Waite<br>Ends 16:35</td>
      <td>Soccer <br>Gr 3 - 6<br>Mr. Waite<br>Ends 16:35</td>
      <td>Basketball<br>Gr 1 - 6<br>Mr. Brabant<br>Ends 16:45</td>
    </tr>
    <tr>
      <td>Music - by Invitation<br>Azusa Nakajima</td>
      <td></td>
      <td></td>
      <td>Lego<br>PS - G4<br>Ms. d’Amours<br>Ends 16:30</td>
      <td>Math & Board Games<br>G1 - 6<br>Mr. Justin<br>Ends 16:30</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Heimat- und Sachkunde<br>PS - 6<br>Mr. Huber<br>Ends 16:30</td>
      <td>Kanji Club<br>G2 - 6<br>Ms. Chizuru Kinjo<br>Ends 16:30</td>
    </tr>
  </tbody>
</table>

**大人向けクラブ / クラス**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">月</th>
      <th scope="col" style="width:20%">火</th>
      <th scope="col" style="width:20%">水</th>
      <th scope="col" style="width:20%">木</th>
      <th scope="col" style="width:20%">金</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>English Lesson<br>Mr. Lubin<br>14:30 - 15:30</td>
      <td>Boxercise<br>Mr Taiki<br>12:30 - 13:30<br>*Pay on the Day*</td>
      <td>Bhangrabics<br>Ms Bhavleen Sethi<br>13:30 - 14:30<br>*Pay on the Day*</td>
      <td>Japanese Lesson<br>Ms Chizuru Kinjo<br>8:45 - 9:45</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>German Lesson<br>TBA<br>14:00 - 15:30<br>From Feb. 19th</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<i>(*) のマークがついているクラブは隔週90分間で催行されます。ホリデーや遠足などがある場合もあり、必ず2週間に1回のクラブが催行できるとは限りませんが、可能な限り調整しています。</i>

参加を希望される場合はオン<%= link_to 'ラインアプリケーションフォーム', current_page.data.media.signup %>にてご予約下さい。最低催行人数に達したクラブは開催されます。

クラブ参加費は通常 ¥20000ですが、例外としてスケートボードは G Skatepark entrance fee を含めた¥23000 、ベーキング＆クッキングクラブは材料費を含めた¥21000となります。

最初の7回分のレッスンが終わるまでに参加する場合は通常の¥20000.

7回より少ない回数しか残っていない時期に参加する場合は¥10000です。

### スケジュールと帰宅

学校が終わる 15:30 からクラブが始まる15:45までの間は、ランチルームにてスナックタイムを取っていただきます。ほとんどのクラブは16:30か16:45に終了しますが、スケートボードとベーキング＆クッキングクラブは隔週で行われるため17:15までとなります。クラブ終了時のスクールバスはございませんので、他のご家族と車を相乗りするなどご考慮ください。

### お申し込み

クラブ参加はこの<%= link_to 'オンラインアプリケーションフォーム', current_page.data.media.signup %>か、下記のリンクからお申し込みください。全てのクラブの<%= link_to '詳細なインフォメーション', current_page.data.media.infopdf %>のPDFにてご覧いただけます。

<%= link_to 'サインアップをどうぞ＞', current_page.data.media.signup %>

### タイムテーブルと詳細

それぞれのクラブの詳細なインフォメーションに関しましては、PDFにてご覧ください。

<%= link_to '詳細について＞', current_page.data.media.infopdf %>
