---
title: "Clubs"
icon: "icons/alumni.png"
description: ""
keywords: []
media:
  infopdf: '/media/forms/Club-Offerings-Term-2-2019_-2020-1.pdf'
  signup: 'https://forms.gle/XhGFMm4XQvwEtP9W9'
banner: "banners/1_header_thin.jpg"
---

# <%= current_page.data.title %>

**After School**

DSK International offers a wide range of after school extracurricular club activities. From sports to arts, to cooking and much more we feel there is something for everyone!

**Before School**

In addition to our after school club activities, we are now pleased to announce that we will have two active morning clubs being offered on Tuesday and Thursday mornings before school from 7:45 for those early risers who just can’t wait to get a move on and start their day!

**For Adults Too**

The clubs and classes aren’t only for the kids! Our list of adult classes and clubs is steadily growing!

For full details please see the attached <%= link_to 'Information Document PDF', current_page.data.media.infopdf %>.

If all that wasn’t enough, our clubs are also open for external children to attend.

**Eligibility**

Please be sure to check that your child is eligible for the club. Clubs are offered to certain grades so please ensure your child is in the correct grade for a certain club. You can see what grades are eligible for each club in the <%= link_to 'Information PDF', current_page.data.media.infopdf %>,  and also on the <%= link_to 'Online Application Form', current_page.data.media.signup %>.

**Application Forms**

* <%= link_to 'Online Application Form', current_page.data.media.signup %>
* <%= link_to 'Information Document - PDF', current_page.data.media.infopdf %>

## Planned Clubs and Fees

**New Morning Clubs from 7:45-8:30**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">Monday</th>
      <th scope="col" style="width:20%">Tuesday</th>
      <th scope="col" style="width:20%">Wednesday</th>
      <th scope="col" style="width:20%">Thursday</th>
      <th scope="col" style="width:20%">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>Indoor Fun Games<br>G1 - 6<br>Mr. Waite</td>
      <td></td>
      <td>Morning Fitness<br>PS - G6<br>Mr. Waite</td>
      <td></td>
    </tr>
  </tbody>
</table>

**After School Clubs from 15:45 - End Times Vary (16:30 / 16:45 / 17:15)**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">Monday</th>
      <th scope="col" style="width:20%">Tuesday</th>
      <th scope="col" style="width:20%">Wednesday</th>
      <th scope="col" style="width:20%">Thursday</th>
      <th scope="col" style="width:20%">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Baseball / Cricket<br>G1- 6<br>Mr.Waite<br>Ends 16:35</td>
      <td>Ballet/ Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
      <td>Arts & Crafts<br>EY - G2 (Ages 4+)<br>Ms. Faye<br>Ends 16:30</td>
      <td>Skateboard & Scooter<br>(90min every 2nd week) <br>G2 - 6<br>Mr. Justin</td>
      <td>Baking/<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
    </tr>
    <tr>
      <td>Drama<br>G1 - G6<br>Felicity Price<br>Ends 16:45</td>
      <td>Japanese Calligraphy <br>PS - G6<br>Ms Oyama<br>Ends 16:30</td>
      <td>Karate <br>Gr 1 - 6<br>Mr. Brabant & Celina<br>Ends 16:45</td>
      <td>Ballet / Dance<br>EY - G6<br>Ms. Arami/ Sayaka<br>Ends 16:30</td>
      <td>Cooking<br>(90min every 2nd week) <br>EY(Ages 3+) - G6<br>Mr. Lubin</td>
    </tr>
    <tr>
      <td>MakerSpace <br>PS - G2<br>Mr. Lubin<br>Ends 16:45</td>
      <td>Singing / Music Club<br>G1 - 6<br>Ms. Jadwiga Skwierz<br>Ends 16:30</td>
      <td>Painting<br>G2 - G6<br>Mr. Lubin<br>Ends 16:45</td>
      <td>Creative & Active Kids<br>G1 - G6<br>Ms. Ramani<br>Ends 16:30</td>
      <td>Gymnastics<br>EY(Ages 3+) - PS<br>Mr. Waite<br>Ends 16:30</td>
    </tr>
    <tr>
      <td>Math Tutoring<br>G1 - 6<br>Mr. Huber<br>End 16:30</td>
      <td></td>
      <td>Soccer <br>PS - Gr 2<br>Mr. Waite<br>Ends 16:35</td>
      <td>Soccer <br>Gr 3 - 6<br>Mr. Waite<br>Ends 16:35</td>
      <td>Basketball<br>Gr 1 - 6<br>Mr. Brabant<br>Ends 16:45</td>
    </tr>
    <tr>
      <td>Music - by Invitation<br>Azusa Nakajima</td>
      <td></td>
      <td></td>
      <td>Lego<br>PS - G4<br>Ms. d’Amours<br>Ends 16:30</td>
      <td>Math & Board Games<br>G1 - 6<br>Mr. Justin<br>Ends 16:30</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>Heimat- und Sachkunde<br>PS - 6<br>Mr. Huber<br>Ends 16:30</td>
      <td>Kanji Club<br>G2 - 6<br>Ms. Chizuru Kinjo<br>Ends 16:30</td>
    </tr>
  </tbody>
</table>

**Parent Lessons / Classes**

<table class="table">
  <thead class="thead-light">
    <tr>
      <th scope="col" style="width:20%">Monday</th>
      <th scope="col" style="width:20%">Tuesday</th>
      <th scope="col" style="width:20%">Wednesday</th>
      <th scope="col" style="width:20%">Thursday</th>
      <th scope="col" style="width:20%">Friday</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td></td>
      <td>English Lesson<br>Mr. Lubin<br>14:30 - 15:30</td>
      <td>Boxercise<br>Mr Taiki<br>12:30 - 13:30<br>*Pay on the Day*</td>
      <td>Bhangrabics<br>Ms Bhavleen Sethi<br>13:30 - 14:30<br>*Pay on the Day*</td>
      <td>Japanese Lesson<br>Ms Chizuru Kinjo<br>8:45 - 9:45</td>
    </tr>
    <tr>
      <td></td>
      <td></td>
      <td>German Lesson<br>TBA<br>14:00 - 15:30<br>From Feb. 19th</td>
      <td></td>
      <td></td>
    </tr>
  </tbody>
</table>

<i>*Please note an (*) indicates that the club runs for 90 minutes every second week when possible. Due to holidays and or dates of field trips it's not always possible to hold the club every two weeks. However, we have spaced them out as best as possible.</i>

If you want to join simply fill in the <%= link_to 'Online Application Form', current_page.data.media.signup %> and book your place. If we reach the minimum participant number required for the clubs, we will run them.

Standard Club Fee is ¥20000, with the exception of the Skateboard (¥23000 - includes G Skatepark entrance fee) and Baking and Cooking Clubs (¥21000 - covers the cost of ingredients).

If you join before the first 7 lessons are over the fee is ¥20000.

If there are 7 or fewer club dates left, then the fee will be ¥10000.

### Schedule and Transport

Students will be supervised in the school lunchroom while having a snack between the end of classes at 3:30 and the start of the club activity at 15:45. Most clubs finish between 16:30 and 16:45, with the exception of the Skateboard, Cooking and Baking Clubs which will end at 17:15 as they are only offered every second week. There will be no buses at this time to transport your child home, so try to carpool with other parents.

### Sign Up

To sign up for a club activity please use the <%= link_to 'Online Application Form', current_page.data.media.signup %> or the link below. The <%= link_to 'Information PDF', current_page.data.media.infopdf %> with complete club details is also available.

<%= link_to 'Sign up now >', current_page.data.media.signup %>

### Timetable and More Details

For more information about the details of each club, please see our information PDF.

<%= link_to 'Find out more >', current_page.data.media.infopdf %>
