---
title: "Clubs"
description: ""
keywords: []
url:
  legacy: "/what-we-offer/clubs/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/1_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-7">
      <h1><%= current_page.data.title %></h1>

      <p>DSK International offers a wide range of after school extracurricular club activities. From sports to arts, to computer science and much more we feel there is something for everyone! </p>
      <p>We are now pleased to announce that our clubs are also open for external children to attend. For further details please see the attached <%= link_to 'Information Document PDF', '/media/forms/Club-Offerings-Term-1-2019_-2020-2.pdf' %>.</p>

      <h2 class="mt-5">Eligibility</h2>

      <p>Please be sure to check that your child is eligible for the club. Clubs are offered to certain grades so please ensure your child is in the correct grade for a certain club. You can see what grades are eligible for each club in the calendar below, in the <%= link_to 'Information PDF', '/media/forms/Club-Offerings-Term-1-2019_-2020-2.pdf' %>, in the club descriptions below and also on the <%= link_to 'Online Application Form', 'https://docs.google.com/forms/d/e/1FAIpQLSdPA6R-xwqS7uKZ2wpI2OZfLgW21h_K4T1SKiGxa6T4Mq8O9A/viewform' %>.</p>
    </div>

    <div class="col-md-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>Application Forms</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Online Application Form', 'https://docs.google.com/forms/d/e/1FAIpQLSdPA6R-xwqS7uKZ2wpI2OZfLgW21h_K4T1SKiGxa6T4Mq8O9A/viewform' %></li>
        <li><%= link_to 'Information Document - PDF', '/media/forms/Club-Offerings-Term-1-2019_-2020-2.pdf' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-12">
      <h2>Planned Clubs and Fees</h2>

      <p>The clubs we are planning to run in term two are:</p>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th scope="col">Monday</th>
            <th scope="col">Tuesday</th>
            <th scope="col">Wednesday</th>
            <th scope="col">Thursday</th>
            <th scope="col">Friday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="pl-3">
                <li>Maker Club (PS - Gr 2)</li>
                <li>Drama (G1 - G6)</li>
                <li>Baseball / Cricket (G1 - G6)</li>
                <li>Sewing / Crafting G2 and up (adults too)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Music Performance Club by Invitation Only</li>
                <li>Japanese Calligraphy (PS - G6)</li>
                <li>Badminton (PS - G6)</li>
                <li>Ballet / Dance (PS - G6)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Crafting (EY - G2, Ages 4+)</li>
                <li>Watercolour / Acrylic Painting (G2 - G6)</li>
                <li>Soccer (PS - G2)</li>
                <li>Karate / Exercise (G1 - G6)</li>
                <li>German Songs & Games (EY - PS)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>*Skateboard / Scooter (G2 - G6) (90min every 2nd week)</li>
                <li>Lego (PS - G4)</li>
                <li>Soccer (G3 - G6)</li>
                <li>Creative Kids (G1 - G6)</li>
                <li>Einstein Club (G3 - G6)</li>
              </ul>
            </td>
            <td>
              <ul class="pl-3">
                <li>Basketball (G1 - G6)</li>
                <li>Gymnastics (EY (Age 3+) - PS)</li>
                <li>*Baking / Cooking (EY (Ages 3+)- G6) (90min every 2nd week)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>

      <p><i>*Please note an (*) indicates that the club runs for 90 minutes every second week when possible. Due to holidays and or dates of field trips it's not always possible to hold the club every two weeks, however we have spaced them out as best as possible.</i></p>
      <p>If you want to join simply fill in the <%= link_to 'Online Application Form', 'https://docs.google.com/forms/d/e/1FAIpQLSdPA6R-xwqS7uKZ2wpI2OZfLgW21h_K4T1SKiGxa6T4Mq8O9A/viewform' %> and book your place. If we reach the minimum participant number required for the clubs, we will run them.</p>
      <p>Standard Club Fee is ¥20000, with the exception of the Skateboard and Baking Clubs which are ¥21000. </p>
      <p>If you join before the first 7 lessons are over the fee is ¥20000.</p>
      <p>If there are 7 or less club dates left, then the fee will be ¥10000.</p>

      <h2 class="mt-5">Schedule and Transport</h2>

      <p>Students will be supervised while having a snack between the end of classes and the start of the club activity at 15:45. Most clubs finish between 16:30 and 17:15. There will be no buses at this time to transport your child home, so try to carpool with other parents. </p>

      <h2 class="mt-5">Sign Up</h2>

      <p>To sign up for a club activity please use the <%= link_to 'Online Application Form', 'https://docs.google.com/forms/d/e/1FAIpQLSdPA6R-xwqS7uKZ2wpI2OZfLgW21h_K4T1SKiGxa6T4Mq8O9A/viewform' %> on the right of this page or the link below. The <%= link_to 'Information PDF', '/media/forms/Club-Offerings-Term-1-2019_-2020-2.pdf' %> with complete club details is also available on the right of this page.</p>

      <p><%= link_to 'Sign up now >', 'https://docs.google.com/forms/d/e/1FAIpQLSdPA6R-xwqS7uKZ2wpI2OZfLgW21h_K4T1SKiGxa6T4Mq8O9A/viewform' %></p>
    </div>
  </div>
</div>

<div class="container text-center mt-4">
  <div class="row mb-5">
    <div class="col-12">
      <h1>Club Life</h1>
      <p>Learn new skills, make new friends and have fun.</p>
      <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/-xRiRCvVaBA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Sports and Dance Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/soccer.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Soccer</p>
      <p>Learn the fundamental skills needed for Football.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: PS - Grade 6 (Jr & Sr are split)</li>
        <li>Group size: 4 - 12</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/basketball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Basketball</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 14</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/baseball.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Baseball/Cricket</p>
      <p>Students will learn the fundamental skills needed to play a game of baseball and cricket.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/skateboard.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Skateboard & Scooter</p>
      <p>Students challenge themselves to learn and grow skills through fun & physical activities.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Justin Rich</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 6 - 9</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/dancing.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Deutsche Sprache, Lieder und Spiele</p>
      <p>Learn and practice German vocabulary, sing songs and play games together.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Anita Mönch</li>
        <li>Age: Early Years - Pre School</li>
        <li>Group size: 4 - 5</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/gymnastics.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Gymnastics</p>
      <p>Learn basic gymnastics skills on the floor like somersault, cartwheel, head- and handstand.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lachlan Waite</li>
        <li>Age: Early Years - Pre School</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/badminton.jpg', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Badminton</p>
      <p>Learn the fundamentals and enjoy playing Badminton. For beginners and experienced players.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Anna Münster</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/karate.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Karate & Exercise</p>
      <p>Develop your body and mind through training and exercise in the introduction to Karate Club</p>
      <ul class="text-left">
        <li>Teacher: Ms. Celina Pedro & Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/ballet.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Ballet & Contemporary Dance</p>
      <p>Improve the physical, mental and social skills of our students through basketball.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Yuki Yasuda Arami</li>
        <li>Age: PS - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Arts and Crafts Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/art.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Painting (Watercolour & Acrylic)</p>
      <p>For students who are interested in developing their artistic talents.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lubin Nepomuceno</li>
        <li>Age: Grade 2 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/calligraphy.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Japanese Calligraphy</p>
      <p>Learn how to write words with a traditional Japanese calligraphy brush.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Tamiyo Oyama</li>
        <li>Age: Pre School - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/sewing.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Sewing & Craft</p>
      <p>Learn how to make your own shirt/blouse, bag, pillow cover and more!</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Grade 2 and up</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/lego.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Lego</p>
      <p>Develop skills such as problem-solving, organizing, and planning by construction.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Satya d'Amours</li>
        <li>Age: Pre School - Grade 4</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/drama.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Drama</p>
      <p>Students act, create, and use their imagination while having fun.</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lance Brabant</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/piano.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Musical Performance<br> (by Invitation only)</p>
      <p>Be a representative of DSK for special musical performances.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Azusa Nakajima</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 10 - 12</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/teamwork.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Creative Kids</p>
      <p>Have fun doing different arts and crafts activities each week.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Jayshree Ramani</li>
        <li>Age: Grade 1 - Grade 6</li>
        <li>Group size: 4 - 12</li>
      </ul>
    </div>

  </div>

  <div class="row mt-4">
    <div class="col-12">
      <h2>Science, Engineering and Cooking Clubs</h2>
    </div>
  </div>

  <div class="row mt-4">
    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/einstein.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Einstein Club</p>
      <p>Students will prepare and execute experiments related to chemistry, biology, physics and math.</p>
      <ul class="text-left">
        <li>Teacher: Ms. Daniela Rost</li>
        <li>Age: Grade 3 - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/robot.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Makers Club</p>
      <p>For younger students interested in engineering, building and simple coding (Scratch).</p>
      <ul class="text-left">
        <li>Teacher:  Mr. Lubin Nepomuceno</li>
        <li>Age: Pre School - Grade 2</li>
        <li>Group size: 4 - 10</li>
      </ul>
    </div>

    <div class="col-md-4 mt-3 mb-5">
      <%= image_tag 'icons/noun/cooking.png', alt: 'Clubs', class: 'rounded img-fluid' %>
      <p class="lead font-weight-bold">Cooking & Baking</p>
      <p>Kitchen fun for all aspiring chefs and bakers aiming to create mouth-watering recipes!</p>
      <ul class="text-left">
        <li>Teacher: Mr. Lubin Nepomuceno</li>
        <li>Age: Early Years - Grade 6</li>
        <li>Group size: 4 - 8</li>
      </ul>
    </div>
  </div>

</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3">
      <h3>Timetable and More Details</h3>
      <p>For more information about the details of each club, please see our information PDF.</p>

      <p><%= link_to 'Find out more >', '/media/forms/Club-Offerings-Term-1-2019_-2020-2.pdf' %></p>
    </div>

    <div class="col-md-9">
    <%= partial "includes/carousel", :locals => {
      :items => ['photos/Makers-Camp1.jpg']
    } %>
    </div>
  </div>
</div>

<%= partial "includes/en/get_in_touch", :locals => {
  :text => 'If you have any questions please get in touch.'
} %>
