---
title: "Die deutsche Schulgemeinschaft"
description: ""
keywords: []
url:
  legacy: "/community-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/11_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1><%= current_page.data.title %></h1>

      <p>An der DSKI gibt es eine engagierte und aufgeschlossene Gemeinschaft dank der Mithilfe von Eltern, Partnern, Lehrern und Alumni. Dieses hohe Engagement und ein Gefühl von Zugehörigkeit wird an unsere Schüler jeder Altersstufe weitergegeben.</p>
      <p>Wir bieten eine Lernumgebung, die das akademische, emotionale, soziale, körperliche und kreative Wachstum von Kindern allen Alters, ganz gleich ihrer Herkunft und ihrer Erfahrungen, fördert. Als IB World School streben wir danach, die lebenslange Freude am Lernen zu erwecken, um so die Welt positiv verändern zu können.</p>
      <p>Wenn sie Ihr Kind an der Deutschen Schule Kobe International anmelden wird Ihre Familie Teil einer großen Gemeinschaft. Die war schon immer so seit der Gründung der Schule in 1909. Seit über einem Jahrhundert ist die DSKI stolzer Teil eines großen Netzwerks aus Beziehungen und Verbindungen die es den Schülern ermöglichen, ihre Lernziele zu erreichen.</p>
      <p>Wir bestärken Eltern und Alumni mit der Schule in Kontakt zu bleiben, auch nachdem ein Kind die Schule verlassen hat. Wir schätzen die Fähigkeiten und das Wissen unserer Gemeinschaft sehr und sind stolz auf unsere Alumni.</p>
    </div>

    <div class="col-4 offset-md-1">
      <h3>Wir in der Gemeinschaft</h3>
      <ul class="list-unstyled">
        <li>Preschool on the Go</li>
        <li>Blue Team Swimming</li>
        <li>Cooking with Family</li>
      </ul>

      <h3 class="mt-4">Verwandte Seiten</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Ehemalige Schüler', local_path('community/alumni') %></li>
        <li><%= link_to 'Elternbeirat (PTA)', local_path('community/pta') %></li>
        <li><%= link_to 'Sponsoren', local_path('school/sponsors') %></li>
      </ul>

      <h3 class="mt-4">DSKI auf Facebook</h3>
      <p>Für alles Soziale und für Neuigkeiten an unserer Schule, können Sie unserer Facebook-Seite folgen. Wir sind sehr aktiv und würden Sie gern als Follower haben. Wir sehen uns auf Facebook!</p>
      <a href="https://www.facebook.com/dskobe.org">
        <%= image_tag 'fb_logo.png', alt: 'DSKI auf Facebook' %>
      </a>
    </div>
  </div>
</div>

<%= partial "includes/related_icons", :locals => {
  :items => ['community/alumni','community/pta','school/sponsors']
} %>

<%= partial "includes/de/get_in_touch", :locals => {
  :text => 'Haben Sie Interesse daran, unserer lebhaften Gemeinschaft beizutreten? Bitte kontaktieren Sie uns und wir geben Ihnen gerne weitere Details für Eltern, Partner und Alumni.'
} %>
