<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('about') %>" id="about-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.about-us') %></a>
  <div class="dropdown-menu" aria-labelledby="about-dropdown">
    <%= link_to "Welcome", local_path('about/welcome'), class: 'dropdown-item' %>
    <%= link_to 'Calendar', local_path('about/calendar'), class: 'dropdown-item' %>
    <%= link_to 'What We Offer', local_path('about/what-we-offer'), class: 'dropdown-item' %>
    <%= link_to 'Languages at DSKI', local_path('about/languages-at-dski'), class: 'dropdown-item' %>
    <%= link_to 'Physical Education', local_path('about/physical-education'), class: 'dropdown-item' %>
    <%= link_to 'Technology', local_path('about/technology'), class: 'dropdown-item' %>
    <%= link_to 'School Campus', local_path('about/campus'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item font-weight-bolder">
  <%= link_to 'Activities', local_path('activities'), class: 'nav-link' %>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('admissions') %>" id="admissions-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.admissions') %></a>
  <div class="dropdown-menu" aria-labelledby="admissions-dropdown">
    <%= link_to 'Placement', local_path('admissions/placement'), class: 'dropdown-item' %>
    <%= link_to 'Admissions Process', local_path('admissions/process'), class: 'dropdown-item' %>
    <%= link_to "School Fees", local_path('admissions/fees'), class: 'dropdown-item' %>
    <%= link_to 'Enrolment Times', local_path('admissions/schedule'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('programmes') %>" id="programmes-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.programmes') %></a>
  <div class="dropdown-menu" aria-labelledby="programmes-dropdown">
    <%= link_to 'Playgroup', local_path('programmes/playgroup'), class: 'dropdown-item' %>
    <%= link_to 'Early Years', local_path('programmes/early-years'), class: 'dropdown-item' %>
    <%= link_to 'PYP', local_path('programmes/pyp'), class: 'dropdown-item' %>
    <div class="dropdown-divider"></div>
    <%= link_to 'Summer School', local_path('programmes/summerschool'), class: 'dropdown-item' %>
    <%= link_to 'Winter School', local_path('programmes/winterschool'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('saturdayschool') %>" id="saturday-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.saturday') %></a>
  <div class="dropdown-menu" aria-labelledby="saturday-dropdown">
    <%= link_to 'Calendar', local_path('saturdayschool/schedule'), class: 'dropdown-item' %>
    <%= link_to 'Admission', local_path('saturdayschool/admission'), class: 'dropdown-item' %>
    <%= link_to 'Fees', local_path('saturdayschool/fees'), class: 'dropdown-item' %>
    <%= link_to 'English Programme', local_path('saturdayschool/english-program'), class: 'dropdown-item' %>
    <%= link_to 'German Programme', local_path('saturdayschool/german-program'), class: 'dropdown-item' %>
    <%= link_to 'French Programme', local_path('saturdayschool/french-program'), class: 'dropdown-item' %>
    <%= link_to 'Move to Learn', local_path('saturdayschool/move-to-learn'), class: 'dropdown-item' %>
  </div>
</li>

<li class="nav-item dropdown">
  <a class="nav-link dropdown-toggle font-weight-bolder" href="<%= local_path('school') %>" id="community-dropdown" aria-haspopup="true" aria-expanded="false"><%= t('menu.school') %></a>
  <div class="dropdown-menu dropdown-menu-right" aria-labelledby="community-dropdown">
    <%= link_to 'Clubs', local_path('school/clubs'), class: 'dropdown-item' %>
    <%= link_to 'Board', local_path('school/board'), class: 'dropdown-item' %>
    <%= link_to 'PTA', local_path('school/pta'), class: 'dropdown-item' %>
    <%= link_to 'Alumni', local_path('school/alumni'), class: 'dropdown-item' %>
    <%= link_to 'Careers', local_path('school/careers'), class: 'dropdown-item' %>
    <%= link_to 'Sponsors', local_path('school/sponsors'), class: 'dropdown-item' %>
  </div>
</li-->
