---
title: "Board"
description: ""
keywords: []
url:
  legacy: "/about-us/board-en/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/7_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1>School Board 2019/2020</h1>
    </div>
  </div>

  <div class="row mt-5">

    <% data.board.people.each do |person| %>
    <div class="col-md-4 mb-5">
      <h3><%= person.name %></h3>
      <h5><%= person.title %></h5>
      <%= image_tag person.image, alt: 'Board Member', class: 'img-fluid d-block w-90' %>
      <p class="font-weight-bold mt-2">Nationality: <%= person.nationality %></p>
      <p><%= person.abstract %></p>
    </div>
    <% end %>

  </div>

</div>
