---
title: "Our Sponsors"
icon: "icons/sponsors.png"
description: ""
keywords: []
url:
  legacy: "/about-us/sponsors/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/2_header_thin.jpg', alt: data.config.title, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-12">
      <h1><%= current_page.data.title %></h1>

      <p>DSK International appreciates the support given to us by the following companies/ organisations. Their support and contributions helps us to deliver quality education to the students.</p>
      <p>If you wish to offer sponsorship as well please contact <%= mail_to 'marketing@dskobe.org', 'marketing@dskobe.org' %>.</p>

      <h2 class="mt-5">Gold Level</h2>
      <div class="container">
      <% data.sponsors.gold.each do |item| %>
        <div class="row">
          <div class="col-md-6 mt-5 pr-5">
            <p><%= link_to item.name, item.website, class: 'lead font-weight-bold' %></p>
            <p><%= item.abstract %></p>
          </div>
          <div class="col-md-6">
          <% link_to item.website do %>
            <%= image_tag item.image, alt: item.name, class: 'img-fluid d-block w-100' %>
          <% end %>
          </div>
        </div>
      <% end %>
      </div>

      <h2 class="mt-5">Bronze Level</h2>
      <div class="container">
        <div class="row">
        <% data.sponsors.bronze.each do |item| %>
          <div class="col-md-6">
            <p><%= link_to item.name, item.website, class: 'lead font-weight-bold' %></p>
            <p><%= item.abstract %></p>
          </div>
        <% end %>
        </div>
      </div>

      <h2 class="mt-5">Supporters</h2>
      <ul>
      <% data.sponsors.supporter.each do |item| %>
        <li><%= link_to item.name, item.website %></li>
      <% end %>
      </ul>

    </div>
  </div>
</div>
