---
title: "11歳の学習者のための神戸にある国際バカロレア認定校"
description: ""
keywords: []
url:
  legacy: "/admissions/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>入学</h1>

      <p>神戸ドイツ学院ヨーロピアンスクールは2つのプログラムに分かれています(ドイツプログラムと国際プログラム)</p>
      <p>国際プログラムの学習者に対する指導言語は英語で、子供たちは日本語とドイツ語も学ぶ機会があります。ドイツプログラムの学習者に対しては、数学と語学の授業はドイツ語で行われますが、全ての授業において言語サポートを行っています。</p>
      <p>ドイツと国際プログラムの生徒はコミュニティ形成を後押しするために、クラス全体として探求型学習を受けています。</p>
    </div>

    <div class="col-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>申込書</h3>
      <ul class="list-unstyled">
        <li><%= link_to '申込書のダウンロード', '/media/forms/Application-Form-2019.pdf' %></li>
        <li><%= link_to '登録パックのダウンロード', '/media/packs/Registration-pack_2019-1.zip' %></li>
      </ul>

      <h3>オンライン申請</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'オンラインフォームで申し込む', 'https://docs.google.com/forms/d/e/1FAIpQLSeOV2SL358ecQ_8i1o7xeYMlcK41EQUaKghBHU_yG142AD8Og/viewform?usp=sf_link' %></li>
      </ul>

      <h3>提出</h3>
      <ul class="list-unstyled">
        <li><%= mail_to data.config.mailto + '?Subject=My application form is attached', '申込書をここに提出する' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>入学方法</h2>

      <p>DSKIでは入学前(許可前)と登録(許可後)の2つの段階があります。</p>

      <h3>入学前</h3>

      <p>DSKIへ入学を希望される場合、申請書を記入し提出してください。「申請書」をダウンロードし提出するか、オンラインフォームを経て提出することができます。ページ右側よりご利用ください。もし、入学や学校に関する質問や、申請書の提出を希望する場合は、こちらまでメールでご連絡ください。</p>

      <h3>登録</h3>

      <p>DSKIへ入学することを希望の親御様は、学校に申請書が受理された後、入学手続きページの「登録手続き」にリストアップされている全ての書類を記入し、署名、提出する必要があります。受託後メールにて書類と手続きに関する手順をご連絡します。</p>
      <p>もし、これらの書類を紛失又は削除した場合、ページ右側の「許可後の登録利用パック」からこれら書類にアクセスすることもできます。登録手続きの詳細説明については「入学手続き」をご参照ください。</p>
    </div>

    <div class="col-4 offset-md-1">
      <h3 class="mt-5">Enrolment Process</h3>
      <p>ステップ１<br>お問い合わせをする</p>
      <p>ステップ２<br>アプリケーションの提出</p>
      <p>ステップ３<br>インタビュー</p>
      <p>ステップ４<br>オファーを受け入れる</p>
      <p>ステップ５<br>オリエンテーションに参加する</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/schedule'), class: 'stretched-link' do %>
          <%= image_tag 'icons/times.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">入学時期</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/placement'), class: 'stretched-link' do %>
          <%= image_tag 'icons/placement.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">クラス分け</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/process'), class: 'stretched-link' do %>
          <%= image_tag 'icons/process.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">入学手続き</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('about/school-fees'), class: 'stretched-link' do %>
          <%= image_tag 'icons/fee.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">学費</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-7">
      <h3>入学に関する連絡先</h3>

      <p>お子様への学校選択は親として最も重大な決断の1つです。私達は可能な限りお手伝いしたいと考えています。入学オフィスは月曜日から木曜日午前8時－午後4時まで対応いたします。</p>

      <ul class="list-unstyled">
        <li>Yasuyo Masada, Head of Enrolments / Office Manager</li>
        <li>お電話: <a href="tel:078 857 9777">078-857-9777</a></li>
        <li>ファクス: <a href="fax:078 857 9775">078-857-9775</a></li>
        <li>メール: <%= mail_to data.config.mailto, data.config.mailto, role: 'button' %></li>
      </ul>

      <h3>神戸ドイツ学院の見学</h3>

      <p>定期的に小グループの学校見学を行っています。毎年5月に学校全体を紹介するオープンディもあります。学校見学のご予約の際はご連絡ください。</p>
      <p><%= mail_to data.config.mailto + '?subject=School Tour', '見学予約 »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>

    <div class="col-4 offset-md-1"></div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>入学のご質問がありますか？ご連絡下さい</p>
    <p>
      <%= mail_to data.config.mailto + '?Subject=Enquiry about Enrolment', 'お問い合わせ »', class: 'btn btn-lg btn-info', role: 'button' %>
    </p>
  </div>
</div>
