---
title: "Die Deutsche Schule Kobe"
description: ""
keywords: []
url:
  legacy: "/admissions-de/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/8_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5">
  <div class="row">
    <div class="col-7">
      <h1>Aufnahme</h1>

      <p>Grundsätzlich lernen alle Kinder gemeinsam in ihrer Klasse mit ihrem Klassenlehrer, unabhängig davon, welche Sprache ihre Muttersprache ist.</p>
      <p>Trotzdem lernen alle Schüler während der ersten beiden Unterrichtsstunden eines Tages entweder auf Englisch oder Deutsch als Unterrichtssprache, abhängig von ihrer Muttersprache und Wahl. Wir nennen diese Wahl Deutscher oder Internationaler Zweig.</p>
      <p>Die Deutsche Schule Kobe International hat zwei Sprachbereiche: den deutschen und den internationalen Zweig.</p>
      <p>Für Schüler im internationalen Zweig ist die Unterrichtssprache Englisch. Weiterhin nehmen sie am Deutsch- und Japanischunterricht teil. Für Schüler, die eine andere Muttersprache als Deutsch oder Englisch haben, wird zusätzlicher Förderunterricht angeboten.</p>
      <p>Schüler des deutschen und des internationalen Zweiges lernen gemeinsam durch entdeckendes Lernen wodurch ihr Gemeinschaftsgefühl gestärkt wird.</p>
      <p>Falls Sie sich unsicher über die Sprachen an der DSKI sind, können Sie auf der Seite <%= link_to 'Sprachen an der DSKI', local_path('about/languages-at-dski') %>  mehr erfahren.</p>
    </div>

    <div class="col-4 offset-md-1">
      <%= image_tag 'icons/download.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2' %>
      <h3>Aufnahmeformular</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Zugang Aufnahmeformularm', '/media/forms/Application-Form-2019.pdf' %></li>
        <li><%= link_to 'Zugang Registrierungspacket', '/media/packs/Registration-pack_2019-1.zip' %></li>
        <li><%= link_to 'Nach Aufnahmebestätigung', '/media/packs/Registration-pack_2019-1.zip' %></li>
      </ul>

      <h3>Online Aufnahme</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Aufnahmeantrag durch online-Formular', 'https://docs.google.com/forms/d/e/1FAIpQLSeOV2SL358ecQ_8i1o7xeYMlcK41EQUaKghBHU_yG142AD8Og/viewform' %></li>
      </ul>

      <h3>Zustellung des Formulars</h3>
      <ul class="list-unstyled">
        <li><%= mail_to data.config.mailto + '?Subject=My application form is attached', 'Stellen Sie den Aufnahmeantrag hier zu' %></li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-7">
      <h2>Wie man sich einschreibt</h2>

      <p>Die Aufnahme eines Schülers/einer Schülerin gliedert sich in 2 Phasen: Vor der Aufnahme und nach der Aufnahmebestätigung.</p>

      <h3>Vor der Aufnahme</h3>

      <p>Wenn Sie eine Aufnahme ihres Kindes an der DSKI wünschen, bitten wir Sie, das Aufnahmeformular auszufüllen und uns zuzuschicken. Sie können das Dokument herunterladen und uns gescannt zurückschicken. Sie können auch das Online-Formular nutzen. Beide Dokumente finden Sie rechts auf dieser Seite. Wenn Sie Fragen bezüglich des Aufnahmeverfahrens oder unserer Schule haben oder das ausgefüllte Formular zuschicken möchten, tun Sie dies bitte <%= mail_to data.config.mailto + '?Subject=Anmeldung', 'hier' %>.</p>

      <h3>Anmeldung</h3>

      <p>Wenn Sie eine Aufnahme Ihres Kindes an unserer Schule wünschen und die Aufnahmeanfrage bestätigt wurde, füllen Sie bitte die Aufnahmeformulare aus und unterschreiben diese. Sie finden alle Dokumente in dem “Registrierungsverfahren” -bereich der Aufnahmeverfahren-Seite. Wir werden Ihnen nach Befürwortung der Aufnahme die Dokumente zur Verfügung stellen und Sie durch den Registrierungsprozess geleiten.</p>
      <p>Falls Sie die Dokumente verlieren oder versehentlich löschen, können Sie diese unter “Zugang Registrierungspacket Nach Aufnahmebestätigung” rechts auf der Seite herunterladen.</p>
      <p>Für weitere, ausführliche Informationen lesen Sie bitte die detaillierten Erklärungen unter “Aufnahmeprozess”.</p>
    </div>

    <div class="col-4 offset-md-1">
      <h3 class="mt-5">Aufnahmeprozess</h3>
      <p>ERSTER SCHRITT<br>Stellen Sie eine Aufnahmeanfrage</p>
      <p>ZWEITER SCHRITT<br>Senden Sie uns das Aufnahmeformular zu</p>
      <p>DRITTER SCHRITT<br>Gespräch</p>
      <p>VIERTER SCHRITT<br>Einladung zu einem Besuchstag</p>
      <p>FÜNFTER SCHRITT<br>Besuchstag</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mt-5 p-0" style="margin-bottom:0;">
  <div class="container">
    <div class="row text-center">
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/schedule'), class: 'stretched-link' do %>
          <%= image_tag 'icons/times.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Aufnahmezeiten</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/placement'), class: 'stretched-link' do %>
          <%= image_tag 'icons/placement.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Platzierung</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('admissions/process'), class: 'stretched-link' do %>
          <%= image_tag 'icons/process.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Aufnahmeverfahren</p>
        <% end %>
      </div>
      <div class="col-md-3 p-5">
        <% link_to local_path('about/school-fees'), class: 'stretched-link' do %>
          <%= image_tag 'icons/fee.png', alt: data.config.site_name, class: 'rounded img-fluid mb-2', style: 'height:120px;' %>
          <p class="lead">Schulgebühren</p>
        <% end %>
      </div>
    </div>
  </div>
</div>

<div class="container mt-5 mb-5">
  <div class="row">
    <div class="col-7">
      <h3>Kontaktdetails für die Registrierung</h3>

      <p>Die Auswahl der richtigen Schule für Ihr Kind ist einer der wichtigsten Entscheidungen, die Sie als Eltern machen werden. Wir möchten Sie dabei in jeglicher Weise unterstützen. Unser Büro ist für Sie geöffnet Montag-Freitag von 8:00 Uhr bis 16:00 Uhr.</p>

      <ul class="list-unstyled">
        <li>Yasuyo Masada, Head of Enrolments / Office Manager</li>
        <li>Telefon: <a href="tel:078 857 9777">078-857-9777</a></li>
        <li>Fax: <a href="fax:078 857 9775">078-857-9775</a></li>
        <li>Email: <%= mail_to data.config.mailto, data.config.mailto, role: 'button' %></li>
      </ul>

      <h3>Schultouren unseres Campus</h3>

      <p>Wir veranstalten regelmäßig Besichtigungstouren für kleine Gruppen an unserer Schule. Weiterhin laden wir Sie zum Besuch eines Open Days im November oder Februar ein, wo wir Ihnen die gesamte Schule in Aktion zeigen.</p>
      <p><%= mail_to data.config.mailto + '?subject=School Tour', 'Buchen Sie eine Tour »', class: 'btn btn-lg btn-info', role: 'button' %></p>
    </div>

    <div class="col-4 offset-md-1">
      <h3>FAQs</h3>
      <p>Bitte klicken Sie <%= link_to 'hier', local_path('admissions/faq') %>, um zu unserer Fragen-Seite zu kommen.</p>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid text-center bg-warning" style="margin-bottom:0;">
  <div class="container">
    <p>Bitte kontaktieren Sie uns für weitere Informationen</p>
    <p>
      <%= mail_to data.config.mailto + '?Subject=Enquiry about Enrolment', 'Kontakt »', class: 'btn btn-lg btn-info', role: 'button' %>
    </p>
  </div>
</div>
