---
title: "Admissions"
icon: "icons/admissions.png"
description: ""
keywords: []
banner: "banners/8_header_thin.jpg"
---

# <%= current_page.data.title %> Process

DSK International has three branches: the International, German and French branch.

For learners in the International Branch the language of instruction is English, children also have the opportunity to learn Japanese and German. For learners in the German Branch, math and language classes are conducted in German, and all other classes are conducted in English except for the Japanese lessons.

German and International Branch students enjoy inquiry-based learning together as a whole class to encourage community building.

If you are unsure about languages at DSK International, please see our <%= link_to 'languages page', local_path('about/languages-at-dski') %> for more detailed information.

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mt-4">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step One"><title>Step One</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step One</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step One</button> Make an Enquiry</h3>
    <p class="card-text mb-auto">Please email <%= mail_to data.config.contact.mailto, data.config.contact.mailto %> or call +81 (0)78-857-9777 to speak to one of our admission office staff about enrolments. We will organize a date for you to <%= link_to "come in and visit us", "contact" %> or have a conference call for overseas applicants.</p>
  </div>
</div>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="170" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step Two"><title>Step Two</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step Two</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step Two</button> Pre-Admission Questionnaire</h3>
    <p class="card-text mb-auto">Please <%= link_to "submit this", "#downloads" %> to the school office. It provides us with some basic information in advance of us meeting you, so we can have a more focused conversation on how to best help your child.</p>
  </div>
</div>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step Three"><title>Step Three</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step Three</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step Three</button> Visit Us</h3>
    <div class="text-muted">In Japan</div>
    <p class="card-text mb-auto">Please come to <%= link_to "visit us and have a guided school tour", "contact" %>. You can meet with the principal and also get to meet the teachers, see how our programme works and ask any questions you may have. You'll learn a lot about DSK International!</p>

    <div class="text-muted mt-3">Outside Japan</div>
    <p class="card-text mb-auto">We are very happy to have video conference calls or phone calls with interested families. If you are not in Japan yet, we would be happy to set up an appointment at a time that is convenient to you.</p>
  </div>
</div>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="250" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step Four"><title>Step Four</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step Four</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step Four</button> Submit an Application Form and Report Cards</h3>
    <p class="card-text mb-auto">After the initial visit or call we would need from you:</p>
    <ul class="mb-0">
      <li><%= link_to "Application Form", "#downloads" %></li>
      <li>Three of the most recent report cards from your current school/kindergarten.<br><span class="small">Please include translations if the documents are in a language other than English, German, French or Japanese.</span></li>
    </ul>
    <span>or</span>
    <ul>
      <li>Confidential School Report Form/Early Years Recommendation Form</li>
    </ul>
  </div>
</div>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step Five"><title>Step Five</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step Five</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step Five</button> Attend a Trial Day</h3>
    <p class="card-text mb-auto">We don't use entrance exams but we do like to meet the students, get to know them and see if they would be happy in our school.</p>

    <div class="text-muted mt-3">In Japan</div>
    <p class="card-text mb-auto">The trial for students aged 2 - 5 years old is from 9.00am to 1.00pm. For students aged 6  and over it is 8.30am to 3.30pm. Teachers will observe the student and assess their language skills, academic level and general aptitude.<br>
    Following the trial day, an interview will take place or the school office will telephone you to notify about the child’s trial result.</p>

    <div class="text-muted mt-3">Outside Japan</div>
    <p class="card-text mb-auto">We understand that not all families are able to have the child attend for a trial day in advance of enrolment. In the case of overseas families, we will pass this step, and make admissions decisions based on the report cards and confidential reference.</p>
  </div>
</div>

<div class="row no-gutters border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative mb-5">
  <div class="col-auto d-none d-lg-block">
    <svg class="bd-placeholder-img" width="230" height="300" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Step Six"><title>Step Six</title><rect width="100%" height="100%" fill="#fec10d"></rect><text x="15%" y="50%" fill="#333333" dy=".3em" font-size="34" font-weight="4">Step Six</text></svg>
  </div>
  <div class="col p-4 d-flex flex-column position-static">
    <h3><button type="button" class="btn btn-outline-secondary btn-sm d-lg-none">Step Six</button> Accept an Offer</h3>
    <p class="card-text mb-auto">Parents wishing to enroll their child at DSK International, after the child has been accepted by the school, need to provide:</p>
    <ul>
      <li>Registration Form</li>
      <li>Declaration Form</li>
      <li>Student Information Form</li>
      <li>Vaccination records (if not submitted at a trial)</li>
      <li>Physical Examination Form (by doctor)</li>
      <li>A copy of the student’s passport (photo page)</li>
    </ul>
  </div>
</div>

<span id="downloads"></span>

## Document Downloads

* Pre-admission Questionnaire (for <%= link_to 'Early Years', '/media/forms/Pre-admission-Questionnaire-KG-2020.pdf' %>; for <%= link_to 'Primary Years', '/media/forms/Pre-admission-Questionnaire-Primary-School-2020.pdf' %>. Playgroup doesn't require)
* <%= link_to 'Application Form', '/media/forms/Application-Form-2019.pdf' %>
* <%= link_to 'Registration Form', '/media/forms/Registration-Form-2018-2019.pdf' %>
* <%= link_to 'Declaration Form', '/media/forms/Declaration-Form-2018-2019.pdf' %>
* <%= link_to 'Student Information Form', '/media/forms/Student-Information-Form-2018-2019.pdf' %>
* <%= link_to 'Physical Examination Form (by doctor)', '/media/forms/Physical-examination-form-2018-2019.pdf' %>
* Vaccination records (if not submitted at a trial)

<div class="row mb-4 mt-4">
  <div class="col-md-4"><%= mail_to data.config.contact.mailto + '?Subject=My application form is attached', 'Submit Application', class: 'btn btn-lg btn-outline-info btn-block', role: 'button' %></div>
</div>

<p class="lead mt-4">If you would like any information about the process please don't hesitate to <%= link_to "contact us", "contact" %>.</p>
