---
title: "申請手続き：申請と登録"
description: ""
keywords: []
url:
  legacy: "/admissions/admissions-process-jpn/?lang=ja"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-8">
      <h1>申請と登録</h1>

      <h2 class="mt-4">申請手続き</h2>

      <p>手続きの一環として、以下の書式と書類を提出してください。</p>

      <p class="lead font-weight-bold mt-4">校長先生に会う前：</p>

      <p>１）<%= link_to '出願申込書', '/media/forms/Application-Form-2019.pdf' %>(トライアル料20,000円を添えて)を提出して下さい。または<%= link_to 'オンライン申請', 'https://docs.google.com/forms/d/e/1FAIpQLSeOV2SL358ecQ_8i1o7xeYMlcK41EQUaKghBHU_yG142AD8Og/viewform?usp=sf_link' %>。</p>
      <p>申請する上で最初の大切なステップです。申請を受け取ったことをご連絡して、私達や校長に会って頂くご来校日を調整します。</p>

      <p class="lead font-weight-bold mt-4">トライアルディ前：</p>

      <p>２）申請時に保育園または幼稚園に入園していた場合は報告書もしくは推薦状、又は申請時に小学校に入学していた場合、最新3つの報告書。</p>
      <p>以下の書類と共に</p>

      <ul>
        <li>通った学校がドイツの学校でない場合の評点方式の説明書(説明が成績表に含まれていない場合)</li>
        <li>文書がドイツ語、英語以外の言語の場合は翻訳書</li>
      </ul>

      <p>３） <%= link_to '健康確認書(問診票)', '/media/forms/Student-Health-File-20182019.pdf' %></p>
      <p>これらの書類は遅くともトライアルディの1週間前までに提出する必要があります。全ての必要書類が提出され申請手続きが完了した生徒が入学することができます。</p>
      <p>DESKは以下の場合、入学を拒否または学校から入学取り消しとお願いする権利を有しています。</p>

      <ul>
        <li>入学手続き中の重要な情報は公開しない(重大なケースの場合、既にお支払いの学費の払い戻しはありません)。</li>
        <li>学生の要望にDESKのプログラムやサービスでは対応できない。</li>
        <li>学生の指導言語スキルが低いため、クラスメイトと一緒に活動することができない、又は卒業前に指導言語スキルが発達する十分な時間が取れない。</li>
        <li>他の生徒の教育を妨げたり、健康や安全を危険にさらすような行動をとる生徒。</li>
        <li>規定により、学費の返金はいたしません(手数料のしくみを参照)。</li>
      </ul>

      <p>クラスが定員に達した場合、応募者は待機リストに登録させていただきます。登録料の支払いは、定員に空きが生じた際に枠の保証へ充てられます。</p>

      <p class="lead font-weight-bold mt-4">支払い請求</p>

      <p>出願料はトライアルディ前に支払われなければなりません。</p>
    </div>

    <div class="col-3 offset-md-1">
      <h3>戻る</h3>
      <ul class="list-unstyled">
        <li><%= link_to '入学へ', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>登録方法</h2>

        <p>お子様をDESKへ入学を希望される親御様は出願申込書が学校に受理された後、以下の書類を記入・提出しなければいけません：</p>

        <ol>
          <li>入学前アンケート (<%= link_to '幼稚園', '/media/forms/Pre-admission-Questionnaire-KG-2019.pdf' %>｜<%= link_to '小学校', '/media/forms/Pre-admission-Questionnaire-Primary-School-2019.pdf' %>)</li>
          <li><%= link_to '登録用紙', '/media/forms/Registration-Form-20182019.pdf' %>*</li>
          <li><%= link_to '同意書', '/media/forms/Declaration-Form-20182019.pdf' %>*</li>
          <li><%= link_to '健康診断書', '/media/forms/Physical-examination-form-20182019.pdf' %></li>
          <li><%= link_to '学生の個人情報', '/media/forms/Student-Information-Form-20182019.pdf' %></li>
          <li><%= link_to '学生の健康確認書(問診票)', '/media/forms/Student-Health-File-20182019.pdf' %> (if not submitted pre-admission)</li>
          <li>学生のパスポート写し(写真ページ)</li>
        </ol>

        <p>*これらの書類は学生の両親(もしくは法定代理人)と学校との契約項目とみなされます。全ての学生は最初の8週間をお試し期間とします。</p>

        <p class="lead font-weight-bold mt-4">登録料の支払い</p>

        <p>親御様へ請求します。</p>

        <p class="lead font-weight-bold mt-4">追加言語サポートを必要とする学生</p>

        <p>指導言語への追加サポートが必要な可能性があると判断された学生は、入学前に評価をうけていただきます。当校において、無料での追加言語サポートの教育時間には限りがあります。追加言語サポートが必要とみなされたお子様は無料言語サポートが優先的となります。</p>
        <p>言語についてより詳しい情報は、<%= link_to 'DSKIの言語', local_path('about/languages-at-dski') %>のページをご覧下さい。</p>

      </div>
    </div>
  </div>
</div>
