---
title: "Aufnahmeverfahren"
icon: "icons/process.png"
description: ""
keywords: []
url:
  legacy: "/admissions-de/admissions-process/?lang=de"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-md-8">
      <h1><%= current_page.data.title %></h1>

      <h2 class="mt-4">Bewerbungsverfahren</h2>

      <p>Die folgenden Dokumente müssen als Teil des Bewerbungsverfahren eingereicht werden:</p>

      <p class="lead font-weight-bold mt-4">Vor dem Interview mit dem Schulleiter</p>

      <p>1) Ein Bericht oder Empfehlung, sollte das Kind momentan im Kindergarten sein, oder, wenn das Kind zu einer Grundschule geht, die drei letzten Zeugnisse. </p>
      <ul>
        <li>Eine Erklärung der Leistungsbeurteilung, sollte die besuchte Schule keine deutsche Schule sein/ wenn keine Erklärung im Zeugnis vorhanden ist. </li>
        <li>Übersetzungen, wenn die eingereichten Dokumente weder in deutscher noch in englischer Sprache sind. </li>
      </ul>

      <p>2) Vorabfragebogen: <%= link_to 'Kindergarten', '/media/forms/Pre-admission-Questionnaire-KG-2019.pdf' %> und <%= link_to 'Primary School', '/media/forms/Pre-admission-Questionnaire-Primary-School-2019.pdf' %></p>

      <p class="lead font-weight-bold mt-4">Vor dem Probetag</p>

      <p>3) <%= link_to 'Application Form', '/media/forms/Application-Form-2019.pdf' %> (mit Probegebühren von 20.000 Yen)</p>

      <p>4) <%= link_to 'Student Health File', '/media/forms/Student-Health-File-20182019.pdf' %></p>

      <p>Diese Dokumente müssen spätestens eine Woche vor dem Probetag eingereicht werden. Schüler können nur aufgenommen werden, wenn alle notwendigen Dokumente eingereicht wurden und der Bewerbungsprozess abgeschlossen ist.</p>
      <p>DSKI behält sich das Recht vor, Aufnahmen abzulehnen bzw. bereits aufgenommene Schüler der Schule zu verweisen, wenn:</p>

      <ul>
        <li>wichtige Informationen während des Aufnahmeverfahrens zurückgehalten werden (in schweren Fällen werden bereits überwiesene Studiengebühren nicht erstattet) </li>
        <li>die Bedürfnisse des Schülers/der Schülerin weder von den Programmen noch den Diensten DSKIs erfüllt werden können </li>
        <li>die Sprachkenntnisse so gering sind, sodass der Schüler/die Schülerin unfähig ist in der Klassengemeinschaft mit Partnern zu arbeiten und/oder nicht ausreichend Zeit vorhanden ist diese Mängel vor Graduierung zu beheben</li>
        <li>das Verhalten des Schülers/der Schülerin die Bildung anderer Schüler negativ beeinträchtigt oder deren Gesundheit/Sicherheit gefährdet</li>
        <li>Schulgebühren werden nicht gemäß den Vorschriften beglichen</li>
      </ul>

      <p>Sollte die angestrebte Klasse voll sein, so wird der Bewerber/die Bewerberin auf eine Warteliste gesetzt. Die Bezahlung der Zulassungsgebühr garantiert einen Platz, sobald ein Platz verfügbar wird.</p>

      <p class="lead font-weight-bold mt-4">Aufnahmegebühr</p>

      <p>Die Aufnahmegebühr muss vor dem Schnuppertag bezahlt werden.</p>
    </div>

    <div class="col-md-3 offset-md-1">
      <h3>Zurück</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Zurück zu Aufnahme', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Registrierungsverfahren</h2>

        <p>Die Eltern, die ihr Kind nach erfolgreicher Bewerbung am DSKI anmelden möchten, müssen folgenden Unterlagen ausfüllen und signieren:</p>

        <ol>
          <li>Vorabfragebogen (für Kindergarten und Grundschule)</li>
          <li><%= link_to 'Application Form', '/media/forms/Application-Form-2018.docx.pdf' %> mit Passbild</li>
          <li><%= link_to 'Registration Form', '/media/forms/Registration-Form-20182019.pdf' %>*</li>
          <li><%= link_to 'Declaration Form', '/media/forms/Declaration-Form-20182019.pdf' %>*</li>
          <li><%= link_to 'Physical Examination Form', '/media/forms/Physical-examination-form-20182019.pdf' %></li>
          <li><%= link_to 'Student Information Form', '/media/forms/Student-Information-Form-20182019.pdf' %></li>
          <li><%= link_to 'Student Health File', '/media/forms/Student-Health-File-20182019.pdf' %></li>
          <li>Eine Kopie vom Reisepass des Kindes (Fotoseite)</li>
        </ol>

        <p>*Diese Dokumente bilden die rechtliche Grundlage zwischen den Eltern des Schülers (oder gesetzlichen Vertretern) und der Schule. Alle Schüler befinden sich in den ersten 8 Monaten in einer Bewährungsphase.</p>

        <p class="lead font-weight-bold mt-4">Registrierungsgebühr</p>

        <p>Die Schule wird die Eltern benachrichtigen.</p>

        <p class="lead font-weight-bold mt-4">Zusätzliche Sprachunterstützung</p>

        <p>Schüler, die möglicherweise zusätzlichen Sprachunterricht in der Unterrichtssprache benötigen, werden vor der Aufnahme evaluiert. Die Schule kann eine begrenzte Anzahl an kostenlosen zusätzlichen Sprachstunden anbieten. Die Priorität hierbei liegt bei Schülern, die nach Erachten der Schule, am meisten auf Hilfe angewiesen sind.</p>

      </div>
    </div>
  </div>
</div>
