---
title: "Admissions Process"
description: ""
keywords: []
url:
  legacy: "/admissions/admissions-process/"
---

<div class="container-fluid p-0">
  <%= image_tag 'banners/3_header_thin.jpg', alt: data.config.site_name, class: 'img-fluid d-block w-100' %>
</div>

<div class="container mt-5 mb-4">
  <div class="row">
    <div class="col-8">
      <h1>Application and Registration</h1>

      <h2 class="mt-4">Application Process</h2>

      <p>The following forms and documents must be submitted as part of the application process:</p>

      <p class="lead font-weight-bold mt-4">Before the interview with the principal:</p>

      <p>1) Please submit the <%= link_to 'Access Application Form', '/media/forms/Application-Form-2019.pdf' %> (with trial fee of 20,000 yen) or complete the <%= link_to 'online application form', 'https://docs.google.com/forms/d/e/1FAIpQLSeOV2SL358ecQ_8i1o7xeYMlcK41EQUaKghBHU_yG142AD8Og/viewform?usp=sf_link' %>.</p>
      <p>This is the first important step for your application. We will contact you to let you know we have received your application and organise a date to come in and meet us and the principal.</p>

      <p class="lead font-weight-bold mt-4">Before the trial day:</p>

      <p>2) Report or recommendation if the child is enrolled in a nursery or kindergarten at the time of application or, if the child is enrolled in a primary school at the time of application, the 3 most recent report cards, including</p>
      <ul>
        <li>An explanation of the grading system if the school attended is not a German school/if an explanation is not included in the report cards</li>
        <li>Translations if the documents are in a language other than German or English</li>
      </ul>
      <p>The reports or recommendations</p>

      <p>3) <%= link_to 'Student Health File', '/media/forms/Student-Health-File-20182019.pdf' %></p>
      <p>These documents have to be submitted one week before the trial day at the latest. Students can only be admitted after all required documents have been submitted and the application process has been completed.</p>
      <p>DSKI reserves the right to deny admission or ask students to withdraw from the school if;</p>

      <ul>
        <li>important information during the admission process is withheld (in severe cases there will be no refund of school fees already paid)</li>
        <li>the students’ needs cannot be met by DSKI’s programmes or services</li>
        <li>the students’ skills in the language of instruction is so low that they are unable to work in a class with their peers and/or do not have adequate time to develop their skills in the language of instruction before they graduate</li>
        <li>the students’ behavior compromises the education of other students or endangers their health and safety</li>
        <li>school fees are not paid according to regulations (see <%= link_to 'Fee Structure', local_path('about/school-fees') %>)</li>
      </ul>

      <p>If a class is full, the applicant may be placed on a waiting list. Payment of the registration fee will guarantee a place in the school once there is an opening.</p>

      <p class="lead font-weight-bold mt-4">Payment for Application</p>

      <p>The Application Fee has to be paid before the trial day takes place.</p>
    </div>

    <div class="col-3 offset-md-1">
      <h3>Go Back</h3>
      <ul class="list-unstyled">
        <li><%= link_to 'Take me back to Admissions', local_path('admissions') %></li>
      </ul>
    </div>
  </div>
</div>

<div class="jumbotron jumbotron-fluid mb-0">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Application Process</h2>

        <p>Parents wishing to enroll their child at DESK, after the application has been accepted by the school, must provide/fill out and sign:</p>

        <ol>
          <li>Pre-admission Questionnaire (for <%= link_to 'Early Years', '/media/forms/Pre-admission-Questionnaire-KG-2019.pdf' %>; for <%= link_to 'Primary Years', '/media/forms/Pre-admission-Questionnaire-Primary-School-2019.pdf' %>. Playgroup doesn't require)</li>
          <li><%= link_to 'Registration Form', '/media/forms/Registration-Form-20182019.pdf' %>*</li>
          <li><%= link_to 'Declaration Form', '/media/forms/Declaration-Form-20182019.pdf' %>*</li>
          <li><%= link_to 'Physical Examination Form', '/media/forms/Physical-examination-form-20182019.pdf' %></li>
          <li><%= link_to 'Student Information Form', '/media/forms/Student-Information-Form-20182019.pdf' %></li>
          <li><%= link_to 'Student Health File', '/media/forms/Student-Health-File-20182019.pdf' %> (if not submitted pre-admission)</li>
          <li>A copy of the student’s passport (photo page)</li>
        </ol>

        <p>*These documents constitute the terms of the contract between the student’s parents (or legal representatives) and the school. All students are on probation during the first 8 weeks.</p>

        <p class="lead font-weight-bold mt-4">Payment for Registration</p>

        <p>The school will invoice the parents.</p>

        <p class="lead font-weight-bold mt-4">Students requiring additional language support</p>

        <p>Students who are identified as possibly requiring additional support in the language of instruction must be assessed prior to admission. The school has a limited amount of teaching hours allocated for free additional language support. Children deemed by the school as most in need of additional language support are given priority in the allocation of free additional language support.</p>
        <p>For more information about languages at DSKI please see our <%= link_to 'languages page', local_path('about/languages-at-dski') %>.</p>

      </div>
    </div>
  </div>
</div>
